Repository toss/suspensive, pull requests merged in 2023-11, with the labels that each got.

#283 fix(react): remove useless variable assigning in useIsomorphicLayoutEffect
  .changeset/healthy-zoos-matter.md
  configs/test-utils/src/ThrowError.tsx
  packages/react/src/hooks/useIsomorphicLayoutEffect.ts
Labels: @suspensive/react

#280 feat(react): update wrap as builder pattern
  packages/react/src/AsyncBoundary.tsx
  packages/react/src/Delay.tsx
  packages/react/src/ErrorBoundary.tsx
  packages/react/src/ErrorBoundaryGroup.tsx
  packages/react/src/Suspense.tsx
  packages/react/src/wrap.ts
  websites/visualization/src/app/react/experimental/wrap/after/page.tsx
Labels: visualization, @suspensive/react

#289 chore: update project's dependencies
  .changeset/tender-turkeys-sniff.md
  .github/workflows/ci.yml
  .github/workflows/code-coverage.yml
  .github/workflows/graph.yml
  .github/workflows/release.yml
  .nvmrc
  configs/eslint-config-js/package.json
  configs/eslint-config-ts/package.json
  configs/eslint-config/package.json
  configs/eslint-config/react.js
  configs/test-utils/package.json
  docs/package.json
  package.json
  packages/react-await/package.json
  packages/react-query/package.json
  packages/react-query/src/useSuspenseInfiniteQuery.ts
  packages/react-query/src/useSuspenseQueries.ts
  packages/react-query/src/useSuspenseQuery.ts
  packages/react/package.json
  packages/react/src/Suspense.tsx
  pnpm-lock.yaml
  websites/visualization/package.json
Labels: documentation, visualization, dependencies, workflows, @suspensive/react, @suspensive/react-query, @suspensive/react-await

#300 chore(turbo): add remote cache to reduce duplicated ci or build
  .github/workflows/ci.yml
  .github/workflows/code-coverage.yml
  turbo.json
Labels: workflows

#292 chore(vitest, tsup): use built file
  configs/eslint-config-ts/noimport.js
  configs/tsup/.eslintrc.cjs
  configs/tsup/package.json
  configs/tsup/src/index.d.ts
  configs/tsup/src/index.js
  configs/tsup/tsconfig.json
  configs/vitest/.eslintrc.cjs
  configs/vitest/package.json
  configs/vitest/src/index.d.ts
  configs/vitest/src/index.js
  configs/vitest/tsconfig.json
Labels: eslint

#303 test(react): add useIsomorphicLayoutEffect Test Code
  packages/react/src/hooks/useIsomorphicLayoutEffect.spec.ts
Labels: @suspensive/react

#304 chore: eslint to latest
  configs/eslint-config-js/package.json
  configs/eslint-config-ts/noimport.js
  configs/eslint-config-ts/package.json
  configs/eslint-config/package.json
  docs/package.json
  package.json
  pnpm-lock.yaml
Labels: documentation, dependencies

#308 docs(ga): initialization
  docs/package.json
  docs/src/pages/_app.mdx
  pnpm-lock.yaml
  websites/visualization/package.json
  websites/visualization/src/app/layout.tsx
Labels: documentation, visualization, dependencies

#311 ci: add cspell plugin for eslint
  .vscode/extensions.json
  .vscode/settings.json
  configs/eslint-config-js/noimport.js
  configs/eslint-config-js/package.json
  pnpm-lock.yaml
Labels: dependencies

#270 feat(react): add experimental wrap to remove unnecessary hocs
  .changeset/pretty-pumpkins-jam.md
  packages/react/src/AsyncBoundary.tsx
  packages/react/src/Delay.tsx
  packages/react/src/ErrorBoundary.tsx
  packages/react/src/ErrorBoundaryGroup.tsx
  packages/react/src/Suspense.tsx
  packages/react/src/index.ts
  packages/react/src/wrap.ts
  websites/visualization/src/app/react/experimental/wrap/after/page.tsx
  websites/visualization/src/app/react/experimental/wrap/before/page.tsx
  websites/visualization/src/components/UseSuspenseQuery.tsx
Labels: visualization, @suspensive/react

#329 chore(deps): unify version of @types/node
  docs/package.json
  package.json
  packages/react-await/package.json
  packages/react-query/package.json
  packages/react/package.json
  pnpm-lock.yaml
  websites/visualization/package.json
Labels: documentation, visualization, dependencies, @suspensive/react, @suspensive/react-query, @suspensive/react-await

#330 ci: remove prepack by using dependsOn of turbo.json
  .github/workflows/ci.yml
  .github/workflows/code-coverage.yml
  package.json
  turbo.json
Labels: workflows

#344 chore: reflect lint(cspell)
  configs/eslint-config-js/.eslintrc.cjs
  configs/eslint-config-js/index.js
  configs/eslint-config-js/no-import.js
  configs/eslint-config-js/package.json
  configs/eslint-config-ts/index.js
  configs/eslint-config-ts/no-import.js
  configs/eslint-config-ts/package.json
  configs/eslint-config/package.json
  configs/eslint-config/react-ts-no-import.js
  docs/public/img/logo_not_cropped.png
  packages/react/src/hooks/useTimeout.spec.tsx
  websites/visualization/public/logo_not_cropped.png
  websites/visualization/src/app/CommonLayout.tsx
  websites/visualization/src/components/uis/index.tsx
Labels: documentation, visualization, eslint, @suspensive/react

#342 docs(react): add document for wrap
  docs/src/pages/docs/react/_meta.en.json
  docs/src/pages/docs/react/_meta.ko.json
  docs/src/pages/docs/react/wrap.en.mdx
  docs/src/pages/docs/react/wrap.ko.mdx
Labels: documentation

#343 ci(sherif): lint for monorepo
  .github/workflows/ci.yml
  package.json
  pnpm-lock.yaml
  websites/visualization/package.json
Labels: visualization, dependencies, workflows

#354 fix(react-await): update package.json
  .changeset/grumpy-cooks-tease.md
  packages/react-await/package.json
Labels: @suspensive/react-await

#325 perf(react): remove useKey to reduce ErrorBoundaryGroup's size
  .changeset/tricky-students-compare.md
  packages/react/src/ErrorBoundaryGroup.tsx
  packages/react/src/hooks/index.ts
  packages/react/src/hooks/useKey.spec.ts
  packages/react/src/hooks/useKey.ts
Labels: @suspensive/react

#334 feat(react): re-throw received error if fallback of ErrorBoundary is undefined
  .changeset/dull-paws-wonder.md
  packages/react/src/ErrorBoundary.spec.tsx
  packages/react/src/ErrorBoundary.tsx
Labels: @suspensive/react

#362 fix(react-query): remove bundledDependencies
  .changeset/twelve-deers-scream.md
  packages/react-query/package.json
Labels: @suspensive/react-query

#372 refactor(react, react-query): remove unnecessary `as` by `Object.assign`
  .changeset/clean-tigers-grow.md
  packages/react-query/src/QueryAsyncBoundary.tsx
  packages/react/src/AsyncBoundary.tsx
  packages/react/src/Suspense.tsx
  packages/react/src/wrap.ts
Labels: @suspensive/react, @suspensive/react-query

#374 feat(package-json-name): add package-json-name
  configs/package-json-name/.eslintrc.cjs
  configs/package-json-name/package.json
  configs/package-json-name/src/index.ts
  configs/package-json-name/tsconfig.json
  configs/vitest/package.json
  configs/vitest/src/index.d.ts
  configs/vitest/src/index.js
  package.json
  packages/react-await/package.json
  packages/react-await/vitest.config.ts
  packages/react-await/vitest.setup.ts
  packages/react-query/package.json
  packages/react-query/vitest.config.ts
  packages/react-query/vitest.setup.ts
  packages/react/package.json
  packages/react/vitest.config.ts
  packages/react/vitest.setup.ts
  pnpm-lock.yaml
Labels: eslint, dependencies, @suspensive/react, @suspensive/react-query, @suspensive/react-await

#378 refactor: extract unnecessary packages to root
  .changeset/rotten-rabbits-clean.md
  package.json
  packages/react-await/package.json
  packages/react-query/package.json
  packages/react/package.json
  pnpm-lock.yaml
Labels: dependencies, @suspensive/react, @suspensive/react-query, @suspensive/react-await

#387 ci(release.yml): remove authors on version
  .github/workflows/release.yml
Labels: workflows

#385 ci(eslint): add @typescript-eslint/naming-convention to lint generic
  configs/eslint-config-js/no-import.js
  configs/eslint-config-ts/no-import.js
  packages/react-await/src/types/Tuple.ts
  packages/react-query/src/useSuspenseQueries.ts
  packages/react/src/hooks/usePrevious.ts
Labels: @suspensive/react, @suspensive/react-query, @suspensive/react-await

#346 fix(react): make wrap as stable and deprecate all withXXXs
  .changeset/funny-lemons-sit.md
  docs/src/pages/docs/react/AsyncBoundary.en.mdx
  docs/src/pages/docs/react/AsyncBoundary.ko.mdx
  docs/src/pages/docs/react/Delay.en.mdx
  docs/src/pages/docs/react/Delay.ko.mdx
  docs/src/pages/docs/react/ErrorBoundary.en.mdx
  docs/src/pages/docs/react/ErrorBoundary.ko.mdx
  docs/src/pages/docs/react/ErrorBoundaryGroup.en.mdx
  docs/src/pages/docs/react/ErrorBoundaryGroup.ko.mdx
  docs/src/pages/docs/react/Suspense.en.mdx
  docs/src/pages/docs/react/Suspense.ko.mdx
  docs/src/pages/docs/react/wrap.en.mdx
  docs/src/pages/docs/react/wrap.ko.mdx
  packages/react/src/AsyncBoundary.tsx
  packages/react/src/Delay.tsx
  packages/react/src/ErrorBoundary.tsx
  packages/react/src/ErrorBoundaryGroup.tsx
  packages/react/src/Suspense.tsx
  packages/react/src/index.ts
  packages/react/src/wrap.ts
  websites/visualization/src/app/react/experimental/wrap/before/page.tsx
  websites/visualization/src/app/react/wrap/page.tsx
Labels: documentation, visualization, @suspensive/react

#345 fix(react): deprecate AsyncBoundary
  .changeset/nasty-cooks-judge.md
  README.md
  docs/src/pages/docs/react-query/QueryErrorBoundary.en.mdx
  docs/src/pages/docs/react-query/QueryErrorBoundary.ko.mdx
  docs/src/pages/docs/react-query/_meta.en.json
  docs/src/pages/docs/react-query/_meta.ko.json
  docs/src/pages/docs/react/AsyncBoundary.en.mdx
  docs/src/pages/docs/react/AsyncBoundary.ko.mdx
  docs/src/pages/docs/react/ErrorBoundaryGroup.en.mdx
  docs/src/pages/docs/react/ErrorBoundaryGroup.ko.mdx
  docs/src/pages/docs/react/_meta.en.json
  docs/src/pages/docs/react/_meta.ko.json
  docs/src/pages/docs/why.en.mdx
  docs/src/pages/docs/why.ko.mdx
  docs/src/pages/index.en.mdx
  docs/src/pages/index.ko.mdx
  packages/react-query/src/QueryAsyncBoundary.tsx
  packages/react/src/AsyncBoundary.tsx
  packages/react/src/index.ts
  packages/react/src/wrap.ts
  websites/visualization/src/app/react-query/page.tsx
  websites/visualization/src/app/react/page.tsx
  websites/visualization/src/components/uis/index.tsx
Labels: documentation, visualization, @suspensive/react, @suspensive/react-query

#405 docs: add meta and update changelog page
  docs/src/pages/docs/_meta.en.json
  docs/src/pages/docs/_meta.ko.json
  docs/src/pages/docs/changelogs.en.mdx
  docs/src/pages/docs/changelogs.ko.mdx
Labels: documentation

#416 chore: update versions of vitest
  codecov.yml
  package.json
  pnpm-lock.yaml
Labels: dependencies

#412 docs: add menu for versions
  docs/v1/src/components/HomePage.tsx
  docs/v1/src/pages/_meta.en.json
  docs/v1/src/pages/index.en.mdx
  docs/v1/src/pages/index.ko.mdx
  docs/v1/theme.config.tsx
  docs/v2/src/components/HomePage.tsx
  docs/v2/src/pages/_meta.en.json
  docs/v2/src/pages/index.en.mdx
  docs/v2/src/pages/index.ko.mdx
  docs/v2/theme.config.tsx
Labels: documentation

#417 docs: update docs
  configs/package-json-name/package.json
  docs/v1/src/pages/_meta.en.json
  docs/v1/src/pages/_meta.ko.json
  docs/v2/src/pages/_meta.ko.json
  package.json
  turbo.json
Labels: documentation

#422 docs: migration guide init
  .github/labeler.yml
  docs/v1/src/pages/_meta.en.json
  docs/v1/src/pages/_meta.ko.json
  docs/v1/src/pages/docs/_meta.ko.json
  docs/v1/theme.config.tsx
  docs/v2/src/pages/_meta.en.json
  docs/v2/src/pages/_meta.ko.json
  docs/v2/src/pages/docs/_meta.en.json
  docs/v2/src/pages/docs/_meta.ko.json
  docs/v2/src/pages/docs/migrate-to-v2.en.mdx
  docs/v2/src/pages/docs/migrate-to-v2.ko.mdx
  docs/v2/theme.config.tsx
Labels: documentation
