Repository toss/suspensive, pull requests merged in 2023-09, with the labels that each got.

#125 fix(esm): cjs to esm as default
  .changeset/fuzzy-lizards-build.md
  .github/workflows/ci.yml
  commitlint.config.cjs
  configs/babel/.eslintrc.cjs
  configs/eslint-config-js/.eslintrc.cjs
  configs/eslint-config-ts/.eslintrc.cjs
  configs/eslint-config/.eslintrc.cjs
  configs/jest/.eslintrc.cjs
  configs/tsup/.eslintrc.cjs
  package.json
  packages/react-query/.eslintrc.cjs
  packages/react-query/babel.config.cjs
  packages/react-query/jest.config.cjs
  packages/react-query/jest.config.js
  packages/react-query/package.json
  packages/react-query/src/index.ts
  packages/react/.eslintrc.cjs
  packages/react/babel.config.cjs
  packages/react/jest.config.cjs
  packages/react/jest.config.js
  packages/react/package.json
  pnpm-lock.yaml
  turbo.json
  websites/docs/.eslintrc.cjs
  websites/visualization/.eslintrc.cjs
Labels: react, react-query, configuration, dependencies, .github

#133 fix(labeler): shortly, add more detail
  .github/labeler.yml
  .github/workflows/labeler.yml
Labels: workflows

#123 feat(react): change experimental Delay, SuspensiveProvider to stable
  .changeset/red-bags-battle.md
  README.md
  packages/react/src/Delay.en.mdx
  packages/react/src/Delay.ko.mdx
  packages/react/src/Delay.tsx
  packages/react/src/Suspense.tsx
  packages/react/src/SuspensiveProvider.en.mdx
  packages/react/src/SuspensiveProvider.ko.mdx
  packages/react/src/SuspensiveProvider.tsx
  packages/react/src/__test__/SuspensiveProvider.spec.tsx
  packages/react/src/index.ts
  packages/react/src/types/index.ts
  websites/visualization/src/app/providers.tsx
Labels: documentation, react, visualization, configuration

#134 chore: helpful scripts
  configs/tsup/package.json
  configs/tsup/src/index.ts
  configs/vitest/package.json
  configs/vitest/src/index.ts
  package.json
  packages/react-query/package.json
  packages/react/package.json
  pnpm-lock.yaml
  turbo.json
Labels: react, react-query, dependencies, @suspensive/react, @suspensive/react-query, official docs

#83 fix(react): rename useSuspenseCache to useAwait, suspenseCache to suspensiveCache
  .changeset/plenty-mayflies-cry.md
  README.md
  configs/tsup/src/index.ts
  packages/react/package.json
  packages/react/src/ErrorBoundary.tsx
  packages/react/src/__test__/experimental/Await.spec.tsx
  packages/react/src/__test__/utils/index.tsx
  packages/react/src/experimental/Await.tsx
  packages/react/src/experimental/index.ts
  packages/react/src/experimental/suspensiveCache.tsx
  packages/react/src/index.ts
  packages/react/src/types/index.ts
  packages/react/src/useSuspenseCache.tsx
  websites/visualization/src/app/CommonLayout.tsx
  websites/visualization/src/app/react/experimental/await/page.tsx
  websites/visualization/src/app/react/useSuspenseCache/page.tsx
Labels: react, visualization, configuration, @suspensive/react, official docs

#138 fix(labeler.yml): update
  .github/labeler.yml
Labels: official docs

#137 refactor(react, react-query): remove __test__ directory to collocate
  .changeset/young-balloons-peel.md
  configs/tsup/src/index.ts
  packages/react-query/src/QueryAsyncBoundary.spec.tsx
  packages/react-query/src/useSuspenseInfiniteQuery.test-d.ts
  packages/react-query/src/useSuspenseQueries.test-d.ts
  packages/react-query/src/useSuspenseQuery.test-d.ts
  packages/react/src/AsyncBoundary.spec.tsx
  packages/react/src/Delay.spec.tsx
  packages/react/src/ErrorBoundary.spec.tsx
  packages/react/src/ErrorBoundaryGroup.spec.tsx
  packages/react/src/Suspense.spec.tsx
  packages/react/src/SuspensiveProvider.spec.tsx
  packages/react/src/experimental/Await.spec.tsx
  packages/react/src/utils/toTest.tsx
  packages/react/src/withDelay.spec.tsx
  packages/react/src/withSuspense.spec.tsx
Labels: @suspensive/react, @suspensive/react-query

#146 docs(react): documentation for experimental Await
  packages/react/src/experimental/Await.en.mdx
  packages/react/src/experimental/Await.ko.mdx
  packages/react/src/experimental/_category_.json
  websites/docs/i18n/ko/docusaurus-plugin-content-docs/current.json
Labels: documentation, @suspensive/react

#140 refactor(react): merge hoc's code into original component file
  .changeset/nice-pans-enjoy.md
  packages/react/src/AsyncBoundary.spec.tsx
  packages/react/src/AsyncBoundary.tsx
  packages/react/src/Delay.spec.tsx
  packages/react/src/Delay.tsx
  packages/react/src/ErrorBoundary.tsx
  packages/react/src/ErrorBoundaryGroup.spec.tsx
  packages/react/src/ErrorBoundaryGroup.tsx
  packages/react/src/Suspense.spec.tsx
  packages/react/src/Suspense.tsx
  packages/react/src/experimental/suspensiveCache.tsx
  packages/react/src/hooks/useIsChanged.spec.ts
  packages/react/src/hooks/useIsChanged.ts
  packages/react/src/hooks/useIsChanged/index.ts
  packages/react/src/hooks/useIsChanged/useIsChanged.ts
  packages/react/src/hooks/useIsMounted.spec.ts
  packages/react/src/hooks/useIsMounted.ts
  packages/react/src/hooks/useIsMounted/index.ts
  packages/react/src/hooks/useKey.spec.ts
  packages/react/src/hooks/useKey.ts
  packages/react/src/hooks/useKey/index.ts
  packages/react/src/hooks/usePrevious.spec.ts
  packages/react/src/hooks/usePrevious.ts
  packages/react/src/hooks/usePrevious/index.ts
  packages/react/src/hooks/useRerender.spec.ts
  packages/react/src/hooks/useRerender.ts
  packages/react/src/hooks/useRerender/index.ts
  packages/react/src/index.ts
  packages/react/src/types/PropsWithoutChildren.ts
  packages/react/src/types/Tuple.ts
  packages/react/src/types/index.ts
  packages/react/src/utils/hasResetKeysChanged.spec.ts
  packages/react/src/utils/hasResetKeysChanged.ts
  packages/react/src/utils/hasResetKeysChanged/hasResetKeysChanged.ts
  packages/react/src/utils/hasResetKeysChanged/index.ts
  packages/react/src/withAsyncBoundary.tsx
  packages/react/src/withDelay.spec.tsx
  packages/react/src/withDelay.tsx
  packages/react/src/withErrorBoundary.tsx
  packages/react/src/withErrorBoundaryGroup.tsx
  packages/react/src/withSuspense.spec.tsx
  packages/react/src/withSuspense.tsx
Labels: @suspensive/react

#142 fix(react): Improve Await
  .changeset/cool-carpets-tell.md
  .changeset/six-months-explode.md
  packages/react/package.json
  packages/react/src/ErrorBoundary.tsx
  packages/react/src/experimental/Await.spec.tsx
  packages/react/src/experimental/Await.tsx
  packages/react/src/experimental/index.ts
  packages/react/src/hooks/index.ts
  packages/react/src/hooks/useRerender.spec.ts
  packages/react/src/hooks/useRerender.ts
  packages/react/src/utils/hashKey.spec.ts
  packages/react/src/utils/hashKey.ts
  packages/react/src/utils/index.ts
  pnpm-lock.yaml
  websites/visualization/src/app/react/experimental/await/page.tsx
Labels: visualization, dependencies, @suspensive/react

#151 fix(react): fix throw null
  .changeset/grumpy-turtles-tickle.md
  packages/react/src/ErrorBoundary.spec.tsx
  packages/react/src/ErrorBoundary.tsx
  packages/react/src/utils/toTest.tsx
Labels: @suspensive/react

#154 fix(react): update BaseErrorBoundary method simply
  .changeset/gentle-laws-reflect.md
  packages/react/src/ErrorBoundary.tsx
Labels: @suspensive/react

#156 refactor(react): clarify variable name
  .changeset/chilly-drinks-change.md
  packages/react/src/ErrorBoundary.tsx
Labels: @suspensive/react

#158 refactor(react): add useSetTimeout to reduce code
  .changeset/friendly-ants-grab.md
  packages/react/src/Delay.tsx
  packages/react/src/hooks/index.ts
  packages/react/src/hooks/useSetTimeout.spec.ts
  packages/react/src/hooks/useSetTimeout.ts
  packages/react/src/utils/toTest.tsx
Labels: @suspensive/react

#160 chore(vitest): add @vitest/ui
  package.json
  packages/react-query/package.json
  packages/react/package.json
  pnpm-lock.yaml
Labels: dependencies, @suspensive/react, @suspensive/react-query

#162 test(react): modify assertion test code.
  packages/react/src/utils/assert.spec.ts
Labels: @suspensive/react

#159 fix(react): add assertion function to assert condition
  .changeset/spotty-rocks-dance.md
  packages/react/src/utils/assert.spec.ts
  packages/react/src/utils/assert.ts
  packages/react/src/utils/index.ts
Labels: @suspensive/react

#164 refactor(react): apply assert
  .changeset/long-donkeys-applaud.md
  packages/react-query/tsconfig.json
  packages/react/src/AsyncBoundary.spec.tsx
  packages/react/src/Delay.spec.tsx
  packages/react/src/ErrorBoundary.spec.tsx
  packages/react/src/ErrorBoundaryGroup.spec.tsx
  packages/react/src/ErrorBoundaryGroup.tsx
  packages/react/src/Suspense.spec.tsx
  packages/react/src/SuspensiveProvider.spec.tsx
  packages/react/src/experimental/Await.spec.tsx
  packages/react/src/utils/assert.spec.ts
  packages/react/tsconfig.json
Labels: @suspensive/react, @suspensive/react-query

#167 test(react): add additional displayName test cases for withErrorBoundaryGroup
  packages/react/src/ErrorBoundaryGroup.spec.tsx
Labels: @suspensive/react

#166 test(react): add tests for withErrorBoundary
  packages/react/src/ErrorBoundary.spec.tsx
Labels: @suspensive/react

#173 test(react): add isPlainObject case
  packages/react/src/utils/hashKey.spec.ts
  packages/react/src/utils/hashKey.ts
Labels: @suspensive/react

#175 test(react): add spec for HOC's displayName
  packages/react/src/AsyncBoundary.spec.tsx
  packages/react/src/Delay.spec.tsx
  packages/react/src/ErrorBoundary.spec.tsx
  packages/react/src/ErrorBoundaryGroup.spec.tsx
  packages/react/src/Suspense.spec.tsx
Labels: @suspensive/react

#176 feat(react): add getError, remove unnecessary generic
  .changeset/eleven-lobsters-divide.md
  packages/react/src/experimental/Await.spec.tsx
  packages/react/src/experimental/Await.tsx
Labels: @suspensive/react

#174 chore(eslint): eslint-plugin-jsdoc
  configs/eslint-config-js/noimport.js
  configs/eslint-config-js/package.json
  configs/eslint-config-ts/noimport.js
  configs/eslint-config-ts/package.json
  configs/eslint-config/react-js.js
  configs/eslint-config/react-ts-noimport.js
  configs/eslint-config/react-ts.js
  pnpm-lock.yaml
Labels: dependencies

#184 fix(react-query): correct peerDeps version
  .changeset/dull-brooms-confess.md
  packages/react-query/package.json
Labels: @suspensive/react-query

#186 docs(react): update doc of suspense
  packages/react/src/Suspense.en.mdx
  packages/react/src/Suspense.ko.mdx
Labels: documentation, @suspensive/react

#152 feat(react): add useErrorBoundary
  .changeset/old-mails-pump.md
  packages/react/src/ErrorBoundary.en.mdx
  packages/react/src/ErrorBoundary.ko.mdx
  packages/react/src/ErrorBoundary.spec.tsx
  packages/react/src/ErrorBoundary.tsx
  packages/react/src/index.ts
  websites/visualization/src/app/CommonLayout.tsx
  websites/visualization/src/app/react/experimental/useErrorBoundary/page.tsx
Labels: documentation, visualization, @suspensive/react
