Repository toss/suspensive, pull requests merged in 2023-10, with the labels that each got.

#187 docs: describe component as bracket
  packages/react-query/src/QueryErrorResetBoundary.en.mdx
  packages/react-query/src/QueryErrorResetBoundary.ko.mdx
  packages/react/src/AsyncBoundary.en.mdx
  packages/react/src/AsyncBoundary.ko.mdx
  packages/react/src/Delay.en.mdx
  packages/react/src/Delay.ko.mdx
  packages/react/src/ErrorBoundary.en.mdx
  packages/react/src/ErrorBoundary.ko.mdx
  packages/react/src/ErrorBoundaryGroup.en.mdx
  packages/react/src/ErrorBoundaryGroup.ko.mdx
  packages/react/src/Suspense.en.mdx
  packages/react/src/Suspense.ko.mdx
  packages/react/src/SuspensiveProvider.en.mdx
  packages/react/src/SuspensiveProvider.ko.mdx
  packages/react/src/experimental/Await.en.mdx
  packages/react/src/experimental/Await.ko.mdx
Labels: documentation, @suspensive/react, @suspensive/react-query

#190 docs(react): update doc for ErrorBoundary
  packages/react/src/ErrorBoundary.en.mdx
  packages/react/src/ErrorBoundary.ko.mdx
  packages/react/src/Suspense.en.mdx
  packages/react/src/Suspense.ko.mdx
Labels: documentation, @suspensive/react

#192 docs(react): update doc for Suspense
  packages/react/src/Suspense.en.mdx
  packages/react/src/Suspense.ko.mdx
Labels: documentation, @suspensive/react

#195 docs(react): update doc for AsyncBoundary
  packages/react/src/AsyncBoundary.en.mdx
  packages/react/src/AsyncBoundary.ko.mdx
  packages/react/src/Suspense.en.mdx
  packages/react/src/Suspense.ko.mdx
Labels: documentation, @suspensive/react

#201 docs: update experimental feature mark as admonitions of docusaurus
  .changeset/ninety-yaks-flash.md
  packages/react/src/ErrorBoundary.en.mdx
  packages/react/src/ErrorBoundary.ko.mdx
  packages/react/src/experimental/Await.en.mdx
  packages/react/src/experimental/Await.ko.mdx
Labels: documentation, @suspensive/react

#199 docs(docusaurus): add npm2yarn plugin
  .changeset/chilly-socks-act.md
  packages/react-query/README.ko.md
  packages/react-query/README.md
  packages/react-query/src/QueryErrorResetBoundary.en.mdx
  packages/react-query/src/QueryErrorResetBoundary.ko.mdx
  packages/react/README.ko.md
  packages/react/README.md
  pnpm-lock.yaml
  websites/docs/docusaurus.config.js
  websites/docs/intro/installation.en.md
  websites/docs/intro/installation.ko.md
  websites/docs/package.json
Labels: documentation, dependencies, @suspensive/react, @suspensive/react-query

#207 docs(react): update tips as admonitions
  .changeset/modern-hotels-perform.md
  packages/react-query/src/QueryErrorResetBoundary.en.mdx
  packages/react-query/src/QueryErrorResetBoundary.ko.mdx
  packages/react-query/src/useSuspenseInfiniteQuery.en.mdx
  packages/react-query/src/useSuspenseInfiniteQuery.ko.mdx
  packages/react-query/src/useSuspenseQueries.en.mdx
  packages/react-query/src/useSuspenseQueries.ko.mdx
  packages/react-query/src/useSuspenseQuery.en.mdx
  packages/react-query/src/useSuspenseQuery.ko.mdx
  packages/react/src/ErrorBoundary.en.mdx
  packages/react/src/ErrorBoundary.ko.mdx
  packages/react/src/Suspense.en.mdx
  packages/react/src/Suspense.ko.mdx
  websites/docs/intro/visualization.en.md
  websites/docs/intro/visualization.ko.md
Labels: documentation, @suspensive/react, @suspensive/react-query

#197 chore(vitest): update version
  package.json
  pnpm-lock.yaml
Labels: dependencies

#198 docs(react): update doc for Delay
  .changeset/orange-pants-vanish.md
  packages/react/src/Delay.en.mdx
  packages/react/src/Delay.ko.mdx
Labels: documentation, @suspensive/react

#193 docs(react): update doc for ErrorBoundaryGroup
  .changeset/silly-wolves-shave.md
  packages/react/src/ErrorBoundaryGroup.en.mdx
  packages/react/src/ErrorBoundaryGroup.ko.mdx
Labels: documentation, @suspensive/react

#217 refactor(react): to easier code
  .changeset/olive-hounds-nail.md
  README.md
  packages/react-query/src/QueryErrorResetBoundary.en.mdx
  packages/react-query/src/QueryErrorResetBoundary.ko.mdx
  packages/react/src/AsyncBoundary.en.mdx
  packages/react/src/AsyncBoundary.ko.mdx
  packages/react/src/ErrorBoundary.en.mdx
  packages/react/src/ErrorBoundary.ko.mdx
  packages/react/src/ErrorBoundary.spec.tsx
  packages/react/src/ErrorBoundary.tsx
  packages/react/src/ErrorBoundaryGroup.en.mdx
  packages/react/src/ErrorBoundaryGroup.ko.mdx
  packages/react/src/ErrorBoundaryGroup.spec.tsx
  packages/react/src/ErrorBoundaryGroup.tsx
  packages/react/src/experimental/Await.spec.tsx
  packages/react/src/utils/assert.ts
  packages/react/src/utils/toTest.tsx
  websites/visualization/src/app/react/experimental/await/page.tsx
  websites/visualization/src/components/RejectedFallback.tsx
Labels: documentation, visualization, @suspensive/react, @suspensive/react-query

#219 chore(eslint): add no-duplicates, consistent-type-imports
  .changeset/good-ads-wait.md
  .vscode/settings.json
  configs/eslint-config-js/javascript.js
  configs/eslint-config-ts/noimport.js
  configs/eslint-config-ts/typescript.js
  configs/tsup/src/index.ts
  configs/vitest/src/index.ts
  packages/react-query/src/QueryAsyncBoundary.tsx
  packages/react-query/src/QueryErrorBoundary.tsx
  packages/react-query/src/useSuspenseInfiniteQuery.test-d.ts
  packages/react-query/src/useSuspenseInfiniteQuery.ts
  packages/react-query/src/useSuspenseQueries.ts
  packages/react-query/src/useSuspenseQuery.ts
  packages/react/src/AsyncBoundary.spec.tsx
  packages/react/src/AsyncBoundary.tsx
  packages/react/src/Delay.tsx
  packages/react/src/ErrorBoundary.spec.tsx
  packages/react/src/ErrorBoundary.tsx
  packages/react/src/ErrorBoundaryGroup.tsx
  packages/react/src/Suspense.tsx
  packages/react/src/SuspensiveProvider.tsx
  packages/react/src/experimental/Await.tsx
  packages/react/src/types/PropsWithoutChildren.ts
  packages/react/src/utils/hashKey.ts
  packages/react/src/utils/toTest.tsx
  websites/visualization/src/app/CommonLayout.tsx
  websites/visualization/src/app/layout.tsx
  websites/visualization/src/app/providers.tsx
  websites/visualization/src/app/react-query/playground/components/suspensive.tsx
  websites/visualization/src/app/react-query/playground/components/tanstack.tsx
  websites/visualization/src/app/react/experimental/useErrorBoundary/page.tsx
  websites/visualization/src/components/RejectedFallback.tsx
  websites/visualization/src/components/uis/index.tsx
Labels: visualization, @suspensive/react, @suspensive/react-query

#227 docs(react): suggestion to advise/useErrorBoundaryProps
  packages/react/src/ErrorBoundary.en.mdx
  packages/react/src/ErrorBoundary.ko.mdx
Labels: documentation, @suspensive/react

#221 advise(react/errorboundary): add & change example case
  packages/react/src/ErrorBoundary.en.mdx
  packages/react/src/ErrorBoundary.ko.mdx
Labels: documentation, @suspensive/react

#226 chore: add minsoo-web as CODEOWNERS, releaser
  .github/CODEOWNERS
  .github/workflows/release.yml
Labels: workflows

#216 feat(react): add useErrorBoundaryFallbackProps
  .changeset/two-weeks-serve.md
  packages/react/src/ErrorBoundary.en.mdx
  packages/react/src/ErrorBoundary.ko.mdx
  packages/react/src/ErrorBoundary.spec.tsx
  packages/react/src/ErrorBoundary.tsx
  packages/react/src/ErrorBoundaryGroup.spec.tsx
  packages/react/src/index.ts
  packages/react/src/utils/assert.spec.ts
  packages/react/src/utils/assert.ts
  websites/visualization/src/app/react/experimental/useErrorBoundary/page.tsx
Labels: documentation, visualization, @suspensive/react

#196 feat(react): add all props type of all components
  .changeset/quiet-squids-shop.md
  docs/src/pages/docs/react/ErrorBoundary.en.mdx
  docs/src/pages/docs/react/ErrorBoundary.ko.mdx
  packages/react/src/AsyncBoundary.tsx
  packages/react/src/Delay.tsx
  packages/react/src/ErrorBoundary.tsx
  packages/react/src/ErrorBoundaryGroup.tsx
  packages/react/src/Suspense.tsx
  packages/react/src/experimental/Await.tsx
  packages/react/src/experimental/index.ts
  packages/react/src/index.ts
Labels: documentation, @suspensive/react

#240 docs: update jsdoc links
  .changeset/curly-coins-hug.md
  README.md
  docs/src/pages/docs/react-query/installation.en.mdx
  docs/src/pages/docs/react-query/installation.ko.mdx
  docs/src/pages/docs/react-query/useSuspenseInfiniteQuery.en.mdx
  docs/src/pages/docs/react/installation.en.mdx
  docs/src/pages/docs/react/installation.ko.mdx
  docs/src/pages/index.en.mdx
  docs/src/pages/index.ko.mdx
  packages/react-query/src/QueryAsyncBoundary.tsx
  packages/react-query/src/QueryErrorBoundary.tsx
  packages/react-query/src/useSuspenseInfiniteQuery.ts
  packages/react-query/src/useSuspenseQuery.ts
  packages/react/src/AsyncBoundary.tsx
  packages/react/src/ErrorBoundary.tsx
  packages/react/src/ErrorBoundaryGroup.tsx
  packages/react/src/Suspense.tsx
Labels: documentation, @suspensive/react, @suspensive/react-query

#239 feat(hook/utils): add useIsomorphicLayoutEffect
  packages/react/src/hooks/index.ts
  packages/react/src/hooks/useIsomorphicLayoutEffect.ts
  packages/react/src/utils/index.ts
Labels: @suspensive/react

#242 docs(react): add codeline highlight
  docs/src/pages/docs/react/ErrorBoundary.en.mdx
  docs/src/pages/docs/react/ErrorBoundary.ko.mdx
  docs/src/pages/docs/react/Suspense.en.mdx
  docs/src/pages/docs/react/Suspense.ko.mdx
  package.json
Labels: documentation

#257 fix(react): remove unnecessary @types/use-sync-external-store
  .changeset/orange-hotels-repair.md
  packages/react/package.json
  pnpm-lock.yaml
Labels: dependencies, @suspensive/react

#246 fix(react): rename useIsMount & update useEffect to useIsomorphicLayoutEffect
  .changeset/tame-shrimps-rescue.md
  packages/react/src/Suspense.tsx
  packages/react/src/hooks/index.ts
  packages/react/src/hooks/useIsClient.spec.ts
  packages/react/src/hooks/useIsClient.ts
  packages/react/src/hooks/useIsMounted.spec.ts
  packages/react/src/hooks/useIsMounted.ts
Labels: @suspensive/react

#256 refactor(test-utils): add package for test utils
  .changeset/real-hairs-provide.md
  configs/test-utils/.eslintrc.cjs
  configs/test-utils/package.json
  configs/test-utils/src/Suspend.tsx
  configs/test-utils/src/ThrowError.tsx
  configs/test-utils/src/delay.ts
  configs/test-utils/src/index.ts
  configs/test-utils/tsconfig.json
  packages/react-await/package.json
  packages/react-await/src/Await.spec.tsx
  packages/react/package.json
  packages/react/src/AsyncBoundary.spec.tsx
  packages/react/src/Delay.spec.tsx
  packages/react/src/ErrorBoundary.spec.tsx
  packages/react/src/ErrorBoundaryGroup.spec.tsx
  packages/react/src/Suspense.spec.tsx
  packages/react/src/SuspensiveProvider.spec.tsx
  packages/react/src/hooks/useSetTimeout.spec.ts
  packages/react/src/utils/toTest.tsx
  pnpm-lock.yaml
  turbo.json
Labels: eslint, dependencies, @suspensive/react, @suspensive/react-await

#261 docs: update codeline highlight
  docs/src/pages/docs/react-await/Await.en.mdx
  docs/src/pages/docs/react-await/Await.ko.mdx
  docs/src/pages/docs/react-query/QueryErrorBoundary.en.mdx
  docs/src/pages/docs/react-query/QueryErrorBoundary.ko.mdx
  docs/src/pages/docs/react-query/useSuspenseInfiniteQuery.en.mdx
  docs/src/pages/docs/react-query/useSuspenseInfiniteQuery.ko.mdx
  docs/src/pages/docs/react-query/useSuspenseQueries.en.mdx
  docs/src/pages/docs/react-query/useSuspenseQueries.ko.mdx
  docs/src/pages/docs/react-query/useSuspenseQuery.en.mdx
  docs/src/pages/docs/react-query/useSuspenseQuery.ko.mdx
  docs/src/pages/docs/react/AsyncBoundary.en.mdx
  docs/src/pages/docs/react/AsyncBoundary.ko.mdx
  docs/src/pages/docs/react/Delay.en.mdx
  docs/src/pages/docs/react/Delay.ko.mdx
  docs/src/pages/docs/react/ErrorBoundary.en.mdx
  docs/src/pages/docs/react/ErrorBoundary.ko.mdx
  docs/src/pages/docs/react/ErrorBoundaryGroup.en.mdx
  docs/src/pages/docs/react/ErrorBoundaryGroup.ko.mdx
  docs/src/pages/docs/react/Suspense.en.mdx
  docs/src/pages/docs/react/Suspense.ko.mdx
  docs/src/pages/docs/react/SuspensiveProvider.en.mdx
  docs/src/pages/docs/react/SuspensiveProvider.ko.mdx
Labels: documentation

#268 test(react): add useTimeout test case
  .changeset/chilly-owls-buy.md
  packages/react/src/hooks/useTimeout.spec.ts
  packages/react/src/hooks/useTimeout.spec.tsx
Labels: @suspensive/react

#275 fix: add module field of package.json
  .changeset/smooth-poets-glow.md
  packages/react-await/package.json
  packages/react-query/package.json
  packages/react/package.json
Labels: @suspensive/react, @suspensive/react-query, @suspensive/react-await

#274 chore(ms): add dev dependency
  configs/test-utils/src/index.ts
  package.json
  packages/react-await/src/Await.spec.tsx
  packages/react/src/AsyncBoundary.spec.tsx
  packages/react/src/Delay.spec.tsx
  packages/react/src/ErrorBoundary.spec.tsx
  packages/react/src/ErrorBoundaryGroup.spec.tsx
  packages/react/src/Suspense.spec.tsx
  packages/react/src/SuspensiveProvider.spec.tsx
  packages/react/src/hooks/useTimeout.spec.tsx
  pnpm-lock.yaml
Labels: dependencies, @suspensive/react, @suspensive/react-await

#255 feat(react): update useErrorBoundary from experimental to stable
  .changeset/long-steaks-grin.md
  docs/src/pages/docs/react/ErrorBoundary.en.mdx
  docs/src/pages/docs/react/ErrorBoundary.ko.mdx
  packages/react/src/ErrorBoundary.tsx
  websites/visualization/src/app/CommonLayout.tsx
  websites/visualization/src/app/react/useErrorBoundary/page.tsx
Labels: documentation, visualization, @suspensive/react

#279 docs(react): add hyperlink
  docs/src/pages/docs/react-query/useSuspenseInfiniteQuery.en.mdx
  docs/src/pages/docs/react-query/useSuspenseInfiniteQuery.ko.mdx
  docs/src/pages/docs/react-query/useSuspenseQueries.en.mdx
  docs/src/pages/docs/react-query/useSuspenseQueries.ko.mdx
  docs/src/pages/docs/react-query/useSuspenseQuery.en.mdx
  docs/src/pages/docs/react-query/useSuspenseQuery.ko.mdx
  docs/src/pages/docs/react/Delay.ko.mdx
Labels: documentation
