Repository toss/suspensive, pull requests merged in 2023-06, with the labels that each got.

#68 chore(doc): add color scheme config to docs config
  websites/docs/docusaurus.config.js
Labels: websites/docs

#72 test(react): wrote test code for verifying `Delay`.
  packages/react/src/Delay.spec.tsx
Labels: react

#73 test(react): add test case for SuspensiveProvider
  packages/react/src/Delay.spec.tsx
  packages/react/src/Delay.tsx
  packages/react/src/SuspensiveProvider.spec.tsx
  packages/react/src/index.ts
  packages/react/src/withDelay.spec.tsx
  packages/react/src/withDelay.tsx
Labels: react

#75 test(react): add test case for Suspense
  packages/react/src/Suspense.spec.tsx
  packages/react/src/SuspensiveProvider.spec.tsx
  packages/react/src/hooks/index.ts
Labels: react

#78 refactor(react): remove repetitive code, name intuitively
  configs/jest/jest.config.js
  packages/react/src/Delay.spec.tsx
  packages/react/src/Suspense.spec.tsx
  packages/react/src/SuspensiveProvider.spec.tsx
  packages/react/src/test-utils/index.tsx
  packages/react/src/withDelay.spec.tsx
  packages/react/src/withSuspense.spec.tsx
  packages/react/tsconfig.build.json
Labels: react, configuration, jest

#79 fix(react): fix useErrorBoundaryGroup to guarantee parent ErrorBoundaryGroup
  .changeset/thick-walls-talk.md
  codecov.yml
  configs/tsconfig/react-library.json
  packages/react/src/ErrorBoundary.spec.tsx
  packages/react/src/ErrorBoundary.tsx
  packages/react/src/ErrorBoundaryGroup.spec.tsx
  packages/react/src/ErrorBoundaryGroup.tsx
  packages/react/src/test-utils/index.tsx
  packages/react/src/utils/index.ts
Labels: react, tsconfig, configuration

#85 fix: add eslint rule to detect dead code
  configs/eslint-config-ts/noimport.js
  packages/react/src/Delay.tsx
Labels: react

#82 docs: reorder dependency managers for consistency
  websites/docs/intro/installation.en.md
  websites/docs/intro/installation.ko.md
Labels: documentation, websites/docs

#84 docs: add korean visualization iframe style height and fix typo
  websites/docs/intro/visualization.en.md
  websites/docs/intro/visualization.ko.md
Labels: documentation, websites/docs

#89 feat(docs): add search feature powered by docSearch
  pnpm-lock.yaml
  websites/docs/docusaurus.config.js
  websites/docs/i18n/ko/code.json
  websites/docs/i18n/ko/docusaurus-theme-classic/navbar.json
  websites/docs/package.json
  websites/docs/src/components/HomepageFeatures/index.tsx
  websites/docs/src/css/custom.css
  websites/docs/src/pages/index.tsx
  websites/visualization/app/react-query/playground/page.tsx
Labels: websites/docs, visualization, dependencies
