Repository toss/suspensive, pull requests merged in 2023-02, with the labels that each got.

#17 chore: track changes and label them appropriately on PR
  .github/labeler.yml
  .github/workflows/labeler-workflow.yml
Labels: configuration

#19 ci: check typescript, lint, test code on PR synchronized
  .github/workflows/ci-workflow.yml
  package.json
  packages/react-query/package.json
  packages/react/package.json
  turbo.json
Labels: react, react-query, configuration, workflows

#21 docs: add pnpm install guide to intro page
  websites/docs/intro/installation.en.md
  websites/docs/intro/installation.ko.md
Labels: documentation, websites/docs

#23 test(react-testing-library): add initial test configuration for react
  configs/jest/jest.config.js
  packages/react-query/jest.setup.js
  packages/react-query/package.json
  packages/react-query/src/QueryAsyncBoundary.spec.tsx
  packages/react/jest.setup.js
  packages/react/package.json
  packages/react/src/AsyncBoundary.spec.tsx
  pnpm-lock.yaml
Labels: react, react-query, configuration, dependencies, jest

#22 test(jest): add initial test configuration
  .github/PULL_REQUEST_TEMPLATE.md
  .github/labeler.yml
  configs/jest/jest.config.js
  configs/jest/package.json
  packages/react-query/jest.config.js
  packages/react-query/jest.setup.js
  packages/react-query/package.json
  packages/react-query/src/QueryAsyncBoundary.spec.tsx
  packages/react/jest.config.js
  packages/react/jest.setup.js
  packages/react/package.json
  packages/react/src/AsyncBoundary.spec.tsx
  pnpm-lock.yaml
Labels: react, react-query, configuration, dependencies, workflows

#24 Revert "test(jest): add initial test configuration"
  .github/PULL_REQUEST_TEMPLATE.md
  .github/labeler.yml
  configs/jest/jest.config.js
  configs/jest/package.json
  packages/react-query/jest.config.js
  packages/react-query/jest.setup.js
  packages/react-query/package.json
  packages/react-query/src/QueryAsyncBoundary.spec.tsx
  packages/react/jest.config.js
  packages/react/jest.setup.js
  packages/react/package.json
  packages/react/src/AsyncBoundary.spec.tsx
  pnpm-lock.yaml
Labels: react, react-query, configuration, dependencies, workflows, jest

#25 test(jest, react-testing-library): add test configuration
  .github/PULL_REQUEST_TEMPLATE.md
  .github/labeler.yml
  configs/jest/jest.config.js
  configs/jest/package.json
  configs/tsconfig/base.json
  packages/react-query/jest.config.js
  packages/react-query/jest.setup.js
  packages/react-query/package.json
  packages/react-query/src/QueryAsyncBoundary.spec.tsx
  packages/react-query/tsconfig.build.json
  packages/react-query/tsconfig.json
  packages/react/jest.config.js
  packages/react/jest.setup.js
  packages/react/package.json
  packages/react/src/AsyncBoundary.spec.tsx
  packages/react/tsconfig.build.json
  packages/react/tsconfig.json
  pnpm-lock.yaml
Labels: react, react-query, tsconfig, configuration, dependencies, workflows
