Repository toss/suspensive, pull requests merged in 2023-12, with the labels that each got.

#448 chore(visualization): replace emotion to tailwindcss
  .eslintrc.js
  .lintstagedrc
  .prettierrc
  configs/tsconfig/README.md
  docs/v1/package.json
  docs/v1/prettier.config.mjs
  docs/v1/src/components/HomePage.tsx
  docs/v1/tailwind.config.js
  docs/v1/theme.config.tsx
  docs/v2/package.json
  docs/v2/prettier.config.mjs
  docs/v2/src/components/HomePage.tsx
  docs/v2/tailwind.config.js
  docs/v2/theme.config.tsx
  package.json
  pnpm-lock.yaml
  prettier.config.mjs
  websites/visualization/package.json
  websites/visualization/postcss.config.js
  websites/visualization/prettier.config.mjs
  websites/visualization/src/app/CommonLayout.tsx
  websites/visualization/src/app/global.css
  websites/visualization/src/app/layout.tsx
  websites/visualization/src/app/page.tsx
  websites/visualization/src/app/providers.tsx
  websites/visualization/src/app/react-await/page.tsx
  websites/visualization/src/app/react-image/page.tsx
  websites/visualization/src/app/react-query/page.tsx
  websites/visualization/src/app/react-query/playground/components/api.tsx
  websites/visualization/src/app/react-query/playground/components/index.ts
  websites/visualization/src/app/react-query/playground/components/suspensive.tsx
  websites/visualization/src/app/react-query/playground/components/tanstack.tsx
  websites/visualization/src/app/react-query/playground/components/useIntersectionObserver.ts
  websites/visualization/src/app/react-query/playground/page.tsx
  websites/visualization/src/app/react/page.tsx
  websites/visualization/src/app/react/wrap/page.tsx
  websites/visualization/src/components/RejectedFallback.tsx
  websites/visualization/src/components/UseSuspenseQuery.tsx
  websites/visualization/src/components/index.ts
  websites/visualization/src/components/uis/index.tsx
  websites/visualization/tailwind.config.js
Labels: visualization, eslint, tsconfig, dependencies, docs/v1, docs/v2

#447 refactor(react, react-await, react-image): replace createElement by jsx
  .changeset/thick-rabbits-act.md
  packages/react-await/src/Await.tsx
  packages/react-image/src/Load.spec.tsx
  packages/react-image/src/Load.tsx
  packages/react/src/ErrorBoundary.tsx
  packages/react/src/wrap.tsx
Labels: @suspensive/react, @suspensive/react-await, @suspensive/react-image

#451 fix(deps): consistency
  configs/package-json-name/.eslintrc.cjs
  configs/package-json-name/package.json
  configs/package-json-name/src/index.ts
  configs/package-json-name/tsup.config.ts
  configs/test-utils/.eslintrc.cjs
  configs/test-utils/package.json
  configs/test-utils/tsup.config.ts
  configs/tsup/.eslintrc.cjs
  configs/tsup/package.json
  configs/tsup/src/index.d.ts
  configs/tsup/src/index.ts
  configs/tsup/tsconfig.json
  configs/tsup/tsup.config.ts
  package.json
  packages/react-await/.eslintrc.cjs
  packages/react-await/package.json
  packages/react-await/vitest.config.ts
  packages/react-image/.eslintrc.cjs
  packages/react-image/package.json
  packages/react-image/vitest.config.ts
  packages/react-query/.eslintrc.cjs
  packages/react-query/package.json
  packages/react-query/vitest.config.ts
  packages/react/.eslintrc.cjs
  packages/react/package.json
  packages/react/vitest.config.ts
  pnpm-lock.yaml
  turbo.json
Labels: eslint, dependencies, @suspensive/react, @suspensive/react-query, @suspensive/react-await, @suspensive/react-image

#457 chore(docs): add discord icon to header using chat area
  docs/v1/theme.config.tsx
  docs/v2/theme.config.tsx
Labels: docs/v1, docs/v2

#462 ci(.github/pnpm/setup-node.yml): pnpm action
  .github/actions/pnpm-setup-node/action.yml
  .github/workflows/ci.yml
  .github/workflows/code-coverage.yml
  .github/workflows/graph.yml
  .github/workflows/release.yml
Labels: workflows

#481 fix(react): update DevMode simply
  packages/react/src/AsyncBoundary.tsx
  packages/react/src/DevMode.spec.tsx
  packages/react/src/DevMode.tsx
  packages/react/src/ErrorBoundary.tsx
  packages/react/src/Suspense.spec.tsx
  packages/react/src/Suspense.tsx
  packages/react/src/hooks/index.ts
  packages/react/src/hooks/useDevModeObserve.ts
  packages/react/src/index.ts
  websites/visualization/src/app/providers.tsx
  websites/visualization/src/app/react/DevMode/page.tsx
Labels: visualization, @suspensive/react

#499 ci(eslint): add import/no-cycle to prevent memory leak
  .changeset/yellow-ducks-chew.md
  .github/actions/pnpm-setup-node/action.yml
  .vscode/settings.json
  configs/eslint-config-js/index.js
  configs/eslint-config-ts/index.js
  package.json
  packages/react-await/src/Await.tsx
  packages/react-await/src/utility-types/Tuple.ts
  packages/react-await/src/utility-types/index.ts
  packages/react/src/AsyncBoundary.tsx
  packages/react/src/Delay.tsx
  packages/react/src/ErrorBoundary.tsx
  packages/react/src/ErrorBoundaryGroup.tsx
  packages/react/src/Suspense.tsx
  packages/react/src/SuspensiveProvider.tsx
  packages/react/src/contexts/DefaultOptionsContexts.ts
  packages/react/src/contexts/index.ts
  packages/react/src/hooks/index.ts
  packages/react/src/hooks/useIsChanged.spec.ts
  packages/react/src/hooks/useIsChanged.ts
  packages/react/src/hooks/usePrevious.spec.ts
  packages/react/src/hooks/usePrevious.ts
  packages/react/src/index.ts
  packages/react/src/utility-types/PropsWithoutChildren.ts
  packages/react/src/utility-types/index.ts
  packages/react/src/wrap.tsx
Labels: @suspensive/react, @suspensive/react-await

#505 wip: Docs/migrate v2
  docs/v1/next.config.js
  docs/v2/next.config.js
  docs/v2/src/pages/docs/migrate-to-v2.en.mdx
Labels: docs/v1, docs/v2

#470 feat(react): add DevMode
  .changeset/slimy-chicken-sneeze.md
  .vscode/settings.json
  configs/eslint-config-js/index.js
  configs/eslint-config-ts/index.js
  configs/test-utils/src/ThrowError.tsx
  docs/v1/src/pages/docs/react/DevMode.en.mdx
  docs/v1/src/pages/docs/react/DevMode.ko.mdx
  docs/v1/src/pages/docs/react/SuspensiveProvider.en.mdx
  docs/v1/src/pages/docs/react/SuspensiveProvider.ko.mdx
  docs/v1/src/pages/docs/react/_meta.en.json
  docs/v1/src/pages/docs/react/_meta.ko.json
  packages/react-await/src/Await.tsx
  packages/react-await/src/utils/hashKey.ts
  packages/react-image/src/Image.tsx
  packages/react-query/src/QueryAsyncBoundary.tsx
  packages/react-query/src/QueryErrorBoundary.tsx
  packages/react-query/src/useSuspenseInfiniteQuery.ts
  packages/react-query/src/useSuspenseQueries.ts
  packages/react-query/src/useSuspenseQuery.ts
  packages/react/src/AsyncBoundary.spec.tsx
  packages/react/src/AsyncBoundary.tsx
  packages/react/src/Delay.tsx
  packages/react/src/DevMode.tsx
  packages/react/src/ErrorBoundary.spec.tsx
  packages/react/src/ErrorBoundary.tsx
  packages/react/src/ErrorBoundaryGroup.tsx
  packages/react/src/Suspense.spec.tsx
  packages/react/src/Suspense.tsx
  packages/react/src/Suspensive.spec.tsx
  packages/react/src/Suspensive.tsx
  packages/react/src/SuspensiveProvider.tsx
  packages/react/src/contexts/SuspensiveDevModeContext.ts
  packages/react/src/contexts/index.ts
  packages/react/src/index.ts
  packages/react/src/utility-types/PropsWithDevMode.ts
  packages/react/src/utility-types/PropsWithoutDevMode.ts
  packages/react/src/utility-types/index.ts
  packages/react/src/utils/increase.ts
  packages/react/src/utils/index.ts
  packages/react/src/utils/noop.ts
  websites/visualization/src/app/layout.tsx
  websites/visualization/src/app/providers.tsx
  websites/visualization/src/app/react/DevMode/page.tsx
  websites/visualization/src/app/react/useErrorBoundary/page.tsx
  websites/visualization/src/components/uis/index.tsx
Labels: visualization, @suspensive/react, @suspensive/react-query, @suspensive/react-await, @suspensive/react-image

#512 fix(react): remove assert.message
  .changeset/shy-moles-tap.md
  packages/react/src/ErrorBoundary.spec.tsx
  packages/react/src/ErrorBoundary.tsx
  packages/react/src/ErrorBoundaryGroup.spec.tsx
  packages/react/src/ErrorBoundaryGroup.tsx
  packages/react/src/utils/assert.ts
Labels: @suspensive/react

#516 test(react): add test cases for DevMode
  packages/react/src/DevMode.spec.tsx
  packages/react/src/contexts/SuspensiveDevModeContext.spec.tsx
  packages/react/src/contexts/SuspensiveDevModeContext.ts
Labels: @suspensive/react
