Repository toss/suspensive, pull requests merged in 2024-05, with the labels that each got.

#875 test(react, react-await): separate success & failure descriptions
  packages/react-await/src/utils/hasResetKeysChanged.spec.ts
  packages/react-await/src/utils/isPlainObject.spec.ts
  packages/react/src/utils/hasResetKeysChanged.spec.ts
Labels: @suspensive/react, @suspensive/react-await

#876 chore(*): last versioning before v2
  .changeset/purple-swans-explode.md
  .husky/prepare-commit-msg
  configs/eslint-config-ts/no-import.js
  configs/eslint-config-ts/package.json
  configs/test-utils/package.json
  configs/test-utils/src/index.ts
  docs/suspensive.org/package.json
  examples/next-streaming-react-query/package.json
  examples/next-streaming-react-query/src/app/PageClientComponent.tsx
  examples/next-streaming-react-query/src/app/layout.tsx
  examples/next-streaming-react-query/src/app/page.tsx
  examples/next-streaming-react-query/src/react-query/index.ts
  package.json
  packages/react-await/package.json
  packages/react-await/src/Await.tsx
  packages/react-image/package.json
  packages/react-query/package.json
  packages/react/package.json
  pnpm-lock.yaml
  websites/visualization/package.json
Labels: visualization, dependencies, @suspensive/react, @suspensive/react-query, @suspensive/react-await, @suspensive/react-image, suspensive.org

#887 fix(react-query): fix SuspenseQuery, SuspenseInfiniteQuery's return type
  .changeset/strange-hats-walk.md
  packages/react-query/src/SuspenseInfiniteQuery.test-d.tsx
  packages/react-query/src/SuspenseInfiniteQuery.tsx
  packages/react-query/src/SuspenseQuery.test-d.tsx
  packages/react-query/src/SuspenseQuery.tsx
Labels: @suspensive/react-query

#891 fix(react): change return type of Consumers as JSX.Element
  .changeset/wicked-mails-check.md
  packages/react-query/src/SuspenseInfiniteQuery.test-d.tsx
  packages/react-query/src/SuspenseQuery.test-d.tsx
  packages/react/src/ErrorBoundary.test-d.tsx
  packages/react/src/ErrorBoundary.tsx
  packages/react/src/ErrorBoundaryGroup.test-d.tsx
  packages/react/src/ErrorBoundaryGroup.tsx
Labels: @suspensive/react, @suspensive/react-query

#893 fix(react-query): easier to know constraint @tanstack/react-query v4 runtimely
  .changeset/tender-bees-wait.md
  packages/react-query/src/index.ts
  packages/react-query/src/utils/index.ts
  packages/react-query/src/utils/isVersion.spec.ts
  packages/react-query/src/utils/isVersion.ts
Labels: @suspensive/react-query

#898 fix(react): return type of Delay should be JSX.Element
  .changeset/honest-peas-wink.md
  packages/react/src/Delay.test-d.tsx
  packages/react/src/Delay.tsx
Labels: @suspensive/react
