Repository toss/suspensive, pull requests merged in 2024-12, with the labels that each got.

#1384 chore(*): update deps
  .github/workflows/ci.yml
  .gitignore
  codecov.yml
  configs/eslint-config/package.json
  configs/tsup/src/index.ts
  docs/suspensive.org/package.json
  examples/next-streaming-react-query/package.json
  examples/react-native-playground/package.json
  examples/visualization/package.json
  examples/vite-react-18-suspense-prerender-siblings-problem/package.json
  knip.json
  package.json
  packages/codemods/tsup.config.ts
  packages/react-dom/package.json
  packages/react-native/package.json
  packages/react/package.json
  packages/react/src/ErrorBoundary.bench.tsx
  packages/react/vitest.config.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
  turbo.json
Labels: dependencies, workflows, @suspensive/react, suspensive.org, @suspensive/react-native, @suspensive/react-dom, examples, @suspensive/codemods

#1383 refactor(react-query): improve cli utils
  .changeset/calm-masks-fry.md
  packages/react-query/src/bin/cli.spec.ts
  packages/react-query/src/bin/utils/commands.spec.ts
  packages/react-query/src/bin/utils/commands.ts
  packages/react-query/src/bin/utils/copy.spec.ts
  packages/react-query/src/bin/utils/copy.ts
  packages/react-query/src/bin/utils/package.spec.ts
  packages/react-query/src/bin/utils/package.ts
  packages/react-query/src/bin/utils/switchVersion.spec.ts
  packages/react-query/src/bin/utils/switchVersion.ts
  packages/react-query/src/bin/utils/table.ts
Labels: @suspensive/react-query

#1385 chore: version packages
  .changeset/calm-masks-fry.md
  packages/jotai/CHANGELOG.md
  packages/jotai/package.json
  packages/react-query-4/CHANGELOG.md
  packages/react-query-4/package.json
  packages/react-query-5/CHANGELOG.md
  packages/react-query-5/package.json
  packages/react-query/CHANGELOG.md
  packages/react-query/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  pnpm-lock.yaml
Labels: dependencies, @suspensive/react, @suspensive/react-query, @suspensive/jotai, @suspensive/react-query-4, @suspensive/react-query-5

#1374 chore: update typescript version to 5.7.2
  examples/react-native-playground/package.json
  package.json
  packages/react-query-4/src/SuspenseInfiniteQuery.test-d.tsx
  packages/react-query-5/src/SuspenseInfiniteQuery.test-d.tsx
  pnpm-lock.yaml
Labels: dependencies, @suspensive/react-query-4, @suspensive/react-query-5, examples

#1388 feat(react-query): add cli error handling
  .changeset/few-news-push.md
  packages/react-query/src/bin/cli.ts
  packages/react-query/src/bin/postinstall.spec.ts
  packages/react-query/src/bin/postinstall.ts
  packages/react-query/src/bin/utils/commands.spec.ts
  packages/react-query/src/bin/utils/commands.ts
  packages/react-query/src/bin/utils/logger.spec.ts
  packages/react-query/src/bin/utils/logger.ts
  packages/react-query/src/bin/utils/switchVersion.spec.ts
  packages/react-query/src/bin/utils/switchVersion.ts
Labels: @suspensive/react-query

#1390 chore: version packages
  .changeset/few-news-push.md
  packages/jotai/CHANGELOG.md
  packages/jotai/package.json
  packages/react-query-4/CHANGELOG.md
  packages/react-query-4/package.json
  packages/react-query-5/CHANGELOG.md
  packages/react-query-5/package.json
  packages/react-query/CHANGELOG.md
  packages/react-query/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  pnpm-lock.yaml
Labels: dependencies, @suspensive/react, @suspensive/react-query, @suspensive/jotai, @suspensive/react-query-4, @suspensive/react-query-5

#1389 feat(*): support react 19
  .changeset/twelve-eagles-rule.md
  docs/suspensive.org/package.json
  docs/suspensive.org/src/components/HomePage.tsx
  docs/suspensive.org/src/components/Scrollycoding.tsx
  docs/suspensive.org/theme.config.tsx
  examples/next-streaming-react-query/package.json
  examples/react-native-playground/package.json
  examples/visualization/next.config.js
  examples/visualization/package.json
  examples/visualization/src/app/react-dom/FadeIn/page.tsx
  examples/visualization/src/app/react-query/SuspenseInfiniteQuery/page.tsx
  examples/visualization/src/app/react-query/SuspenseQuery/page.tsx
  examples/visualization/src/app/react-query/page.tsx
  examples/visualization/src/app/react/ErrorBoundary/shouldCatch/page.tsx
  examples/visualization/src/app/react/page.tsx
  examples/visualization/src/app/react/zodSearchParams/page.tsx
  examples/vite-react-18-suspense-prerender-siblings-problem/package.json
  examples/vite-react-18-suspense-prerender-siblings-problem/src/main.tsx
  examples/vite-react-18-suspense-prerender-siblings-problem/tsconfig.tsbuildinfo
  packages/jotai/package.json
  packages/react-dom/package.json
  packages/react-dom/src/useInView.tsx
  packages/react-native/package.json
  packages/react-query-4/package.json
  packages/react-query-4/src/QueryClientConsumer.tsx
  packages/react-query-5/package.json
  packages/react-query/package.json
  packages/react-query/src/bin/cli.spec.ts
  packages/react-query/src/bin/utils/package.spec.ts
  packages/react-query/src/bin/utils/package.ts
  packages/react/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: dependencies, @suspensive/react, @suspensive/react-query, suspensive.org, @suspensive/jotai, @suspensive/react-query-4, @suspensive/react-query-5, @suspensive/react-native, @suspensive/react-dom, examples

#1394 chore: version packages
  .changeset/twelve-eagles-rule.md
  packages/jotai/CHANGELOG.md
  packages/jotai/package.json
  packages/react-dom/CHANGELOG.md
  packages/react-dom/package.json
  packages/react-native/CHANGELOG.md
  packages/react-native/package.json
  packages/react-query-4/CHANGELOG.md
  packages/react-query-4/package.json
  packages/react-query-5/CHANGELOG.md
  packages/react-query-5/package.json
  packages/react-query/CHANGELOG.md
  packages/react-query/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  pnpm-lock.yaml
Labels: dependencies, @suspensive/react, @suspensive/react-query, @suspensive/jotai, @suspensive/react-query-4, @suspensive/react-query-5, @suspensive/react-native, @suspensive/react-dom

#1396 fix(docs): hide scrollbar in codehike
  docs/suspensive.org/src/components/Scrollycoding.tsx
  docs/suspensive.org/src/styles/globals.css
Labels: suspensive.org

#1397 docs(suspensive.org): beautify main page
  docs/suspensive.org/public/img/homepage_background.svg
  docs/suspensive.org/public/img/homepage_logo.png
  docs/suspensive.org/src/components/HomePage.tsx
  docs/suspensive.org/src/components/Scrollycoding.tsx
  docs/suspensive.org/src/components/SectionText.tsx
  docs/suspensive.org/src/components/index.ts
  docs/suspensive.org/src/pages/en/_meta.tsx
  docs/suspensive.org/src/pages/en/index.mdx
  docs/suspensive.org/src/pages/ko/_meta.tsx
  docs/suspensive.org/src/pages/ko/index.mdx
  docs/suspensive.org/src/styles/globals.css
  knip.json
Labels: suspensive.org

#1398 docs(suspensive.org): beautify main page by star animation
  docs/suspensive.org/public/img/homepage_background.svg
  docs/suspensive.org/src/components/HomePage.tsx
  docs/suspensive.org/src/components/SectionText.tsx
  docs/suspensive.org/src/pages/en/index.mdx
  docs/suspensive.org/src/pages/ko/index.mdx
Labels: suspensive.org

#1399 chore(configs/eslint-config): fix and add eslint-plugin-react-hooks recommended rules
  configs/eslint-config/index.js
  docs/suspensive.org/theme.config.tsx
Labels: suspensive.org

#1401 feat(codemods): add codemod dry, print options
  .changeset/angry-cars-tie.md
  docs/suspensive.org/src/pages/en/docs/codemods/usage.mdx
  docs/suspensive.org/src/pages/ko/docs/codemods/usage.mdx
  packages/codemods/src/bin/codemods.ts
  packages/codemods/src/bin/transformRunner.ts
Labels: suspensive.org, @suspensive/codemods

#1402 chore: version packages
  .changeset/angry-cars-tie.md
  packages/codemods/CHANGELOG.md
  packages/codemods/package.json
Labels: @suspensive/codemods
