Repository toss/suspensive, pull requests merged in 2024-01, with the labels that each got.

#539 ci(eslint): add plugin:@typescript-eslint/strict-type-checked
  .changeset/tricky-sloths-glow.md
  configs/eslint-config-ts/no-import.js
  configs/package-json-name/.eslintrc.cjs
  configs/package-json-name/src/index.ts
  configs/package-json-name/tsconfig.json
  configs/test-utils/.eslintrc.cjs
  configs/test-utils/tsconfig.json
  configs/tsup/.eslintrc.cjs
  configs/tsup/tsconfig.json
  configs/tsup/tsup.config.ts
  docs/v1/.eslintrc.cjs
  docs/v1/tsconfig.json
  docs/v2/.eslintrc.cjs
  docs/v2/tsconfig.json
  packages/react-await/.eslintrc.cjs
  packages/react-await/src/Await.spec.tsx
  packages/react-await/src/utils/hashKey.ts
  packages/react-await/tsconfig.json
  packages/react-image/.eslintrc.cjs
  packages/react-image/tsconfig.json
  packages/react-query/.eslintrc.cjs
  packages/react-query/package.json
  packages/react-query/src/useSuspenseInfiniteQuery.test-d.ts
  packages/react-query/src/useSuspenseInfiniteQuery.ts
  packages/react-query/src/useSuspenseQueries.test-d.ts
  packages/react-query/src/useSuspenseQueries.ts
  packages/react-query/src/useSuspenseQuery.test-d.ts
  packages/react-query/src/useSuspenseQuery.ts
  packages/react-query/tsconfig.check.json
  packages/react-query/tsconfig.json
  packages/react/.eslintrc.cjs
  packages/react/src/AsyncBoundary.spec.tsx
  packages/react/src/DevMode.spec.tsx
  packages/react/src/Suspense.spec.tsx
  packages/react/src/Suspensive.spec.tsx
  packages/react/tsconfig.json
  websites/visualization/.eslintrc.cjs
  websites/visualization/tsconfig.json
Labels: visualization, eslint, @suspensive/react, @suspensive/react-query, @suspensive/react-await, @suspensive/react-image, docs/v1, docs/v2

#534 fix(react): add OmitKeyOf to remove PropsWithoutChildren, PropsWithoutDevMode
  .changeset/nine-rats-yawn.md
  packages/react/src/AsyncBoundary.tsx
  packages/react/src/ErrorBoundary.tsx
  packages/react/src/Suspense.tsx
  packages/react/src/contexts/DefaultOptionsContexts.ts
  packages/react/src/utility-types/OmitKeyOf.ts
  packages/react/src/utility-types/PropsWithDevMode.ts
  packages/react/src/utility-types/PropsWithoutChildren.ts
  packages/react/src/utility-types/PropsWithoutDevMode.ts
  packages/react/src/utility-types/index.ts
  packages/react/src/wrap.tsx
Labels: @suspensive/react

#535 feat(react): add svg logo for `<DevMode/>`
  .changeset/short-sheep-do.md
  packages/react/src/DevMode.spec.tsx
  packages/react/src/DevMode.tsx
Labels: @suspensive/react

#553 fix(react-query): remove tsd
  .github/workflows/ci.yml
  configs/eslint-config-ts/index.js
  package.json
  packages/react-image/vitest.config.ts
  packages/react-image/vitest.setup.ts
  packages/react-query/package.json
  packages/react-query/src/useSuspenseInfiniteQuery.test-d.ts
  packages/react-query/src/useSuspenseQueries.test-d.ts
  packages/react-query/src/useSuspenseQuery.test-d.ts
  packages/react-query/tsconfig.check.json
  pnpm-lock.yaml
  turbo.json
Labels: dependencies, workflows, @suspensive/react-query, @suspensive/react-image

#554 refactor(react-image): rename Image -> SuspenseImage
  .changeset/sour-geese-do.md
  packages/react-image/src/SuspenseImage.tsx
  packages/react-image/src/index.ts
  websites/visualization/src/app/react-image/page.tsx
Labels: visualization, @suspensive/react-image

#559 chore(vitest): add typecheck
  packages/react-await/package.json
  packages/react-image/package.json
  packages/react-query/package.json
  packages/react-query/src/QueryAsyncBoundary.spec.tsx
  packages/react/package.json
Labels: @suspensive/react, @suspensive/react-query, @suspensive/react-await, @suspensive/react-image

#570 fix(react): merge catchOn, throwOn as enabled
  .changeset/perfect-kangaroos-brake.md
  packages/react/src/ErrorBoundary.tsx
  packages/react/src/utility-types/ConstructorType.ts
  packages/react/src/utility-types/index.ts
  websites/visualization/src/app/layout.tsx
  websites/visualization/src/app/react/ErrorBoundary/catchOn/page.tsx
  websites/visualization/src/app/react/ErrorBoundary/enabled/page.tsx
  websites/visualization/src/app/react/ErrorBoundary/throwOn/page.tsx
Labels: visualization, @suspensive/react

#579 fix(react): assert message correctly, test code simply
  .changeset/strange-jobs-mate.md
  packages/react/src/AsyncBoundary.spec.tsx
  packages/react/src/Delay.spec.tsx
  packages/react/src/ErrorBoundary.spec.tsx
  packages/react/src/ErrorBoundary.tsx
  packages/react/src/ErrorBoundaryGroup.spec.tsx
  packages/react/src/ErrorBoundaryGroup.tsx
  packages/react/src/Suspense.spec.tsx
  packages/react/src/Suspensive.spec.tsx
  packages/react/src/utils/assert.spec.ts
  packages/react/src/utils/assert.ts
  packages/react/src/utils/hasResetKeysChanged.spec.ts
  packages/react/src/wrap.spec.tsx
Labels: @suspensive/react

#582 chore(docs): add experimental, deprecated as type prop of Callout
  configs/test-utils/src/delay.ts
  configs/test-utils/src/index.ts
  configs/test-utils/src/sleep.ts
  docs/v1/src/components/Callout.tsx
  docs/v1/src/components/index.ts
  docs/v1/src/pages/docs/react-await/Await.en.mdx
  docs/v1/src/pages/docs/react-await/Await.ko.mdx
  docs/v1/src/pages/docs/react-image/Image.en.mdx
  docs/v1/src/pages/docs/react-image/Image.ko.mdx
  docs/v1/src/pages/docs/react-query/QueryErrorBoundary.en.mdx
  docs/v1/src/pages/docs/react-query/QueryErrorBoundary.ko.mdx
  docs/v1/src/pages/docs/react-query/useSuspenseInfiniteQuery.en.mdx
  docs/v1/src/pages/docs/react-query/useSuspenseInfiniteQuery.ko.mdx
  docs/v1/src/pages/docs/react-query/useSuspenseQueries.en.mdx
  docs/v1/src/pages/docs/react-query/useSuspenseQueries.ko.mdx
  docs/v1/src/pages/docs/react-query/useSuspenseQuery.en.mdx
  docs/v1/src/pages/docs/react-query/useSuspenseQuery.ko.mdx
  docs/v1/src/pages/docs/react/AsyncBoundary.en.mdx
  docs/v1/src/pages/docs/react/AsyncBoundary.ko.mdx
  docs/v1/src/pages/docs/react/Delay.en.mdx
  docs/v1/src/pages/docs/react/Delay.ko.mdx
  docs/v1/src/pages/docs/react/DevMode.en.mdx
  docs/v1/src/pages/docs/react/DevMode.ko.mdx
  docs/v1/src/pages/docs/react/ErrorBoundary.en.mdx
  docs/v1/src/pages/docs/react/ErrorBoundary.ko.mdx
  docs/v1/src/pages/docs/react/ErrorBoundaryGroup.en.mdx
  docs/v1/src/pages/docs/react/ErrorBoundaryGroup.ko.mdx
  docs/v1/src/pages/docs/react/Suspense.en.mdx
  docs/v1/src/pages/docs/react/Suspense.ko.mdx
  docs/v1/src/pages/index.en.mdx
  docs/v1/src/pages/index.ko.mdx
  docs/v1/tsconfig.json
  docs/v2/src/components/Callout.tsx
  docs/v2/src/components/index.ts
  docs/v2/src/pages/docs/migrate-to-v2.en.mdx
  docs/v2/src/pages/docs/react-await/Await.en.mdx
  docs/v2/src/pages/docs/react-await/Await.ko.mdx
  docs/v2/src/pages/docs/react-image/Image.en.mdx
  docs/v2/src/pages/docs/react-image/Image.ko.mdx
  docs/v2/src/pages/docs/react-query/QueryErrorBoundary.en.mdx
  docs/v2/src/pages/docs/react-query/QueryErrorBoundary.ko.mdx
  docs/v2/src/pages/docs/react-query/useSuspenseInfiniteQuery.en.mdx
  docs/v2/src/pages/docs/react-query/useSuspenseInfiniteQuery.ko.mdx
  docs/v2/src/pages/docs/react-query/useSuspenseQueries.en.mdx
  docs/v2/src/pages/docs/react-query/useSuspenseQueries.ko.mdx
  docs/v2/src/pages/docs/react-query/useSuspenseQuery.en.mdx
  docs/v2/src/pages/docs/react-query/useSuspenseQuery.ko.mdx
  docs/v2/src/pages/docs/react/Delay.en.mdx
  docs/v2/src/pages/docs/react/Delay.ko.mdx
  docs/v2/src/pages/docs/react/ErrorBoundary.en.mdx
  docs/v2/src/pages/docs/react/ErrorBoundary.ko.mdx
  docs/v2/src/pages/docs/react/ErrorBoundaryGroup.en.mdx
  docs/v2/src/pages/docs/react/ErrorBoundaryGroup.ko.mdx
  docs/v2/src/pages/docs/react/Suspense.en.mdx
  docs/v2/src/pages/docs/react/Suspense.ko.mdx
  docs/v2/tsconfig.json
  packages/react-await/src/Await.spec.tsx
  packages/react-query/tsconfig.vitest-temp.json
  packages/react/src/hooks/useTimeout.spec.tsx
Labels: @suspensive/react, @suspensive/react-query, @suspensive/react-await, docs/v1, docs/v2

#590 fix(react): rename `enabled` as `shouldCatch`
  .changeset/perfect-kangaroos-brake.md
  configs/test-utils/src/CustomError.ts
  configs/test-utils/src/CustomNotError.ts
  configs/test-utils/src/index.ts
  packages/react/src/ErrorBoundary.spec.tsx
  packages/react/src/ErrorBoundary.test-d.tsx
  packages/react/src/ErrorBoundary.tsx
  websites/visualization/src/app/layout.tsx
  websites/visualization/src/app/react/ErrorBoundary/shouldCatch/page.tsx
Labels: visualization, @suspensive/react

#555 feat(react): add fallback prop of Delay
  .changeset/eight-ravens-knock.md
  docs/v1/src/pages/docs/react/Delay.en.mdx
  docs/v1/src/pages/docs/react/Delay.ko.mdx
  docs/v2/src/pages/docs/react/Delay.en.mdx
  docs/v2/src/pages/docs/react/Delay.ko.mdx
  packages/react/src/Delay.spec.tsx
  packages/react/src/Delay.tsx
  packages/react/src/Suspensive.spec.tsx
  packages/react/src/Suspensive.tsx
  packages/react/src/utils/assert.ts
  websites/visualization/src/app/layout.tsx
  websites/visualization/src/app/react-await/Await/page.tsx
  websites/visualization/src/app/react-image/SuspenseImage/page.tsx
  websites/visualization/src/app/react/Delay/page.tsx
Labels: visualization, @suspensive/react

#569 feat(react): add `shouldCatch` prop on ErrorBoundary
  .changeset/perfect-kangaroos-brake.md
  configs/test-utils/src/CustomError.ts
  configs/test-utils/src/CustomNotError.ts
  configs/test-utils/src/index.ts
  packages/react/src/ErrorBoundary.spec.tsx
  packages/react/src/ErrorBoundary.test-d.tsx
  packages/react/src/ErrorBoundary.tsx
  packages/react/src/utility-types/ConstructorType.ts
  packages/react/src/utility-types/index.ts
  pnpm-lock.yaml
  websites/visualization/package.json
  websites/visualization/src/app/layout.tsx
  websites/visualization/src/app/react/ErrorBoundary/shouldCatch/page.tsx
  websites/visualization/src/components/uis/index.tsx
Labels: visualization, dependencies, @suspensive/react

#631 feat(*): remove target react v16, v17, unnecessary use-sync-external-store
  .changeset/swift-moons-help.md
  configs/test-utils/package.json
  packages/react-await/package.json
  packages/react-await/src/Await.tsx
  packages/react-image/package.json
  packages/react-image/src/Load.tsx
  packages/react-query/package.json
  packages/react/package.json
  pnpm-lock.yaml
Labels: dependencies, @suspensive/react, @suspensive/react-query, @suspensive/react-await, @suspensive/react-image

#632 feat(react): rename Suspensive defaultOptions -> defaultProps
  .changeset/brown-tips-shout.md
  docs/suspensive.org/src/pages/docs/react/SuspensiveProvider.en.mdx
  docs/suspensive.org/src/pages/docs/react/SuspensiveProvider.ko.mdx
  packages/react/src/Suspensive.spec.tsx
  packages/react/src/Suspensive.tsx
  packages/react/src/contexts/DefaultPropsContexts.ts
  packages/react/src/contexts/index.ts
  packages/react/src/utils/assert.ts
  websites/visualization/src/app/providers.tsx
Labels: visualization, @suspensive/react, suspensive.org

#401 fix(react-query): make @suspensive/react-query v2 all naming convention correctly like @tanstack/react-query v5
  .changeset/eight-peas-hear.md
  packages/react-query/src/index.ts
  packages/react-query/src/useSuspenseInfiniteQuery.test-d.ts
  packages/react-query/src/useSuspenseInfiniteQuery.ts
  packages/react-query/src/useSuspenseQueries.test-d.ts
  packages/react-query/src/useSuspenseQueries.ts
  packages/react-query/src/useSuspenseQuery.test-d.ts
  packages/react-query/src/useSuspenseQuery.ts
Labels: @suspensive/react-query

#610 feat(react): add ErrorBoundary.Consumer, ErrorBoundaryGroup.Consumer
  .changeset/little-ladybugs-relate.md
  README.md
  docs/suspensive.org/src/pages/docs/react/ErrorBoundaryGroup.en.mdx
  docs/suspensive.org/src/pages/docs/react/ErrorBoundaryGroup.ko.mdx
  docs/suspensive.org/src/pages/docs/react/wrap.en.mdx
  docs/suspensive.org/src/pages/docs/react/wrap.ko.mdx
  packages/react/src/ErrorBoundary.tsx
  packages/react/src/ErrorBoundaryGroup.spec.tsx
  packages/react/src/ErrorBoundaryGroup.tsx
  websites/visualization/src/app/react-query/page.tsx
  websites/visualization/src/app/react/page.tsx
Labels: visualization, @suspensive/react, suspensive.org

#656 fix(react): add getServerSnapshot of use-sync-external-store in for syncDevMode in SSR environment
  .changeset/happy-scissors-wait.md
  examples/next-streaming-react-query/package.json
  examples/next-streaming-react-query/src/app/PageClientComponent.tsx
  examples/next-streaming-react-query/src/app/components/Text.tsx
  examples/next-streaming-react-query/src/app/components/Text2.tsx
  examples/next-streaming-react-query/src/app/providers.tsx
  packages/react/src/contexts/SuspensiveDevModeContext.ts
  pnpm-lock.yaml
Labels: dependencies, @suspensive/react

#660 ci(.changeset): ignore unnecessary packages
  .changeset/config.json
  examples/next-streaming-react-query/CHANGELOG.md
  examples/next-streaming-react-query/package.json
  package.json
  pnpm-lock.yaml
  websites/visualization/CHANGELOG.md
  websites/visualization/README.md
  websites/visualization/package.json
Labels: visualization, dependencies

#663 refactor(package-json-name): remove unnecessary code
  configs/package-json-name/.eslintrc.cjs
  configs/package-json-name/package.json
  configs/package-json-name/src/index.ts
  configs/package-json-name/tsconfig.json
  configs/package-json-name/tsup.config.ts
  configs/tsconfig/base.json
  packages/react-await/package.json
  packages/react-await/vitest.config.ts
  packages/react-image/package.json
  packages/react-image/vitest.config.ts
  packages/react-query/package.json
  packages/react-query/vitest.config.ts
  packages/react/package.json
  packages/react/vitest-production.config.ts
  packages/react/vitest.config.ts
  pnpm-lock.yaml
Labels: eslint, tsconfig, dependencies, @suspensive/react, @suspensive/react-query, @suspensive/react-await, @suspensive/react-image

#670 docs: update import line for react-image
  docs/suspensive.org/src/pages/docs/react-image/Image.en.mdx
  docs/suspensive.org/src/pages/docs/react-image/Image.ko.mdx
Labels: suspensive.org
