Repository toss/suspensive, pull requests merged in 2024-08, with the labels that each got.

#1168 docs(suspensive.org): add punctuation marks to a document
  docs/suspensive.org/src/pages/docs/jotai/Atom.ko.mdx
  docs/suspensive.org/src/pages/docs/jotai/installation.en.mdx
  docs/suspensive.org/src/pages/docs/jotai/installation.ko.mdx
  docs/suspensive.org/src/pages/docs/migrate-to-v2.ko.mdx
  docs/suspensive.org/src/pages/docs/react-image/SuspenseImage.en.mdx
  docs/suspensive.org/src/pages/docs/react-image/installation.en.mdx
  docs/suspensive.org/src/pages/docs/react-image/installation.ko.mdx
  docs/suspensive.org/src/pages/docs/react-query/installation.en.mdx
  docs/suspensive.org/src/pages/docs/react-query/motivation.en.mdx
  docs/suspensive.org/src/pages/docs/react-query/motivation.ko.mdx
  docs/suspensive.org/src/pages/docs/react/Delay.ko.mdx
  docs/suspensive.org/src/pages/docs/react/ErrorBoundary.en.mdx
  docs/suspensive.org/src/pages/docs/react/Suspense.ko.mdx
  docs/suspensive.org/src/pages/docs/react/installation.en.mdx
  docs/suspensive.org/src/pages/docs/react/installation.ko.mdx
Labels: suspensive.org

#1174 ci(knip): separately
  .github/workflows/ci.yml
  .github/workflows/knip.yml
Labels: workflows

#1175 ci(react-native): fix jest
  .github/labeler.yml
  codecov.yml
  docs/suspensive.org/package.json
  examples/next-streaming-react-query/package.json
  knip.json
  packages/react-native/jest.config.cjs
  packages/react-native/jest.config.ts
  packages/react-native/jest.setup.ts
  packages/react-native/package.json
  packages/react-native/src/TestText.spec.tsx
  pnpm-lock.yaml
  websites/visualization/package.json
Labels: visualization, dependencies, suspensive.org

#1179 docs(suspensive.org): modify punctuation marks and spaces in the document
  docs/suspensive.org/src/pages/docs/react-query/useSuspenseInfiniteQuery.en.mdx
  docs/suspensive.org/src/pages/docs/react/ClientOnly.en.mdx
  docs/suspensive.org/src/pages/docs/react/ClientOnly.ko.mdx
  docs/suspensive.org/src/pages/docs/react/ErrorBoundaryGroup.en.mdx
  docs/suspensive.org/src/pages/docs/react/ErrorBoundaryGroup.ko.mdx
  docs/suspensive.org/src/pages/docs/react/migrate-to-v2.en.mdx
  docs/suspensive.org/src/pages/docs/react/migrate-to-v2.ko.mdx
  docs/suspensive.org/src/pages/docs/react/motivation.en.mdx
  docs/suspensive.org/src/pages/docs/react/wrap.en.mdx
  docs/suspensive.org/src/pages/index.en.mdx
  docs/suspensive.org/src/pages/index.ko.mdx
  docs/suspensive.org/theme.config.tsx
Labels: suspensive.org

#1180 fix(*): remove unnecessary devDeps(react-dom, @types/react-dom)
  .changeset/calm-walls-develop.md
  .changeset/config.json
  knip.json
  packages/cache/package.json
  packages/jotai/package.json
  packages/react-image/package.json
  packages/react-query-4/package.json
  packages/react-query-5/package.json
  packages/react-query/package.json
  pnpm-lock.yaml
Labels: dependencies, @suspensive/react-query, @suspensive/react-image, @suspensive/jotai, @suspensive/cache, @suspensive/react-query-4, @suspensive/react-query-5

#1185 feat(react-query): clarify cli command explanations
  .changeset/few-timers-whisper.md
  docs/suspensive.org/src/pages/docs/react-query/tanstack-query-compatibility.en.mdx
  docs/suspensive.org/src/pages/docs/react-query/tanstack-query-compatibility.ko.mdx
  packages/react-query/src/scripts/cli.ts
Labels: @suspensive/react-query, suspensive.org

#1189 fix(cache): remove unsubscribe method of CacheStore
  .changeset/chilled-pets-hunt.md
  packages/cache/src/CacheStore.ts
  packages/cache/src/useCache.ts
Labels: @suspensive/cache

#1192 docs(suspensive.org): add infiniteQueryOptions doc
  docs/suspensive.org/src/pages/docs/react-query/infiniteQueryOptions.en.mdx
  docs/suspensive.org/src/pages/docs/react-query/infiniteQueryOptions.ko.mdx
Labels: suspensive.org

#1193 chore: add Sandpack component to Delay
  docs/suspensive.org/src/pages/docs/react/Delay.en.mdx
  docs/suspensive.org/src/pages/docs/react/Delay.ko.mdx
Labels: suspensive.org

#1195 chore: version packages
  .changeset/chilled-pets-hunt.md
  packages/cache/CHANGELOG.md
  packages/cache/package.json
Labels: @suspensive/cache

#1196 docs(suspensive.org): update callout for "support both TanStack Query v4 and v5"
  docs/suspensive.org/src/pages/docs/react-query/motivation.en.mdx
  docs/suspensive.org/src/pages/docs/react-query/motivation.ko.mdx
  docs/suspensive.org/src/pages/docs/react-query/tanstack-query-compatibility.ko.mdx
Labels: suspensive.org

#1198 refactor: display tanstack apis in status cli table
  .changeset/tasty-dolphins-retire.md
  packages/react-query/src/scripts/utils/commands.spec.ts
  packages/react-query/src/scripts/utils/package.spec.ts
  packages/react-query/src/scripts/utils/package.ts
  packages/react-query/src/scripts/utils/table.ts
Labels: @suspensive/react-query

#1200 chore: version packages
  .changeset/tasty-dolphins-retire.md
  packages/cache/CHANGELOG.md
  packages/cache/package.json
  packages/jotai/CHANGELOG.md
  packages/jotai/package.json
  packages/react-dom/CHANGELOG.md
  packages/react-dom/package.json
  packages/react-image/CHANGELOG.md
  packages/react-image/package.json
  packages/react-native/CHANGELOG.md
  packages/react-native/package.json
  packages/react-query-4/CHANGELOG.md
  packages/react-query-4/package.json
  packages/react-query-5/CHANGELOG.md
  packages/react-query-5/package.json
  packages/react-query/CHANGELOG.md
  packages/react-query/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
  pnpm-lock.yaml
Labels: dependencies, @suspensive/react, @suspensive/react-query, @suspensive/react-image, @suspensive/jotai, @suspensive/cache, @suspensive/react-query-4, @suspensive/react-query-5, @suspensive/utils, @suspensive/react-native, @suspensive/react-dom

#1204 docs: change default version
  docs/suspensive.org/src/pages/_meta.en.json
  docs/suspensive.org/src/pages/_meta.ko.json
Labels: suspensive.org

#1205 feat(jotai): escape version 0
  .changeset/config.json
  .changeset/gentle-moles-wink.md
  docs/suspensive.org/src/pages/docs/jotai/Atom.en.mdx
  docs/suspensive.org/src/pages/docs/jotai/Atom.ko.mdx
  docs/suspensive.org/src/pages/docs/jotai/AtomValue.en.mdx
  docs/suspensive.org/src/pages/docs/jotai/AtomValue.ko.mdx
  docs/suspensive.org/src/pages/docs/jotai/SetAtom.en.mdx
  docs/suspensive.org/src/pages/docs/jotai/SetAtom.ko.mdx
  packages/jotai/src/Atom.test-d.tsx
  packages/jotai/src/Atom.tsx
  packages/jotai/src/AtomValue.test-d.tsx
  packages/jotai/src/AtomValue.tsx
  packages/jotai/src/SetAtom.test-d.tsx
  packages/jotai/src/SetAtom.tsx
  packages/jotai/src/utility-types/ChildrenRenderProps.ts
  packages/jotai/src/utility-types/SetAtom.ts
  packages/jotai/src/utility-types/index.ts
Labels: suspensive.org, @suspensive/jotai

#1206 chore: version packages
  .changeset/gentle-moles-wink.md
  packages/cache/CHANGELOG.md
  packages/cache/package.json
  packages/jotai/CHANGELOG.md
  packages/jotai/package.json
  packages/react-dom/CHANGELOG.md
  packages/react-dom/package.json
  packages/react-image/CHANGELOG.md
  packages/react-image/package.json
  packages/react-native/CHANGELOG.md
  packages/react-native/package.json
  packages/react-query-4/CHANGELOG.md
  packages/react-query-4/package.json
  packages/react-query-5/CHANGELOG.md
  packages/react-query-5/package.json
  packages/react-query/CHANGELOG.md
  packages/react-query/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
  pnpm-lock.yaml
Labels: dependencies, @suspensive/react, @suspensive/react-query, @suspensive/react-image, @suspensive/jotai, @suspensive/cache, @suspensive/react-query-4, @suspensive/react-query-5, @suspensive/utils, @suspensive/react-native, @suspensive/react-dom

#1201 feat(*): add turbo watch mode
  .husky/prepare-commit-msg
  configs/tsup/package.json
  knip.json
  package.json
  packages/cache/package.json
  packages/jotai/package.json
  packages/react-dom/package.json
  packages/react-image/package.json
  packages/react-native/package.json
  packages/react-query-4/package.json
  packages/react-query-5/package.json
  packages/react-query/package.json
  packages/react/package.json
  packages/utils/package.json
  pnpm-lock.yaml
  turbo.json
Labels: dependencies, @suspensive/react, @suspensive/react-query, @suspensive/react-image, @suspensive/jotai, @suspensive/cache, @suspensive/react-query-4, @suspensive/react-query-5, @suspensive/utils, @suspensive/react-native, @suspensive/react-dom

#1208 refactor: seperate the usePrevious module
  .changeset/weak-grapes-act.md
  packages/react/src/hooks/useIsChanged.spec.ts
  packages/react/src/hooks/useIsChanged.ts
  packages/react/src/hooks/usePrevious.spec.ts
  packages/react/src/hooks/usePrevious.ts
Labels: @suspensive/react

#1209 chore: version packages
  .changeset/weak-grapes-act.md
  packages/cache/CHANGELOG.md
  packages/cache/package.json
  packages/jotai/CHANGELOG.md
  packages/jotai/package.json
  packages/react-dom/CHANGELOG.md
  packages/react-dom/package.json
  packages/react-image/CHANGELOG.md
  packages/react-image/package.json
  packages/react-native/CHANGELOG.md
  packages/react-native/package.json
  packages/react-query-4/CHANGELOG.md
  packages/react-query-4/package.json
  packages/react-query-5/CHANGELOG.md
  packages/react-query-5/package.json
  packages/react-query/CHANGELOG.md
  packages/react-query/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
  pnpm-lock.yaml
Labels: dependencies, @suspensive/react, @suspensive/react-query, @suspensive/react-image, @suspensive/jotai, @suspensive/cache, @suspensive/react-query-4, @suspensive/react-query-5, @suspensive/utils, @suspensive/react-native, @suspensive/react-dom

#1211 ci(vitest): official @vitest/eslint-plugin
  configs/eslint-config-js/no-import.js
  configs/eslint-config-js/package.json
  pnpm-lock.yaml
Labels: dependencies

#1212 chore: pnpm 9
  .github/actions/pnpm-setup-node/action.yml
  .github/workflows/ci.yml
  .github/workflows/knip.yml
  CONTRIBUTING.md
  package.json
  pnpm-lock.yaml
Labels: dependencies, workflows

#1197 feat(cache): add `Subscribable`
  .changeset/twelve-apricots-decide.md
  packages/cache/src/CacheStore.spec.tsx
  packages/cache/src/CacheStore.ts
  packages/cache/src/models/Subscribable.ts
  packages/cache/src/useCache.ts
Labels: @suspensive/cache

#1217 chore: version packages
  .changeset/twelve-apricots-decide.md
  packages/cache/CHANGELOG.md
  packages/cache/package.json
Labels: @suspensive/cache

#1161 feat(react-query-v4): react-query-next-experimental
  .changeset/angry-turtles-thank.md
  .github/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/labeler.yml
  codecov.yml
  examples/react-query-next-experimental-4-example/.eslintrc.cjs
  examples/react-query-next-experimental-4-example/.gitignore
  examples/react-query-next-experimental-4-example/next.config.js
  examples/react-query-next-experimental-4-example/package.json
  examples/react-query-next-experimental-4-example/postcss.config.js
  examples/react-query-next-experimental-4-example/public/next.svg
  examples/react-query-next-experimental-4-example/public/vercel.svg
  examples/react-query-next-experimental-4-example/src/app/api/text/route.ts
  examples/react-query-next-experimental-4-example/src/app/components/Text.tsx
  examples/react-query-next-experimental-4-example/src/app/components/Text2.tsx
  examples/react-query-next-experimental-4-example/src/app/favicon.ico
  examples/react-query-next-experimental-4-example/src/app/globals.css
  examples/react-query-next-experimental-4-example/src/app/layout.tsx
  examples/react-query-next-experimental-4-example/src/app/page.tsx
  examples/react-query-next-experimental-4-example/src/app/providers.tsx
  examples/react-query-next-experimental-4-example/src/app/test/page.tsx
  examples/react-query-next-experimental-4-example/src/query/index.ts
  examples/react-query-next-experimental-4-example/tailwind.config.js
  examples/react-query-next-experimental-4-example/tsconfig.json
  packages/react-query-next-experimental-4/.eslintrc.cjs
  packages/react-query-next-experimental-4/CHANGELOG.md
  packages/react-query-next-experimental-4/LICENSE
  packages/react-query-next-experimental-4/package.json
  packages/react-query-next-experimental-4/src/HydrationStreamProvider.tsx
  packages/react-query-next-experimental-4/src/ReactQueryStreamedHydration.tsx
  packages/react-query-next-experimental-4/src/htmlescape.spec.ts
  packages/react-query-next-experimental-4/src/htmlescape.ts
  packages/react-query-next-experimental-4/src/index.ts
  packages/react-query-next-experimental-4/tsconfig.json
  packages/react-query-next-experimental-4/tsup.config.ts
  packages/react-query-next-experimental-4/vitest.config.ts
  packages/react-query-next-experimental-4/vitest.setup.ts
  packages/react-query-next-experimental/.eslintrc.cjs
  packages/react-query-next-experimental/CHANGELOG.md
  packages/react-query-next-experimental/LICENSE
  packages/react-query-next-experimental/package.json
  packages/react-query-next-experimental/src/index.ts
  packages/react-query-next-experimental/tsconfig.json
  packages/react-query-next-experimental/tsup.config.ts
  packages/react-query-next-experimental/vitest.config.ts
  packages/react-query-next-experimental/vitest.setup.ts
  pnpm-lock.yaml
Labels: eslint, dependencies

#1222 chore: update deps
  .eslintrc.cjs
  configs/eslint-config-js/package.json
  configs/eslint-config-ts/package.json
  configs/eslint-config/package.json
  docs/suspensive.org/package.json
  examples/next-streaming-react-query/package.json
  examples/next-streaming-react-query/prettier.config.mjs
  examples/next-streaming-react-query/tsconfig.json
  examples/react-query-next-experimental-4-example/package.json
  examples/react-query-next-experimental-4-example/prettier.config.mjs
  examples/react-query-next-experimental-4-example/tsconfig.json
  examples/visualization/next.config.js
  examples/visualization/package.json
  knip.json
  package.json
  packages/react-query-5/package.json
  packages/react-query-next-experimental-4/src/HydrationStreamProvider.tsx
  pnpm-lock.yaml
Labels: eslint, dependencies, suspensive.org, @suspensive/react-query-5, @suspensive/react-query-next-experimental-4

#1223 feat(react-query-4): export UnselectedQueryOptions, SelectedQueryOptions
  .changeset/perfect-games-push.md
  packages/react-query-4/src/index.ts
  packages/react-query-4/src/infiniteQueryOptions.ts
  packages/react-query-4/src/queryOptions.ts
Labels: @suspensive/react-query-4

#1220 chore: version packages
  .changeset/angry-turtles-thank.md
  .changeset/perfect-games-push.md
  packages/cache/CHANGELOG.md
  packages/cache/package.json
  packages/jotai/CHANGELOG.md
  packages/jotai/package.json
  packages/react-dom/CHANGELOG.md
  packages/react-dom/package.json
  packages/react-image/CHANGELOG.md
  packages/react-image/package.json
  packages/react-native/CHANGELOG.md
  packages/react-native/package.json
  packages/react-query-4/CHANGELOG.md
  packages/react-query-4/package.json
  packages/react-query-5/CHANGELOG.md
  packages/react-query-5/package.json
  packages/react-query-next-experimental-4/CHANGELOG.md
  packages/react-query-next-experimental-4/package.json
  packages/react-query-next-experimental/CHANGELOG.md
  packages/react-query-next-experimental/package.json
  packages/react-query/CHANGELOG.md
  packages/react-query/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
  pnpm-lock.yaml
Labels: @suspensive/react-query-next-experimental, @suspensive/react-query-next-experimental-4

#1224 fix(cache): rename the cache interface name
  .changeset/quiet-rings-compete.md
  README.md
  examples/visualization/src/app/cache/SuspenseCache/page.tsx
  examples/visualization/src/app/providers.tsx
  packages/cache/src/Cache.ts
  packages/cache/src/Cache.tsx
  packages/cache/src/CacheProvider.tsx
  packages/cache/src/CacheStore.spec.tsx
  packages/cache/src/CacheStoreProvider.tsx
  packages/cache/src/Read.spec.tsx
  packages/cache/src/Read.tsx
  packages/cache/src/cacheOptions.spec.tsx
  packages/cache/src/cacheOptions.test-d.tsx
  packages/cache/src/contexts/CacheContext.ts
  packages/cache/src/contexts/CacheStoreContext.ts
  packages/cache/src/contexts/index.ts
  packages/cache/src/index.ts
  packages/cache/src/useCache.ts
  packages/cache/src/useCacheStore.ts
  packages/cache/src/useRead.spec.tsx
  packages/cache/src/useRead.ts
Labels: @suspensive/cache

#1226 chore: version packages
  .changeset/quiet-rings-compete.md
  packages/cache/CHANGELOG.md
  packages/cache/package.json
Labels: @suspensive/cache

#1229 chore(pnpm): use catalog
  .github/labeler.yml
  .vscode/extensions.json
  docs/suspensive.org/package.json
  examples/next-streaming-react-query/package.json
  examples/react-native-playground/package.json
  examples/react-query-next-experimental-4-example/package.json
  examples/visualization/package.json
  package.json
  packages/cache/package.json
  packages/jotai/package.json
  packages/react-dom/package.json
  packages/react-image/package.json
  packages/react-native/package.json
  packages/react-query-4/package.json
  packages/react-query-5/package.json
  packages/react-query-next-experimental-4/package.json
  packages/react-query-next-experimental/package.json
  packages/react-query/package.json
  packages/react/package.json
  packages/utils/package.json
  packlint.config.mjs
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: dependencies, @suspensive/react, @suspensive/react-query, @suspensive/react-image, suspensive.org, @suspensive/jotai, @suspensive/cache, @suspensive/react-query-4, @suspensive/react-query-5, @suspensive/utils, @suspensive/react-native, @suspensive/react-dom, @suspensive/react-query-next-experimental, @suspensive/react-query-next-experimental-4

#1231 docs(suspensive): discord for community
  docs/suspensive.org/theme.config.tsx
Labels: suspensive.org

#1233 docs(examples): add react 18 example about problem of suspense prerendering siblings
  examples/vite-react-18-suspense-prerender-siblings-problem/.eslintrc.cjs
  examples/vite-react-18-suspense-prerender-siblings-problem/index.html
  examples/vite-react-18-suspense-prerender-siblings-problem/package.json
  examples/vite-react-18-suspense-prerender-siblings-problem/src/App.css
  examples/vite-react-18-suspense-prerender-siblings-problem/src/App.tsx
  examples/vite-react-18-suspense-prerender-siblings-problem/src/index.css
  examples/vite-react-18-suspense-prerender-siblings-problem/src/main.tsx
  examples/vite-react-18-suspense-prerender-siblings-problem/src/vite-env.d.ts
  examples/vite-react-18-suspense-prerender-siblings-problem/tsconfig.json
  examples/vite-react-18-suspense-prerender-siblings-problem/vite.config.ts
  pnpm-lock.yaml
Labels: eslint, dependencies, examples

#1234 chore(pnpm): use catalogs
  examples/next-streaming-react-query/package.json
  examples/react-query-next-experimental-4-example/package.json
  examples/visualization/package.json
  examples/vite-react-18-suspense-prerender-siblings-problem/package.json
  packages/cache/package.json
  packages/jotai/package.json
  packages/react-dom/package.json
  packages/react-image/package.json
  packages/react-native/package.json
  packages/react-query-4/package.json
  packages/react-query-5/package.json
  packages/react-query-next-experimental-4/package.json
  packages/react-query-next-experimental/package.json
  packages/react-query/package.json
  packages/react/package.json
  packages/utils/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: dependencies, @suspensive/react, @suspensive/react-query, @suspensive/react-image, @suspensive/jotai, @suspensive/cache, @suspensive/react-query-4, @suspensive/react-query-5, @suspensive/utils, @suspensive/react-native, @suspensive/react-dom, @suspensive/react-query-next-experimental, @suspensive/react-query-next-experimental-4, examples

#1239 ci(*): eslint 9
  .eslintignore
  package.json
  pnpm-lock.yaml
Labels: eslint, dependencies
