Repository toss/suspensive, pull requests merged in 2024-04, with the labels that each got.

#829 chore(react-query): remove dist to original src for vitest type test
  packages/react-query/src/SuspenseInfiniteQuery.test-d.tsx
  packages/react-query/src/SuspenseQuery.test-d.tsx
  packages/react-query/src/useSuspenseInfiniteQuery.test-d.ts
  packages/react-query/src/useSuspenseQueries.test-d.ts
  packages/react-query/src/useSuspenseQuery.test-d.ts
  packages/react-query/src/useSuspenseQuery.ts
Labels: @suspensive/react-query

#828 feat(react-query): add `queryOptions`
  .changeset/chatty-windows-carry.md
  docs/suspensive.org/src/pages/docs/react-query/SuspenseInfiniteQuery.en.mdx
  docs/suspensive.org/src/pages/docs/react-query/SuspenseInfiniteQuery.ko.mdx
  docs/suspensive.org/src/pages/docs/react-query/SuspenseQuery.en.mdx
  docs/suspensive.org/src/pages/docs/react-query/SuspenseQuery.ko.mdx
  docs/suspensive.org/src/pages/docs/react-query/_meta.en.json
  docs/suspensive.org/src/pages/docs/react-query/_meta.ko.json
  docs/suspensive.org/src/pages/docs/react-query/migrate-to-v2.en.mdx
  docs/suspensive.org/src/pages/docs/react-query/migrate-to-v2.ko.mdx
  docs/suspensive.org/src/pages/docs/react-query/queryOptions.en.mdx
  docs/suspensive.org/src/pages/docs/react-query/queryOptions.ko.mdx
  packages/react-query/src/index.ts
  packages/react-query/src/queryOptions.test-d.tsx
  packages/react-query/src/queryOptions.ts
  packages/react-query/src/useSuspenseQueries.test-d.ts
  packages/react-query/src/useSuspenseQueries.ts
  packages/react-query/src/utility-types/RequiredKeyof.ts
  packages/react-query/src/utility-types/index.ts
Labels: @suspensive/react-query, suspensive.org

#840 docs(react-query): add more why we support this with @tanstack/react-query v4
  docs/suspensive.org/public/img/react-query_community-resources.png
  docs/suspensive.org/public/img/react-query_private-class-fields-error.png
  docs/suspensive.org/public/img/react-query_private-class-fields-tkdodo-comment.png
  docs/suspensive.org/src/pages/docs/react-query/_meta.en.json
  docs/suspensive.org/src/pages/docs/react-query/_meta.ko.json
  docs/suspensive.org/src/pages/docs/react-query/installation.en.mdx
  docs/suspensive.org/src/pages/docs/react-query/installation.ko.mdx
  docs/suspensive.org/src/pages/docs/react-query/motivation.en.mdx
  docs/suspensive.org/src/pages/docs/react-query/motivation.ko.mdx
Labels: suspensive.org

#857 chore(*): add @coauthors/prepare-commit-msg
  .eslintrc.cjs
  .husky/commit-msg
  .husky/pre-commit
  .husky/prepare-commit-msg
Labels: eslint

#865 chore: add vitest globals tsconfig option
  packages/react-await/src/Await.spec.tsx
  packages/react-await/src/utils/hasResetKeysChanged.spec.ts
  packages/react-await/src/utils/hashKey.spec.ts
  packages/react-await/src/utils/isPlainObject.spec.ts
  packages/react-await/tsconfig.json
  packages/react-image/src/Load.spec.tsx
  packages/react-image/tsconfig.json
  packages/react-query/src/useSuspenseInfiniteQuery.test-d.ts
  packages/react-query/src/useSuspenseQueries.test-d.ts
  packages/react-query/src/useSuspenseQuery.test-d.ts
  packages/react-query/src/utility-types/OmitKeyof.test-d.ts
  packages/react-query/tsconfig.json
  packages/react/src/AsyncBoundary.spec.tsx
  packages/react/src/Delay.spec.tsx
  packages/react/src/DevMode-production.spec.tsx
  packages/react/src/DevMode.spec.tsx
  packages/react/src/ErrorBoundary.spec.tsx
  packages/react/src/ErrorBoundary.test-d.tsx
  packages/react/src/ErrorBoundaryGroup.spec.tsx
  packages/react/src/Suspense.spec.tsx
  packages/react/src/Suspensive.spec.tsx
  packages/react/src/contexts/SuspensiveDevMode.spec.tsx
  packages/react/src/contexts/SuspensiveDevModeContext.spec.tsx
  packages/react/src/contexts/syncDevMode-production.spec.tsx
  packages/react/src/contexts/syncDevMode.spec.tsx
  packages/react/src/hooks/useIsChanged.spec.ts
  packages/react/src/hooks/useIsClient.spec.ts
  packages/react/src/hooks/useIsomorphicLayoutEffect.spec.ts
  packages/react/src/hooks/useTimeout.spec.tsx
  packages/react/src/models/SuspensiveError.spec.tsx
  packages/react/src/utility-types/OmitKeyof.test-d.ts
  packages/react/src/utils/hasResetKeysChanged.spec.ts
  packages/react/src/wrap.spec.tsx
  packages/react/tsconfig.json
Labels: @suspensive/react, @suspensive/react-query, @suspensive/react-await, @suspensive/react-image

#866 docs(*): separate intro
  docs/suspensive.org/src/components/HomePage.tsx
  docs/suspensive.org/src/pages/docs/_meta.en.json
  docs/suspensive.org/src/pages/docs/_meta.ko.json
  docs/suspensive.org/src/pages/docs/intro.en.mdx
  docs/suspensive.org/src/pages/docs/intro.ko.mdx
  docs/suspensive.org/src/pages/docs/react-query/installation.en.mdx
  docs/suspensive.org/src/pages/docs/react-query/installation.ko.mdx
  docs/suspensive.org/src/pages/docs/react/installation.en.mdx
  docs/suspensive.org/src/pages/docs/react/installation.ko.mdx
Labels: suspensive.org
