Repository toss/suspensive, pull requests merged in 2024-09, with the labels that each got.

#1241 feat(jotai): add jsdoc to jotai component
  .changeset/cool-baboons-enjoy.md
  packages/jotai/src/Atom.tsx
  packages/jotai/src/AtomValue.tsx
  packages/jotai/src/SetAtom.tsx
Labels: @suspensive/jotai

#1242 chore: version packages
  .changeset/cool-baboons-enjoy.md
  packages/cache/CHANGELOG.md
  packages/cache/package.json
  packages/jotai/CHANGELOG.md
  packages/jotai/package.json
  packages/react-dom/CHANGELOG.md
  packages/react-dom/package.json
  packages/react-image/CHANGELOG.md
  packages/react-image/package.json
  packages/react-native/CHANGELOG.md
  packages/react-native/package.json
  packages/react-query-4/CHANGELOG.md
  packages/react-query-4/package.json
  packages/react-query-5/CHANGELOG.md
  packages/react-query-5/package.json
  packages/react-query-next-experimental-4/CHANGELOG.md
  packages/react-query-next-experimental-4/package.json
  packages/react-query-next-experimental/CHANGELOG.md
  packages/react-query-next-experimental/package.json
  packages/react-query/CHANGELOG.md
  packages/react-query/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
  pnpm-lock.yaml
Labels: dependencies, @suspensive/react, @suspensive/react-query, @suspensive/react-image, @suspensive/jotai, @suspensive/cache, @suspensive/react-query-4, @suspensive/react-query-5, @suspensive/utils, @suspensive/react-native, @suspensive/react-dom, @suspensive/react-query-next-experimental, @suspensive/react-query-next-experimental-4

#1243 fix(react-query): update tanstack query as optional peerDependency
  .changeset/wet-rivers-confess.md
  knip.json
  packages/react-query-4/package.json
  packages/react-query-5/package.json
Labels: @suspensive/react-query-4, @suspensive/react-query-5

#1244 chore: version packages
  .changeset/wet-rivers-confess.md
  packages/cache/CHANGELOG.md
  packages/cache/package.json
  packages/jotai/CHANGELOG.md
  packages/jotai/package.json
  packages/react-dom/CHANGELOG.md
  packages/react-dom/package.json
  packages/react-image/CHANGELOG.md
  packages/react-image/package.json
  packages/react-native/CHANGELOG.md
  packages/react-native/package.json
  packages/react-query-4/CHANGELOG.md
  packages/react-query-4/package.json
  packages/react-query-5/CHANGELOG.md
  packages/react-query-5/package.json
  packages/react-query-next-experimental-4/CHANGELOG.md
  packages/react-query-next-experimental-4/package.json
  packages/react-query-next-experimental/CHANGELOG.md
  packages/react-query-next-experimental/package.json
  packages/react-query/CHANGELOG.md
  packages/react-query/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
  pnpm-lock.yaml
Labels: dependencies, @suspensive/react, @suspensive/react-query, @suspensive/react-image, @suspensive/jotai, @suspensive/cache, @suspensive/react-query-4, @suspensive/react-query-5, @suspensive/utils, @suspensive/react-native, @suspensive/react-dom, @suspensive/react-query-next-experimental, @suspensive/react-query-next-experimental-4

#1252 feat(react-query): add usePrefetchQuery, usePrefetchInfiniteQuery
  .changeset/shy-wolves-train.md
  packages/react-query-4/src/index.ts
  packages/react-query-4/src/infiniteQueryOptions.test-d.tsx
  packages/react-query-4/src/queryOptions.test-d.tsx
  packages/react-query-4/src/usePrefetchInfiniteQuery.ts
  packages/react-query-4/src/usePrefetchQuery.ts
  packages/react-query-5/src/index.ts
  packages/react-query-5/src/usePrefetchInfiniteQuery.ts
  packages/react-query-5/src/usePrefetchQuery.ts
  packages/react-query/src/scripts/utils/package.spec.ts
  packages/react-query/src/scripts/utils/package.ts
Labels: @suspensive/react-query, @suspensive/react-query-4, @suspensive/react-query-5

#1255 chore: version packages
  .changeset/shy-wolves-train.md
  packages/cache/CHANGELOG.md
  packages/cache/package.json
  packages/jotai/CHANGELOG.md
  packages/jotai/package.json
  packages/react-dom/CHANGELOG.md
  packages/react-dom/package.json
  packages/react-image/CHANGELOG.md
  packages/react-image/package.json
  packages/react-native/CHANGELOG.md
  packages/react-native/package.json
  packages/react-query-4/CHANGELOG.md
  packages/react-query-4/package.json
  packages/react-query-5/CHANGELOG.md
  packages/react-query-5/package.json
  packages/react-query-next-experimental-4/CHANGELOG.md
  packages/react-query-next-experimental-4/package.json
  packages/react-query-next-experimental/CHANGELOG.md
  packages/react-query-next-experimental/package.json
  packages/react-query/CHANGELOG.md
  packages/react-query/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
  pnpm-lock.yaml
Labels: dependencies, @suspensive/react, @suspensive/react-query, @suspensive/react-image, @suspensive/jotai, @suspensive/cache, @suspensive/react-query-4, @suspensive/react-query-5, @suspensive/utils, @suspensive/react-native, @suspensive/react-dom, @suspensive/react-query-next-experimental, @suspensive/react-query-next-experimental-4

#1258 feat(react-query): add `<PrefetchQuery/>`, `<PrefetchInfiniteQuery/>`
  .changeset/plenty-rules-attack.md
  packages/react-query-4/src/PrefetchInfiniteQuery.test-d.tsx
  packages/react-query-4/src/PrefetchInfiniteQuery.tsx
  packages/react-query-4/src/PrefetchQuery.test-d.tsx
  packages/react-query-4/src/PrefetchQuery.tsx
  packages/react-query-4/src/index.ts
  packages/react-query-5/src/PrefetchInfiniteQuery.test-d.tsx
  packages/react-query-5/src/PrefetchInfiniteQuery.tsx
  packages/react-query-5/src/PrefetchQuery.test-d.tsx
  packages/react-query-5/src/PrefetchQuery.tsx
  packages/react-query-5/src/index.ts
  packages/react-query/src/scripts/utils/package.spec.ts
Labels: @suspensive/react-query, @suspensive/react-query-4, @suspensive/react-query-5

#1260 chore: version packages
  .changeset/plenty-rules-attack.md
  packages/cache/CHANGELOG.md
  packages/cache/package.json
  packages/jotai/CHANGELOG.md
  packages/jotai/package.json
  packages/react-dom/CHANGELOG.md
  packages/react-dom/package.json
  packages/react-image/CHANGELOG.md
  packages/react-image/package.json
  packages/react-native/CHANGELOG.md
  packages/react-native/package.json
  packages/react-query-4/CHANGELOG.md
  packages/react-query-4/package.json
  packages/react-query-5/CHANGELOG.md
  packages/react-query-5/package.json
  packages/react-query-next-experimental-4/CHANGELOG.md
  packages/react-query-next-experimental-4/package.json
  packages/react-query-next-experimental/CHANGELOG.md
  packages/react-query-next-experimental/package.json
  packages/react-query/CHANGELOG.md
  packages/react-query/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
  pnpm-lock.yaml
Labels: dependencies, @suspensive/react, @suspensive/react-query, @suspensive/react-image, @suspensive/jotai, @suspensive/cache, @suspensive/react-query-4, @suspensive/react-query-5, @suspensive/utils, @suspensive/react-native, @suspensive/react-dom, @suspensive/react-query-next-experimental, @suspensive/react-query-next-experimental-4

#1261 feat(react-query): remove experimental jsdoc of infiniteQueryOptions,`<Mutation/>`
  .changeset/selfish-frogs-wonder.md
  packages/react-query-4/src/Mutation.tsx
  packages/react-query-4/src/infiniteQueryOptions.ts
  packages/react-query-5/src/Mutation.tsx
Labels: @suspensive/react-query-4, @suspensive/react-query-5

#1262 chore: version packages
  .changeset/selfish-frogs-wonder.md
  packages/cache/CHANGELOG.md
  packages/cache/package.json
  packages/jotai/CHANGELOG.md
  packages/jotai/package.json
  packages/react-dom/CHANGELOG.md
  packages/react-dom/package.json
  packages/react-image/CHANGELOG.md
  packages/react-image/package.json
  packages/react-native/CHANGELOG.md
  packages/react-native/package.json
  packages/react-query-4/CHANGELOG.md
  packages/react-query-4/package.json
  packages/react-query-5/CHANGELOG.md
  packages/react-query-5/package.json
  packages/react-query-next-experimental-4/CHANGELOG.md
  packages/react-query-next-experimental-4/package.json
  packages/react-query-next-experimental/CHANGELOG.md
  packages/react-query-next-experimental/package.json
  packages/react-query/CHANGELOG.md
  packages/react-query/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
  pnpm-lock.yaml
Labels: dependencies, @suspensive/react, @suspensive/react-query, @suspensive/react-image, @suspensive/jotai, @suspensive/cache, @suspensive/react-query-4, @suspensive/react-query-5, @suspensive/utils, @suspensive/react-native, @suspensive/react-dom, @suspensive/react-query-next-experimental, @suspensive/react-query-next-experimental-4

#1266 docs: update discord link in nav
  README.md
  docs/suspensive.org/theme.config.tsx
Labels: suspensive.org

#1271 chore: version packages
  .changeset/flat-games-unite.md
  packages/cache/CHANGELOG.md
  packages/cache/package.json
  packages/jotai/CHANGELOG.md
  packages/jotai/package.json
  packages/react-dom/CHANGELOG.md
  packages/react-dom/package.json
  packages/react-image/CHANGELOG.md
  packages/react-image/package.json
  packages/react-native/CHANGELOG.md
  packages/react-native/package.json
  packages/react-query-4/CHANGELOG.md
  packages/react-query-4/package.json
  packages/react-query-5/CHANGELOG.md
  packages/react-query-5/package.json
  packages/react-query-next-experimental-4/CHANGELOG.md
  packages/react-query-next-experimental-4/package.json
  packages/react-query-next-experimental/CHANGELOG.md
  packages/react-query-next-experimental/package.json
  packages/react-query/CHANGELOG.md
  packages/react-query/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
  pnpm-lock.yaml
Labels: dependencies, @suspensive/react, @suspensive/react-query, @suspensive/react-image, @suspensive/jotai, @suspensive/cache, @suspensive/react-query-4, @suspensive/react-query-5, @suspensive/utils, @suspensive/react-native, @suspensive/react-dom, @suspensive/react-query-next-experimental, @suspensive/react-query-next-experimental-4

#1272 docs: update package descriptions for clarity and consistency
  .changeset/witty-bulldogs-fly.md
  packages/cache/package.json
  packages/jotai/package.json
  packages/react-dom/package.json
  packages/react-image/package.json
  packages/react-native/package.json
  packages/react-query-4/package.json
  packages/react-query-5/package.json
  packages/react-query/package.json
  packages/react/package.json
  packages/utils/package.json
Labels: @suspensive/react, @suspensive/react-query, @suspensive/react-image, @suspensive/jotai, @suspensive/cache, @suspensive/react-query-4, @suspensive/react-query-5, @suspensive/utils, @suspensive/react-native, @suspensive/react-dom

#1273 chore: version packages
  .changeset/witty-bulldogs-fly.md
  packages/cache/CHANGELOG.md
  packages/cache/package.json
  packages/jotai/CHANGELOG.md
  packages/jotai/package.json
  packages/react-dom/CHANGELOG.md
  packages/react-dom/package.json
  packages/react-image/CHANGELOG.md
  packages/react-image/package.json
  packages/react-native/CHANGELOG.md
  packages/react-native/package.json
  packages/react-query-4/CHANGELOG.md
  packages/react-query-4/package.json
  packages/react-query-5/CHANGELOG.md
  packages/react-query-5/package.json
  packages/react-query-next-experimental-4/CHANGELOG.md
  packages/react-query-next-experimental-4/package.json
  packages/react-query-next-experimental/CHANGELOG.md
  packages/react-query-next-experimental/package.json
  packages/react-query/CHANGELOG.md
  packages/react-query/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  packages/utils/CHANGELOG.md
  packages/utils/package.json
  pnpm-lock.yaml
Labels: dependencies, @suspensive/react, @suspensive/react-query, @suspensive/react-image, @suspensive/jotai, @suspensive/cache, @suspensive/react-query-4, @suspensive/react-query-5, @suspensive/utils, @suspensive/react-native, @suspensive/react-dom, @suspensive/react-query-next-experimental, @suspensive/react-query-next-experimental-4

#1274 fix: update useRouter import and adjust UI styling
  docs/suspensive.org/src/components/HomePage.tsx
  docs/suspensive.org/theme.config.tsx
Labels: suspensive.org

#1275 docs(suspensive.org): add sandpack example to DefaultPropsProvider
  docs/suspensive.org/src/pages/docs/react/DefaultPropsProvider.en.mdx
  docs/suspensive.org/src/pages/docs/react/DefaultPropsProvider.ko.mdx
Labels: suspensive.org

#1276 fix(suspensive.org): fix `v2` place in the logo
  docs/suspensive.org/src/components/HomePage.tsx
  docs/suspensive.org/theme.config.tsx
Labels: suspensive.org

#1279 chore: remove cache pacakge
  .github/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/labeler.yml
  README.md
  codecov.yml
  docs/suspensive.org/src/pages/docs/changelogs.en.mdx
  docs/suspensive.org/src/pages/docs/changelogs.ko.mdx
  examples/visualization/package.json
  examples/visualization/src/app/cache/SuspenseCache/page.tsx
  examples/visualization/src/app/providers.tsx
  packages/cache/CHANGELOG.md
  packages/cache/LICENSE
  packages/cache/README.ko.md
  packages/cache/README.md
  packages/cache/eslint.config.mjs
  packages/cache/package.json
  packages/cache/src/Cache.ts
  packages/cache/src/CacheProvider.tsx
  packages/cache/src/CacheStore.spec.tsx
  packages/cache/src/Read.spec.tsx
  packages/cache/src/Read.tsx
  packages/cache/src/cacheOptions.spec.tsx
  packages/cache/src/cacheOptions.test-d.tsx
  packages/cache/src/cacheOptions.ts
  packages/cache/src/contexts/CacheContext.ts
  packages/cache/src/contexts/index.ts
  packages/cache/src/index.ts
  packages/cache/src/models/Subscribable.ts
  packages/cache/src/types.ts
  packages/cache/src/useCache.ts
  packages/cache/src/useRead.spec.tsx
  packages/cache/src/useRead.ts
  packages/cache/src/utility-types/ExtractPartial.ts
  packages/cache/src/utility-types/Tuple.ts
  packages/cache/src/utility-types/index.ts
  packages/cache/src/utils/hashCacheKey.spec.ts
  packages/cache/src/utils/hashCacheKey.ts
  packages/cache/src/utils/index.ts
  packages/cache/src/utils/isPlainObject.spec.ts
  packages/cache/src/utils/isPlainObject.ts
  packages/cache/tsconfig.json
  packages/cache/tsup.config.ts
  packages/cache/vitest.config.ts
  packages/cache/vitest.setup.ts
  pnpm-lock.yaml
Labels: dependencies, suspensive.org, @suspensive/cache, examples

#1280 chore(react-image): remove package
  .github/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/labeler.yml
  codecov.yml
  docs/suspensive.org/src/pages/docs/_meta.en.json
  docs/suspensive.org/src/pages/docs/_meta.ko.json
  docs/suspensive.org/src/pages/docs/changelogs.en.mdx
  docs/suspensive.org/src/pages/docs/changelogs.ko.mdx
  docs/suspensive.org/src/pages/docs/react-image/SuspenseImage.en.mdx
  docs/suspensive.org/src/pages/docs/react-image/SuspenseImage.ko.mdx
  docs/suspensive.org/src/pages/docs/react-image/_meta.en.json
  docs/suspensive.org/src/pages/docs/react-image/_meta.ko.json
  docs/suspensive.org/src/pages/docs/react-image/installation.en.mdx
  docs/suspensive.org/src/pages/docs/react-image/installation.ko.mdx
  examples/visualization/package.json
  examples/visualization/src/app/layout.tsx
  examples/visualization/src/app/react-image/SuspenseImage/page.tsx
  packages/react-image/CHANGELOG.md
  packages/react-image/README.ko.md
  packages/react-image/README.md
  packages/react-image/eslint.config.mjs
  packages/react-image/package.json
  packages/react-image/src/Load.spec.tsx
  packages/react-image/src/Load.tsx
  packages/react-image/src/SuspenseImage.spec.tsx
  packages/react-image/src/SuspenseImage.tsx
  packages/react-image/src/index.ts
  packages/react-image/tsconfig.json
  packages/react-image/tsup.config.ts
  packages/react-image/vitest.config.ts
  packages/react-image/vitest.setup.ts
  packages/react/CHANGELOG.md
  pnpm-lock.yaml
Labels: dependencies, @suspensive/react, @suspensive/react-image, suspensive.org, examples

#1281 chore(react-query-next-experimental): remove package
  .changeset/config.json
  .github/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/labeler.yml
  codecov.yml
  examples/react-query-next-experimental-4-example/.gitignore
  examples/react-query-next-experimental-4-example/eslint.config.mjs
  examples/react-query-next-experimental-4-example/next.config.js
  examples/react-query-next-experimental-4-example/package.json
  examples/react-query-next-experimental-4-example/postcss.config.js
  examples/react-query-next-experimental-4-example/prettier.config.mjs
  examples/react-query-next-experimental-4-example/public/next.svg
  examples/react-query-next-experimental-4-example/public/vercel.svg
  examples/react-query-next-experimental-4-example/src/app/api/text/route.ts
  examples/react-query-next-experimental-4-example/src/app/components/Text.tsx
  examples/react-query-next-experimental-4-example/src/app/components/Text2.tsx
  examples/react-query-next-experimental-4-example/src/app/favicon.ico
  examples/react-query-next-experimental-4-example/src/app/globals.css
  examples/react-query-next-experimental-4-example/src/app/layout.tsx
  examples/react-query-next-experimental-4-example/src/app/page.tsx
  examples/react-query-next-experimental-4-example/src/app/providers.tsx
  examples/react-query-next-experimental-4-example/src/app/test/page.tsx
  examples/react-query-next-experimental-4-example/src/query/index.ts
  examples/react-query-next-experimental-4-example/tailwind.config.js
  examples/react-query-next-experimental-4-example/tsconfig.json
  packages/react-query-next-experimental-4/CHANGELOG.md
  packages/react-query-next-experimental-4/LICENSE
  packages/react-query-next-experimental-4/eslint.config.mjs
  packages/react-query-next-experimental-4/package.json
  packages/react-query-next-experimental-4/src/HydrationStreamProvider.tsx
  packages/react-query-next-experimental-4/src/ReactQueryStreamedHydration.tsx
  packages/react-query-next-experimental-4/src/htmlescape.spec.ts
  packages/react-query-next-experimental-4/src/htmlescape.ts
  packages/react-query-next-experimental-4/src/index.ts
  packages/react-query-next-experimental-4/tsconfig.json
  packages/react-query-next-experimental-4/tsup.config.ts
  packages/react-query-next-experimental-4/vitest.config.ts
  packages/react-query-next-experimental-4/vitest.setup.ts
  packages/react-query-next-experimental/CHANGELOG.md
  packages/react-query-next-experimental/LICENSE
  packages/react-query-next-experimental/eslint.config.mjs
  packages/react-query-next-experimental/package.json
  packages/react-query-next-experimental/src/index.ts
  packages/react-query-next-experimental/tsconfig.json
  packages/react-query-next-experimental/tsup.config.ts
  packages/react-query-next-experimental/vitest.config.ts
  packages/react-query-next-experimental/vitest.setup.ts
  pnpm-lock.yaml
Labels: dependencies, @suspensive/react-query-next-experimental, @suspensive/react-query-next-experimental-4, examples
