Repository toss/suspensive, pull requests merged in 2024-10, with the labels that each got.

#1288 chore: update deps
  configs/eslint-config/package.json
  examples/vite-react-18-suspense-prerender-siblings-problem/package.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: dependencies, examples

#1291 chore: version packages
  .changeset/wise-boxes-cheer.md
  packages/jotai/CHANGELOG.md
  packages/jotai/package.json
  packages/react-dom/CHANGELOG.md
  packages/react-dom/package.json
  packages/react-native/CHANGELOG.md
  packages/react-native/package.json
  packages/react-query-4/CHANGELOG.md
  packages/react-query-4/package.json
  packages/react-query-5/CHANGELOG.md
  packages/react-query-5/package.json
  packages/react-query/CHANGELOG.md
  packages/react-query/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  pnpm-lock.yaml
Labels: dependencies, @suspensive/react, @suspensive/react-query, @suspensive/jotai, @suspensive/react-query-4, @suspensive/react-query-5, @suspensive/react-native, @suspensive/react-dom

#1296 docs(react-query): add docs for usePrefetchQuery
  docs/suspensive.org/src/pages/docs/react-query/_meta.en.json
  docs/suspensive.org/src/pages/docs/react-query/_meta.ko.json
  docs/suspensive.org/src/pages/docs/react-query/usePrefetchQuery.en.mdx
  docs/suspensive.org/src/pages/docs/react-query/usePrefetchQuery.ko.mdx
Labels: suspensive.org

#1297 docs(react-query): add docs for PrefetchQuery
  docs/suspensive.org/src/pages/docs/react-query/PrefetchQuery.en.mdx
  docs/suspensive.org/src/pages/docs/react-query/PrefetchQuery.ko.mdx
  docs/suspensive.org/src/pages/docs/react-query/_meta.en.json
  docs/suspensive.org/src/pages/docs/react-query/_meta.ko.json
Labels: suspensive.org

#1299 docs(react-query): add docs for usePrefetchInfiniteQuery
  docs/suspensive.org/src/pages/docs/react-query/_meta.en.json
  docs/suspensive.org/src/pages/docs/react-query/_meta.ko.json
  docs/suspensive.org/src/pages/docs/react-query/usePrefetchInfiniteQuery.en.mdx
  docs/suspensive.org/src/pages/docs/react-query/usePrefetchInfiniteQuery.ko.mdx
  docs/suspensive.org/src/pages/docs/react-query/usePrefetchQuery.en.mdx
  docs/suspensive.org/src/pages/docs/react-query/usePrefetchQuery.ko.mdx
Labels: suspensive.org

#1302 refactor(react): use direct `undefined` comparison for fallback in `<Delay/>` and `<Suspense/>` components
  .changeset/flat-eagles-train.md
  packages/react/src/Delay.spec.tsx
  packages/react/src/Delay.tsx
  packages/react/src/Suspense.spec.tsx
  packages/react/src/Suspense.tsx
Labels: @suspensive/react

#1305 chore: version packages
  .changeset/flat-eagles-train.md
  packages/jotai/CHANGELOG.md
  packages/jotai/package.json
  packages/react-query-4/CHANGELOG.md
  packages/react-query-4/package.json
  packages/react-query-5/CHANGELOG.md
  packages/react-query-5/package.json
  packages/react-query/CHANGELOG.md
  packages/react-query/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  pnpm-lock.yaml
Labels: dependencies, @suspensive/react, @suspensive/react-query, @suspensive/jotai, @suspensive/react-query-4, @suspensive/react-query-5

#1304 feat(react-query): add jsdoc to react query apis
  .changeset/famous-donuts-protect.md
  packages/react-query-4/src/PrefetchInfiniteQuery.tsx
  packages/react-query-4/src/PrefetchQuery.tsx
  packages/react-query-4/src/QueryErrorBoundary.tsx
  packages/react-query-4/src/SuspenseInfiniteQuery.tsx
  packages/react-query-4/src/SuspenseQueries.tsx
  packages/react-query-4/src/SuspenseQuery.tsx
  packages/react-query-4/src/infiniteQueryOptions.ts
  packages/react-query-4/src/queryOptions.ts
  packages/react-query-4/src/usePrefetchInfiniteQuery.ts
  packages/react-query-4/src/usePrefetchQuery.ts
  packages/react-query-4/src/useSuspenseInfiniteQuery.ts
  packages/react-query-4/src/useSuspenseQueries.ts
  packages/react-query-4/src/useSuspenseQuery.ts
  packages/react-query-5/src/PrefetchInfiniteQuery.tsx
  packages/react-query-5/src/PrefetchQuery.tsx
  packages/react-query-5/src/QueryErrorBoundary.tsx
  packages/react-query-5/src/SuspenseInfiniteQuery.tsx
  packages/react-query-5/src/SuspenseQueries.tsx
  packages/react-query-5/src/SuspenseQuery.tsx
Labels: @suspensive/react-query-4, @suspensive/react-query-5

#1310 chore: version packages
  .changeset/famous-donuts-protect.md
  packages/jotai/CHANGELOG.md
  packages/jotai/package.json
  packages/react-query-4/CHANGELOG.md
  packages/react-query-4/package.json
  packages/react-query-5/CHANGELOG.md
  packages/react-query-5/package.json
  packages/react-query/CHANGELOG.md
  packages/react-query/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  pnpm-lock.yaml
Labels: dependencies, @suspensive/react, @suspensive/react-query, @suspensive/jotai, @suspensive/react-query-4, @suspensive/react-query-5

#1311 fix(suspensive.org): resolve locale initialization issue
  docs/suspensive.org/package.json
  docs/suspensive.org/src/middleware.ts
  pnpm-lock.yaml
Labels: dependencies, suspensive.org

#1312 feat(react): function children of Delay
  .changeset/poor-poets-jam.md
  packages/react/src/DefaultProps.spec.tsx
  packages/react/src/Delay.spec.tsx
  packages/react/src/Delay.test-d.tsx
  packages/react/src/Delay.tsx
Labels: @suspensive/react

#1314 chore: version packages
  .changeset/poor-poets-jam.md
  packages/jotai/CHANGELOG.md
  packages/jotai/package.json
  packages/react-query-4/CHANGELOG.md
  packages/react-query-4/package.json
  packages/react-query-5/CHANGELOG.md
  packages/react-query-5/package.json
  packages/react-query/CHANGELOG.md
  packages/react-query/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  pnpm-lock.yaml
Labels: dependencies, @suspensive/react, @suspensive/react-query, @suspensive/jotai, @suspensive/react-query-4, @suspensive/react-query-5

#1319 refactor(react): update `usePreservedCallback` signature
  .changeset/tricky-chicken-provide.md
  packages/react/src/hooks/usePreservedCallback.test-d.ts
  packages/react/src/hooks/usePreservedCallback.ts
Labels: @suspensive/react

#1320 chore: version packages
  .changeset/tricky-chicken-provide.md
  packages/jotai/CHANGELOG.md
  packages/jotai/package.json
  packages/react-query-4/CHANGELOG.md
  packages/react-query-4/package.json
  packages/react-query-5/CHANGELOG.md
  packages/react-query-5/package.json
  packages/react-query/CHANGELOG.md
  packages/react-query/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  pnpm-lock.yaml
Labels: dependencies, @suspensive/react, @suspensive/react-query, @suspensive/jotai, @suspensive/react-query-4, @suspensive/react-query-5

#1318 test(react-query): add test case for loadModule
  .changeset/chilly-mayflies-play.md
  packages/react-query/src/scripts/utils/loadModule.ts
  packages/react-query/src/scripts/utils/package.spec.ts
  packages/react-query/src/scripts/utils/package.ts
Labels: @suspensive/react-query

#1321 chore: version packages
  .changeset/chilly-mayflies-play.md
  packages/jotai/CHANGELOG.md
  packages/jotai/package.json
  packages/react-query-4/CHANGELOG.md
  packages/react-query-4/package.json
  packages/react-query-5/CHANGELOG.md
  packages/react-query-5/package.json
  packages/react-query/CHANGELOG.md
  packages/react-query/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  pnpm-lock.yaml
Labels: dependencies, @suspensive/react, @suspensive/react-query, @suspensive/jotai, @suspensive/react-query-4, @suspensive/react-query-5

#1317 test(react-dom): test observe without options
  packages/react-dom/src/utils/observe.spec.ts
Labels: @suspensive/react-dom

#1324 refactor(suspensive.org): optimize css, improve accessibility
  docs/suspensive.org/README.md
  docs/suspensive.org/src/_document.tsx
  docs/suspensive.org/src/_meta.tsx
  docs/suspensive.org/src/components/BubbleChart.tsx
  docs/suspensive.org/src/components/HomePage.tsx
  docs/suspensive.org/src/components/Sandpack/SandPackCSS.tsx
  docs/suspensive.org/src/pages/_app.tsx
  docs/suspensive.org/src/pages/_document.tsx
  docs/suspensive.org/src/pages/en/index.mdx
  docs/suspensive.org/src/pages/ko/index.mdx
  docs/suspensive.org/theme.config.tsx
Labels: suspensive.org

#1327 refactor(react): improve `<Delay/>`'s performance by simplify useTimeout's code
  .changeset/honest-cameras-clap.md
  packages/react/src/hooks/useIsClient.spec.ts
  packages/react/src/hooks/useIsomorphicLayoutEffect.spec.ts
  packages/react/src/hooks/useIsomorphicLayoutEffect.ts
  packages/react/src/hooks/usePreservedCallback.spec.ts
  packages/react/src/hooks/usePreservedCallback.test-d.ts
  packages/react/src/hooks/usePreservedCallback.ts
  packages/react/src/hooks/useTimeout.ts
Labels: @suspensive/react

#1330 chore: version packages
  .changeset/honest-cameras-clap.md
  packages/jotai/CHANGELOG.md
  packages/jotai/package.json
  packages/react-query-4/CHANGELOG.md
  packages/react-query-4/package.json
  packages/react-query-5/CHANGELOG.md
  packages/react-query-5/package.json
  packages/react-query/CHANGELOG.md
  packages/react-query/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  pnpm-lock.yaml
Labels: dependencies, @suspensive/react, @suspensive/react-query, @suspensive/jotai, @suspensive/react-query-4, @suspensive/react-query-5

#1315 docs: add docs for `<QueryClientConsumer>`
  docs/suspensive.org/src/pages/en/docs/react-query/QueryClientConsumer.mdx
  docs/suspensive.org/src/pages/en/docs/react-query/_meta.tsx
  docs/suspensive.org/src/pages/ko/docs/react-query/QueryClientConsumer.mdx
  docs/suspensive.org/src/pages/ko/docs/react-query/_meta.tsx
Labels: suspensive.org

#1334 chore(eslint-config): update eslint-plugin-react-compiler version
  configs/eslint-config/package.json
  configs/eslint-config/src/index.ts
  pnpm-lock.yaml
Labels: dependencies

#1335 docs: add docs for `<Mutation/>`
  docs/suspensive.org/src/pages/en/docs/react-query/Mutation.mdx
  docs/suspensive.org/src/pages/en/docs/react-query/_meta.tsx
  docs/suspensive.org/src/pages/ko/docs/react-query/Mutation.mdx
  docs/suspensive.org/src/pages/ko/docs/react-query/_meta.tsx
Labels: suspensive.org

#1336 fix(react): change `defineSuspense` function signature
  .changeset/eleven-laws-appear.md
  packages/react/src/utils/defineSuspense.test-d.ts
  packages/react/src/utils/defineSuspense.tsx
Labels: @suspensive/react

#1337 chore: version packages
  .changeset/eleven-laws-appear.md
  packages/jotai/CHANGELOG.md
  packages/jotai/package.json
  packages/react-query-4/CHANGELOG.md
  packages/react-query-4/package.json
  packages/react-query-5/CHANGELOG.md
  packages/react-query-5/package.json
  packages/react-query/CHANGELOG.md
  packages/react-query/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  pnpm-lock.yaml
Labels: dependencies, @suspensive/react, @suspensive/react-query, @suspensive/jotai, @suspensive/react-query-4, @suspensive/react-query-5
