Repository toss/suspensive, pull requests merged in 2024-11, with the labels that each got.

#1344 chore: update author info for gwansikk
  docs/suspensive.org/src/pages/ko/docs/contributors.mdx
  packages/jotai/package.json
Labels: suspensive.org, @suspensive/jotai

#1338 feat(codemods): add @suspensive/codemods package
  .github/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/labeler.yml
  codecov.yml
  packages/codemods/README.md
  packages/codemods/eslint.config.mjs
  packages/codemods/package.json
  packages/codemods/src/bin/codemods.spec.ts
  packages/codemods/src/bin/codemods.ts
  packages/codemods/src/bin/transformRunner.spec.ts
  packages/codemods/src/bin/transformRunner.ts
  packages/codemods/src/transforms/tanstack-query-import.ts
  packages/codemods/src/utils/createParserFromPath.spec.ts
  packages/codemods/src/utils/createParserFromPath.ts
  packages/codemods/tsconfig.json
  packages/codemods/tsup.config.ts
  packages/codemods/vitest.config.ts
  pnpm-lock.yaml
Labels: dependencies

#1347 chore(*): update deps
  .github/actions/pnpm-setup-node/action.yml
  .nvmrc
  CONTRIBUTING.md
  docs/suspensive.org/package.json
  examples/next-streaming-react-query/next.config.js
  examples/next-streaming-react-query/src/app/layout.tsx
  examples/next-streaming-react-query/tsconfig.json
  examples/react-native-playground/package.json
  examples/visualization/next.config.js
  examples/visualization/src/app/layout.tsx
  examples/visualization/src/app/react-query/SuspenseQuery/page.tsx
  examples/visualization/src/app/react/DevMode/page.tsx
  examples/visualization/src/app/react/Suspense/clientOnly/page.tsx
  examples/visualization/src/app/react/SuspensiveError/page.tsx
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: dependencies, suspensive.org, examples

#1352 fix: React Native Playground Configuration
  .npmrc
  examples/react-native-playground/.expo-shared/assets.json
  examples/react-native-playground/.gitignore
  examples/react-native-playground/App.tsx
  examples/react-native-playground/README.md
  examples/react-native-playground/app.json
  examples/react-native-playground/app/+html.tsx
  examples/react-native-playground/app/+not-found.tsx
  examples/react-native-playground/app/_layout.tsx
  examples/react-native-playground/app/index.tsx
  examples/react-native-playground/assets/images/adaptive-icon.png
  examples/react-native-playground/assets/images/favicon.png
  examples/react-native-playground/assets/images/icon.png
  examples/react-native-playground/assets/images/splash.png
  examples/react-native-playground/babel.config.js
  examples/react-native-playground/eslint.config.mjs
  examples/react-native-playground/index.js
  examples/react-native-playground/metro.config.js
  examples/react-native-playground/package.json
  examples/react-native-playground/src/providers.tsx
  examples/react-native-playground/tsconfig.json
  examples/vite-react-18-suspense-prerender-siblings-problem/tsconfig.tsbuildinfo
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: dependencies, examples

#1355 fix(react-native-playground): update deps
  examples/react-native-playground/app/+html.tsx
  examples/react-native-playground/app/_layout.tsx
  examples/react-native-playground/app/index.tsx
  examples/react-native-playground/babel.config.js
  examples/react-native-playground/eslint.config.mjs
  examples/react-native-playground/index.js
  examples/react-native-playground/metro.config.js
  examples/react-native-playground/package.json
  examples/react-native-playground/src/providers.tsx
  examples/react-native-playground/tsconfig.json
  packages/codemods/package.json
  packages/react-native/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: dependencies, @suspensive/react-native, examples, @suspensive/codemods

#1356 feat(react-native-playground): remove shamefully-hoist and expo 52 version upgrade
  .npmrc
  examples/react-native-playground/.gitignore
  examples/react-native-playground/README.md
  examples/react-native-playground/app.json
  examples/react-native-playground/app/+html.tsx
  examples/react-native-playground/app/+not-found.tsx
  examples/react-native-playground/app/_layout.tsx
  examples/react-native-playground/app/index.tsx
  examples/react-native-playground/assets/images/splash-icon.png
  examples/react-native-playground/assets/images/splash.png
  examples/react-native-playground/babel.config.js
  examples/react-native-playground/eslint.config.mjs
  examples/react-native-playground/index.js
  examples/react-native-playground/metro.config.js
  examples/react-native-playground/package.json
  examples/react-native-playground/scripts/reset-project.js
  examples/react-native-playground/src/providers.tsx
  examples/react-native-playground/tsconfig.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: dependencies, examples

#1357 chore(eslint-config): no build should be okay
  configs/eslint-config/eslint.config.mjs
  configs/eslint-config/index.js
  configs/eslint-config/package.json
  configs/eslint-config/tsconfig.json
  configs/eslint-config/tsup.config.ts
  pnpm-lock.yaml
Labels: dependencies

#1358 chore(react-native-playground): eslint & type
  examples/react-native-playground/app/_layout.tsx
  examples/react-native-playground/eslint.config.mjs
  examples/react-native-playground/package.json
  examples/react-native-playground/src/providers.tsx
  examples/react-native-playground/tsconfig.json
  packages/react/src/ErrorBoundary.tsx
Labels: @suspensive/react, examples

#1359 test(react-query-4): type test for usePrefetchQuery, usePrefetchInfiniteQuery
  packages/react-query-4/src/usePrefetchInfiniteQuery.test-d.tsx
  packages/react-query-4/src/usePrefetchQuery.test-d.tsx
Labels: @suspensive/react-query-4

#1360 fix(react-query): deprecate QueryErrorBoundary
  .changeset/gold-zebras-join.md
  README.md
  docs/suspensive.org/src/components/BubbleChart.tsx
  docs/suspensive.org/src/pages/en/docs/react-query/QueryErrorBoundary.mdx
  docs/suspensive.org/src/pages/en/docs/react-query/_meta.tsx
  docs/suspensive.org/src/pages/en/docs/react-query/installation.mdx
  docs/suspensive.org/src/pages/ko/docs/react-query/QueryErrorBoundary.mdx
  docs/suspensive.org/src/pages/ko/docs/react-query/_meta.tsx
  docs/suspensive.org/src/pages/ko/docs/react-query/installation.mdx
  examples/visualization/src/app/react-query/page.tsx
  packages/react-query-4/src/QueryErrorBoundary.tsx
  packages/react-query-5/src/QueryErrorBoundary.tsx
Labels: suspensive.org, @suspensive/react-query-4, @suspensive/react-query-5, examples

#1361 chore: version packages
  .changeset/gold-zebras-join.md
  packages/jotai/CHANGELOG.md
  packages/jotai/package.json
  packages/react-query-4/CHANGELOG.md
  packages/react-query-4/package.json
  packages/react-query-5/CHANGELOG.md
  packages/react-query-5/package.json
  packages/react-query/CHANGELOG.md
  packages/react-query/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  pnpm-lock.yaml
Labels: dependencies, @suspensive/react, @suspensive/react-query, @suspensive/jotai, @suspensive/react-query-4, @suspensive/react-query-5

#1364 fix(react-query, jotai, react): fix typo in jsdoc
  .changeset/twenty-rockets-knock.md
  .changeset/wild-days-retire.md
  packages/jotai/src/Atom.tsx
  packages/jotai/src/AtomValue.tsx
  packages/jotai/src/SetAtom.tsx
  packages/react-query-4/src/PrefetchInfiniteQuery.tsx
  packages/react-query-4/src/usePrefetchInfiniteQuery.ts
  packages/react-query-4/src/usePrefetchQuery.ts
  packages/react-query-4/src/useSuspenseInfiniteQuery.ts
  packages/react-query-4/src/useSuspenseQueries.ts
  packages/react-query-4/src/useSuspenseQuery.ts
  packages/react-query-5/src/QueryErrorBoundary.tsx
  packages/react-query-5/src/SuspenseQuery.tsx
  packages/react/src/Suspense.tsx
Labels: @suspensive/react, @suspensive/jotai, @suspensive/react-query-4, @suspensive/react-query-5

#1365 feat(react, react-query-4): add missing JSDoc for react and react-query-4
  .changeset/thick-cats-marry.md
  packages/react-query-4/src/queryOptions.ts
  packages/react/src/ClientOnly.tsx
  packages/react/src/DefaultProps.tsx
  packages/react/src/Delay.tsx
  packages/react/src/ErrorBoundary.tsx
  packages/react/src/ErrorBoundaryGroup.tsx
  packages/react/src/wrap.tsx
Labels: @suspensive/react, @suspensive/react-query-4

#1368 docs(react-query, react): Update jsdoc link from `en/docs` to `docs`
  .changeset/chatty-socks-guess.md
  packages/react-query-4/src/PrefetchInfiniteQuery.tsx
  packages/react-query-4/src/PrefetchQuery.tsx
  packages/react-query-4/src/SuspenseInfiniteQuery.tsx
  packages/react-query-4/src/SuspenseQueries.tsx
  packages/react-query-4/src/SuspenseQuery.tsx
  packages/react-query-4/src/queryOptions.ts
  packages/react-query-4/src/usePrefetchInfiniteQuery.ts
  packages/react-query-4/src/usePrefetchQuery.ts
  packages/react-query-4/src/useSuspenseInfiniteQuery.ts
  packages/react-query-4/src/useSuspenseQueries.ts
  packages/react-query-4/src/useSuspenseQuery.ts
  packages/react-query-5/src/PrefetchInfiniteQuery.tsx
  packages/react-query-5/src/PrefetchQuery.tsx
  packages/react-query-5/src/SuspenseInfiniteQuery.tsx
  packages/react-query-5/src/SuspenseQueries.tsx
  packages/react-query-5/src/SuspenseQuery.tsx
  packages/react/src/DefaultProps.tsx
  packages/react/src/ErrorBoundary.tsx
Labels: @suspensive/react, @suspensive/react-query-4, @suspensive/react-query-5

#1366 chore: version packages
  .changeset/chatty-socks-guess.md
  .changeset/thick-cats-marry.md
  .changeset/twenty-rockets-knock.md
  .changeset/wild-days-retire.md
  packages/jotai/CHANGELOG.md
  packages/jotai/package.json
  packages/react-query-4/CHANGELOG.md
  packages/react-query-4/package.json
  packages/react-query-5/CHANGELOG.md
  packages/react-query-5/package.json
  packages/react-query/CHANGELOG.md
  packages/react-query/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  pnpm-lock.yaml
Labels: dependencies, @suspensive/react, @suspensive/react-query, @suspensive/jotai, @suspensive/react-query-4, @suspensive/react-query-5

#1370 refactor(tsup): update script options
  .changeset/few-boats-explain.md
  configs/tsup/src/index.ts
  packages/codemods/package.json
  packages/codemods/src/transforms/tanstack-query-import.ts
  packages/codemods/src/transforms/utils/createParserFromPath.spec.ts
  packages/codemods/src/transforms/utils/createParserFromPath.ts
  packages/codemods/tsup.config.ts
  packages/react-query/package.json
  packages/react-query/src/bin/cli.spec.ts
  packages/react-query/src/bin/cli.ts
  packages/react-query/src/bin/postinstall.ts
  packages/react-query/src/bin/utils/commands.spec.ts
  packages/react-query/src/bin/utils/commands.ts
  packages/react-query/src/bin/utils/copy.spec.ts
  packages/react-query/src/bin/utils/copy.ts
  packages/react-query/src/bin/utils/package.spec.ts
  packages/react-query/src/bin/utils/package.ts
  packages/react-query/src/bin/utils/switchVersion.spec.ts
  packages/react-query/src/bin/utils/switchVersion.ts
  packages/react-query/src/bin/utils/table.ts
  pnpm-lock.yaml
Labels: dependencies, @suspensive/react-query, @suspensive/codemods

#1371 chore: version packages
  .changeset/few-boats-explain.md
  packages/codemods/CHANGELOG.md
  packages/codemods/package.json
  packages/jotai/CHANGELOG.md
  packages/jotai/package.json
  packages/react-query-4/CHANGELOG.md
  packages/react-query-4/package.json
  packages/react-query-5/CHANGELOG.md
  packages/react-query-5/package.json
  packages/react-query/CHANGELOG.md
  packages/react-query/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  pnpm-lock.yaml
Labels: dependencies, @suspensive/react, @suspensive/react-query, @suspensive/jotai, @suspensive/react-query-4, @suspensive/react-query-5, @suspensive/codemods

#1362 feat(react-dom): add `<FadeIn/>`
  .changeset/fresh-flies-wash.md
  examples/visualization/src/app/layout.tsx
  examples/visualization/src/app/react-dom/FadeIn/page.tsx
  examples/visualization/src/app/react-dom/InView/page.tsx
  packages/react-dom/src/FadeIn.spec.tsx
  packages/react-dom/src/FadeIn.test-d.tsx
  packages/react-dom/src/FadeIn.tsx
  packages/react-dom/src/index.ts
  packages/react-dom/src/useFadeIn.ts
  packages/react-dom/src/utility-types/OmitKeyof.test-d.ts
  packages/react-dom/src/utility-types/OmitKeyof.ts
  packages/react-dom/src/utility-types/index.ts
Labels: @suspensive/react-dom, examples

#1372 chore: version packages
  .changeset/fresh-flies-wash.md
  packages/react-dom/CHANGELOG.md
  packages/react-dom/package.json
Labels: @suspensive/react-dom

#1369 docs(suspensive.org): code transition
  docs/suspensive.org/next.config.mjs
  docs/suspensive.org/package.json
  docs/suspensive.org/src/components/Scrollycoding.tsx
  docs/suspensive.org/src/components/index.ts
  docs/suspensive.org/src/pages/en/index.mdx
  docs/suspensive.org/src/pages/ko/index.mdx
  pnpm-lock.yaml
Labels: dependencies, suspensive.org

#1373 docs: translate korean to english on landing page
  docs/suspensive.org/src/pages/en/index.mdx
  docs/suspensive.org/src/pages/ko/index.mdx
Labels: suspensive.org

#1375 test: add tests for `react-query` package
  packages/react-query/src/bin/postinstall.spec.ts
  packages/react-query/src/bin/utils/package.spec.ts
Labels: @suspensive/react-query

#1377 docs: format homepage desc to code
  docs/suspensive.org/src/components/HomePage.tsx
  docs/suspensive.org/src/pages/en/index.mdx
  docs/suspensive.org/src/pages/ko/index.mdx
Labels: suspensive.org
