Repository toss/suspensive, pull requests merged in 2024-02, with the labels that each got.

#615 fix(react): new internal api `SuspensiveError`
  .changeset/gorgeous-beans-sniff.md
  .gitignore
  packages/react/src/Delay.spec.tsx
  packages/react/src/Delay.tsx
  packages/react/src/ErrorBoundary.spec.tsx
  packages/react/src/ErrorBoundary.tsx
  packages/react/src/ErrorBoundaryGroup.spec.tsx
  packages/react/src/ErrorBoundaryGroup.tsx
  packages/react/src/Suspensive.spec.tsx
  packages/react/src/Suspensive.tsx
  packages/react/src/models/SuspensiveError.spec.tsx
  packages/react/src/models/SuspensiveError.ts
  packages/react/src/utils/assert.spec.ts
  packages/react/src/utils/index.ts
  websites/visualization/src/app/layout.tsx
  websites/visualization/src/app/react/SuspensiveError/page.tsx
Labels: visualization, @suspensive/react

#686 ci(codecov): version up to v4
  .github/workflows/code-coverage.yml
Labels: workflows

#684 docs(visualization): zod parse for searchParams assertion
  pnpm-lock.yaml
  websites/visualization/package.json
  websites/visualization/src/app/layout.tsx
  websites/visualization/src/app/react/zodSearchParams/page.tsx
Labels: visualization, dependencies

#694 ci(lighthouse): add in workflow
  .github/workflows/ci.yml
  .gitignore
  .lighthouserc.cjs
  docs/suspensive.org/package.json
  examples/next-streaming-react-query/package.json
  package.json
  packages/react-await/package.json
  packages/react-image/package.json
  packages/react-query/package.json
  packages/react/package.json
  pnpm-lock.yaml
  turbo.json
  websites/visualization/package.json
Labels: visualization, dependencies, workflows, @suspensive/react, @suspensive/react-query, @suspensive/react-await, @suspensive/react-image, suspensive.org

#695 ci(lighthouse): only for suspensive.org
  .github/workflows/ci.yml
  .lighthouserc.cjs
  websites/visualization/tsconfig.json
Labels: visualization, workflows

#709 fix(react): define default prop of each components(Delay, Suspense)
  .changeset/swift-foxes-exist.md
  .changeset/wild-carpets-study.md
  packages/react/src/Delay.spec.tsx
  packages/react/src/contexts/DefaultOptionsContexts.ts
Labels: @suspensive/react

#715 ci(*): rename scripts
  .github/workflows/ci.yml
  configs/eslint-config-js/package.json
  configs/eslint-config-ts/package.json
  configs/eslint-config/package.json
  configs/test-utils/package.json
  configs/tsup/package.json
  docs/suspensive.org/package.json
  examples/next-streaming-react-query/package.json
  package.json
  packages/react-await/package.json
  packages/react-image/package.json
  packages/react-query/package.json
  packages/react/package.json
  turbo.json
  websites/visualization/package.json
Labels: visualization, workflows, @suspensive/react, @suspensive/react-query, @suspensive/react-await, @suspensive/react-image, suspensive.org

#711 fix(react-query): useSuspenseQueries type error on select
  .changeset/hip-foxes-draw.md
  packages/react-query/src/useSuspenseQueries.test-d.ts
  packages/react-query/src/useSuspenseQueries.ts
Labels: @suspensive/react-query

#736 chore(*): update script dev
  configs/test-utils/package.json
  configs/tsup/package.json
  package.json
  packages/react-await/package.json
  packages/react-image/package.json
  packages/react-query/package.json
  packages/react/package.json
  turbo.json
Labels: @suspensive/react, @suspensive/react-query, @suspensive/react-await, @suspensive/react-image

#740 test(react-image): remove assets
  packages/react-image/src/Load.spec.tsx
  packages/react-image/src/assets/test.png
Labels: @suspensive/react-image

#744 test(react): add test cases for devMode in production mode at once, meet coverage 100%
  .changeset/fluffy-timers-sit.md
  .github/workflows/ci.yml
  .gitignore
  codecov.yml
  package.json
  packages/react/package.json
  packages/react/src/DevMode-production.spec.tsx
  packages/react/src/DevMode.production.spec.tsx
  packages/react/src/DevMode.tsx
  packages/react/src/ErrorBoundary.spec.tsx
  packages/react/src/ErrorBoundaryGroup.spec.tsx
  packages/react/src/contexts/SuspensiveDevMode.spec.tsx
  packages/react/src/contexts/SuspensiveDevModeContext.production.spec.tsx
  packages/react/src/contexts/SuspensiveDevModeContext.spec.tsx
  packages/react/src/contexts/SuspensiveDevModeContext.ts
  packages/react/src/contexts/SuspensiveDevModeContext.tsx
  packages/react/src/contexts/syncDevMode-production.spec.tsx
  packages/react/src/contexts/syncDevMode.spec.tsx
  packages/react/vitest-production.config.ts
  packages/react/vitest-production.setup.ts
  turbo.json
Labels: workflows, @suspensive/react

#755 feat(*): remove all experimental interface
  .changeset/real-vans-raise.md
  docs/suspensive.org/src/pages/docs/react/Delay.en.mdx
  docs/suspensive.org/src/pages/docs/react/DevMode.en.mdx
  docs/suspensive.org/src/pages/docs/react/DevMode.ko.mdx
  packages/react/src/Delay.tsx
  packages/react/src/DevMode.tsx
  packages/react/src/ErrorBoundary.tsx
  packages/react/src/Suspense.tsx
  packages/react/src/contexts/SuspensiveDevModeContext.tsx
  packages/react/src/index.ts
  packages/react/src/utility-types/PropsWithDevMode.ts
Labels: @suspensive/react, suspensive.org
