Repository toss/suspensive, pull requests merged in 2024-06, with the labels that each got.

#912 chore(*): Suspensive with Toss
  .changeset/config.json
  .changeset/twelve-dancers-camp.md
  .github/FUNDING.yml
  .github/PULL_REQUEST_TEMPLATE.md
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
  LICENSE
  README.md
  docs/suspensive.org/package.json
  docs/suspensive.org/src/pages/docs/changelogs.en.mdx
  docs/suspensive.org/src/pages/docs/changelogs.ko.mdx
  docs/suspensive.org/src/pages/docs/migrate-to-v2.en.mdx
  docs/suspensive.org/src/pages/docs/migrate-to-v2.ko.mdx
  docs/suspensive.org/src/pages/docs/react-query/migrate-to-v2.en.mdx
  docs/suspensive.org/src/pages/docs/react-query/migrate-to-v2.ko.mdx
  docs/suspensive.org/src/pages/docs/react/migrate-to-v2.en.mdx
  docs/suspensive.org/src/pages/docs/react/migrate-to-v2.ko.mdx
  docs/suspensive.org/theme.config.tsx
  package.json
  packages/react-await/CHANGELOG.md
  packages/react-await/LICENSE
  packages/react-await/package.json
  packages/react-image/CHANGELOG.md
  packages/react-image/package.json
  packages/react-query/CHANGELOG.md
  packages/react-query/LICENSE
  packages/react-query/package.json
  packages/react/CHANGELOG.md
  packages/react/LICENSE
  packages/react/package.json
  websites/visualization/package.json
Labels: visualization, @suspensive/react, @suspensive/react-query, @suspensive/react-await, @suspensive/react-image, suspensive.org

#910 docs(*): fix typos
  docs/suspensive.org/src/pages/docs/react-await/Await.en.mdx
  docs/suspensive.org/src/pages/docs/react-await/Await.ko.mdx
  docs/suspensive.org/src/pages/docs/react-query/SuspenseQuery.en.mdx
  docs/suspensive.org/src/pages/docs/react-query/SuspenseQuery.ko.mdx
  docs/suspensive.org/src/pages/docs/react-query/migrate-to-v2.en.mdx
  docs/suspensive.org/src/pages/docs/react-query/migrate-to-v2.ko.mdx
  docs/suspensive.org/src/pages/docs/react/migrate-to-v2.en.mdx
  docs/suspensive.org/src/pages/docs/react/migrate-to-v2.ko.mdx
  docs/suspensive.org/src/pages/docs/react/wrap.en.mdx
  docs/suspensive.org/src/pages/docs/react/wrap.ko.mdx
Labels: suspensive.org

#911 fix(react-query): improved TypeScript engine halt due to return type inference in useSuspenseQueries
  .changeset/gold-roses-nail.md
  packages/react-query/src/useSuspenseQueries.ts
Labels: @suspensive/react-query

#915 chore: update deps
  .vscode/settings.json
  examples/next-streaming-react-query/package.json
  package.json
  pnpm-lock.yaml
Labels: dependencies

#917 docs(suspensive.org): update footer copyright
  docs/suspensive.org/theme.config.tsx
Labels: suspensive.org

#918 docs(v1.suspensive.org): update copyright
  docs/suspensive.org/theme.config.tsx
Labels: suspensive.org

#923 chore(react-query): update JSDoc for `useSuspenseQueries`, `useSuspenseInfiniteQuery`
  .changeset/serious-dolls-heal.md
  packages/react-query/src/useSuspenseInfiniteQuery.ts
  packages/react-query/src/useSuspenseQueries.ts
Labels: @suspensive/react-query

#925 fix(react-query): update QueryErrorBoundary's jsdoc
  .changeset/lazy-fans-sell.md
  packages/react-query/src/QueryErrorBoundary.tsx
Labels: @suspensive/react-query

#928 docs: Fix typo
  docs/suspensive.org/src/pages/docs/react/ErrorBoundary.ko.mdx
Labels: suspensive.org

#934 ci(*): add eslint-plugin-react-compiler to prepare react 19
  .changeset/neat-poets-drive.md
  configs/eslint-config/package.json
  configs/eslint-config/react.js
  configs/test-utils/src/index.tsx
  packages/react/src/Delay.spec.tsx
  packages/react/src/Delay.tsx
  packages/react/src/ErrorBoundary.tsx
  packages/react/src/ErrorBoundaryGroup.spec.tsx
  packages/react/src/ErrorBoundaryGroup.tsx
  packages/react/src/Suspensive.spec.tsx
  packages/react/src/Suspensive.tsx
  packages/react/src/models/SuspensiveError.ts
  pnpm-lock.yaml
  websites/visualization/src/app/react/useErrorBoundary/page.tsx
Labels: visualization, dependencies, @suspensive/react

#936 ci(ci): add codspeed
  .github/workflows/ci.yml
  .gitignore
  README.md
  codecov.yml
  configs/tsup/src/index.ts
  package.json
  packages/react-await/package.json
  packages/react-image/package.json
  packages/react-query/package.json
  packages/react/package.json
  packages/react/src/ErrorBoundary.bench.tsx
  packages/react/vitest.config.ts
  pnpm-lock.yaml
  turbo.json
Labels: dependencies, workflows, @suspensive/react, @suspensive/react-query, @suspensive/react-await, @suspensive/react-image

#937 ci(react): update benchmark field of vitest.config.ts
  .gitignore
  packages/react/package.json
  packages/react/vitest.config.ts
  turbo.json
Labels: @suspensive/react

#939 chore: update deps
  .github/dependabot.yml
  .nvmrc
  configs/eslint-config-ts/package.json
  examples/next-streaming-react-query/package.json
  package.json
  pnpm-lock.yaml
  websites/visualization/package.json
Labels: visualization, dependencies

#949 docs(suspensive.org): update docs for `<SuspenseQueries/>`, `<SuspenseQuery/>`
  docs/suspensive.org/src/pages/docs/react-query/SuspenseQueries.en.mdx
  docs/suspensive.org/src/pages/docs/react-query/SuspenseQueries.ko.mdx
  docs/suspensive.org/src/pages/docs/react-query/SuspenseQuery.en.mdx
  docs/suspensive.org/src/pages/docs/react-query/SuspenseQuery.ko.mdx
  docs/suspensive.org/src/pages/docs/react-query/_meta.en.json
  docs/suspensive.org/src/pages/docs/react-query/_meta.ko.json
Labels: suspensive.org

#953 feat(react-query): universal react-query for suspensive 4 and 5
  .changeset/fair-mayflies-knock.md
  packages/react-query/bin/suspensive-react-query-switch.js
  packages/react-query/package.json
  packages/react-query/scripts/postinstall.js
  packages/react-query/scripts/switch.js
  packages/react-query/scripts/utils.js
  packages/react-query/src/v4/index.ts
  packages/react-query/src/v5/index.ts
  packages/react-query/tsup.config.ts
Labels: @suspensive/react-query

#963 feat(suspensive.org): add Sandpack component
  .changeset/thick-foxes-attend.md
  docs/suspensive.org/next.config.js
  docs/suspensive.org/package.json
  docs/suspensive.org/src/components/Sandpack/index.tsx
  docs/suspensive.org/src/components/index.ts
  pnpm-lock.yaml
Labels: dependencies, suspensive.org

#964 fix(react): add `<ClientOnly/>` internally
  .changeset/thirty-panthers-flash.md
  packages/react/src/Suspense.tsx
  packages/react/src/components/ClientOnly.spec.tsx
  packages/react/src/components/ClientOnly.tsx
Labels: @suspensive/react

#966 fix(react): improved useTimeout and added usePreservedCallback
  .changeset/dull-windows-juggle.md
  packages/react/src/hooks/usePreservedCallback.spec.ts
  packages/react/src/hooks/usePreservedCallback.ts
  packages/react/src/hooks/useTimeout.spec.tsx
  packages/react/src/hooks/useTimeout.ts
Labels: @suspensive/react

#971 docs(react-query): update react-query for universal
  docs/suspensive.org/src/pages/docs/react-query/installation.en.mdx
  docs/suspensive.org/src/pages/docs/react-query/installation.ko.mdx
  docs/suspensive.org/src/pages/docs/react-query/motivation.en.mdx
  docs/suspensive.org/src/pages/docs/react-query/motivation.ko.mdx
Labels: suspensive.org

#973 chore: revert pnpm lockfile
  pnpm-lock.yaml
Labels: dependencies

#978 feat(configs): add options for scripts
  .changeset/breezy-colts-lick.md
  configs/tsup/src/index.ts
  packages/react-query/tsup.config.ts
Labels: @suspensive/react-query

#987 test(react-image): add test case for error handling while image loading
  .changeset/forty-plums-cheer.md
  packages/react-image/src/Load.spec.tsx
  packages/react-image/src/Load.tsx
Labels: @suspensive/react-image

#991 chore(pnpm): update version
  .github/actions/pnpm-setup-node/action.yml
  package.json
  pnpm-lock.yaml
Labels: dependencies

#993 docs(suspensive.org): add x link
  docs/suspensive.org/theme.config.tsx
Labels: suspensive.org

#996 chore(suspensive.org): remove unnecessary theme property from _meta.json files
  docs/suspensive.org/src/pages/_meta.en.json
  docs/suspensive.org/src/pages/_meta.ko.json
Labels: suspensive.org

#995 docs(suspensive.org): add examples to the ErrorBoundary documentation using sandpack
  docs/suspensive.org/src/components/Sandpack/ConsoleCounterButton.tsx
  docs/suspensive.org/src/components/Sandpack/CustomPreset.tsx
  docs/suspensive.org/src/components/Sandpack/ErrorOverlay.tsx
  docs/suspensive.org/src/components/Sandpack/baseTemplate.ts
  docs/suspensive.org/src/components/Sandpack/index.tsx
  docs/suspensive.org/src/pages/docs/react/ErrorBoundary.en.mdx
  docs/suspensive.org/src/pages/docs/react/ErrorBoundary.ko.mdx
Labels: suspensive.org

#976 feat(react-query): use commander.js to provide an improved CLI
  .changeset/twenty-dolphins-hammer.md
  packages/react-query/package.json
  packages/react-query/src/scripts/cli.ts
  packages/react-query/src/scripts/postinstall.ts
  packages/react-query/src/scripts/suspensive-react-query-switch.ts
  packages/react-query/src/scripts/utils/loadModule.ts
  packages/react-query/src/scripts/utils/package.ts
  packages/react-query/src/scripts/utils/switchVersion.ts
  pnpm-lock.yaml
Labels: dependencies, @suspensive/react-query

#999 test(react-image): add test code for `SuspenseImage`
  .changeset/curly-radios-breathe.md
  packages/react-image/src/SuspenseImage.spec.tsx
  packages/react-image/src/SuspenseImage.tsx
Labels: @suspensive/react-image

#1002 docs(suspensive.org): add ErrorBoundaryGroup examples using sandpack
  docs/suspensive.org/src/components/Sandpack/baseTemplate.ts
  docs/suspensive.org/src/pages/docs/react/ErrorBoundaryGroup.en.mdx
  docs/suspensive.org/src/pages/docs/react/ErrorBoundaryGroup.ko.mdx
Labels: suspensive.org

#1003 docs(suspensive.org): add sandpack examples to useSuspenseQuery, useSuspenseQueries, and useSuspenseInfiniteQuery
  docs/suspensive.org/src/pages/docs/react-query/useSuspenseInfiniteQuery.en.mdx
  docs/suspensive.org/src/pages/docs/react-query/useSuspenseInfiniteQuery.ko.mdx
  docs/suspensive.org/src/pages/docs/react-query/useSuspenseQueries.en.mdx
  docs/suspensive.org/src/pages/docs/react-query/useSuspenseQueries.ko.mdx
  docs/suspensive.org/src/pages/docs/react-query/useSuspenseQuery.en.mdx
  docs/suspensive.org/src/pages/docs/react-query/useSuspenseQuery.ko.mdx
Labels: suspensive.org

#994 docs: update `README.md` for root, react-query
  .changeset/odd-cougars-admire.md
  README.md
  packages/react-query/README.ko.md
  packages/react-query/README.md
Labels: @suspensive/react-query

#1007 test(react-await): improve test coverage for `await.spec.tsx` (`unsubscribe` method)
  packages/react-await/src/Await.spec.tsx
Labels: @suspensive/react-await

#1010 docs(suspensive.org): add sandpack examples to queryOptions
  docs/suspensive.org/src/pages/docs/react-query/queryOptions.en.mdx
  docs/suspensive.org/src/pages/docs/react-query/queryOptions.ko.mdx
Labels: suspensive.org

#1011 docs(suspensive.org): add contributors page
  .github/CODEOWNERS
  docs/suspensive.org/src/pages/docs/_meta.en.json
  docs/suspensive.org/src/pages/docs/_meta.ko.json
  docs/suspensive.org/src/pages/docs/contributors.en.mdx
  docs/suspensive.org/src/pages/docs/contributors.ko.mdx
Labels: suspensive.org
