Repository toss/suspensive, pull requests merged in 2025-04, with the labels that each got.

#1507 docs(react): add docs about render prop of Delay
  docs/suspensive.org/src/content/en/docs/react/Delay.mdx
  docs/suspensive.org/src/content/ko/docs/react/Delay.mdx
Labels: suspensive.org

#1501 docs: add migration guide, api reference for network mode
  docs/suspensive.org/src/content/en/docs/react-query/SuspenseInfiniteQuery.mdx
  docs/suspensive.org/src/content/en/docs/react-query/SuspenseQueries.mdx
  docs/suspensive.org/src/content/en/docs/react-query/SuspenseQuery.mdx
  docs/suspensive.org/src/content/en/docs/react-query/infiniteQueryOptions.mdx
  docs/suspensive.org/src/content/en/docs/react-query/migrate-to-v3.mdx
  docs/suspensive.org/src/content/en/docs/react-query/queryOptions.mdx
  docs/suspensive.org/src/content/en/docs/react-query/useSuspenseInfiniteQuery.mdx
  docs/suspensive.org/src/content/en/docs/react-query/useSuspenseQueries.mdx
  docs/suspensive.org/src/content/en/docs/react-query/useSuspenseQuery.mdx
  docs/suspensive.org/src/content/ko/docs/react-query/SuspenseInfiniteQuery.mdx
  docs/suspensive.org/src/content/ko/docs/react-query/SuspenseQueries.mdx
  docs/suspensive.org/src/content/ko/docs/react-query/SuspenseQuery.mdx
  docs/suspensive.org/src/content/ko/docs/react-query/infiniteQueryOptions.mdx
  docs/suspensive.org/src/content/ko/docs/react-query/migrate-to-v3.mdx
  docs/suspensive.org/src/content/ko/docs/react-query/queryOptions.mdx
  docs/suspensive.org/src/content/ko/docs/react-query/useSuspenseInfiniteQuery.mdx
  docs/suspensive.org/src/content/ko/docs/react-query/useSuspenseQueries.mdx
  docs/suspensive.org/src/content/ko/docs/react-query/useSuspenseQuery.mdx
Labels: suspensive.org

#1509 docs(suspensive.org): add docs for mutationOptions
  docs/suspensive.org/src/content/en/docs/react-query/_meta.tsx
  docs/suspensive.org/src/content/en/docs/react-query/mutationOptions.mdx
  docs/suspensive.org/src/content/ko/docs/react-query/_meta.tsx
  docs/suspensive.org/src/content/ko/docs/react-query/mutationOptions.mdx
Labels: suspensive.org

#1511 chore: remove JSR support and related files
  .changeset/orange-countries-kick.md
  knip.json
  package.json
  packages/jotai/jsr.json
  packages/react-dom/jsr.json
  packages/react-native/jsr.json
  packages/react-query-4/jsr.json
  packages/react-query-5/jsr.json
  packages/react-query/jsr.json
  packages/react/jsr.json
  pnpm-lock.yaml
  scripts/jsr-publish.ts
  scripts/jsr-sync-versions.ts
  scripts/jsr-utils.ts
Labels: dependencies, @suspensive/react, @suspensive/react-query, @suspensive/jotai, @suspensive/react-query-4, @suspensive/react-query-5, @suspensive/react-native, @suspensive/react-dom

#1500 chore: version packages (next)
  .changeset/pre.json
  packages/codemods/CHANGELOG.md
  packages/codemods/package.json
  packages/jotai/CHANGELOG.md
  packages/jotai/package.json
  packages/react-dom/CHANGELOG.md
  packages/react-dom/package.json
  packages/react-native/CHANGELOG.md
  packages/react-native/package.json
  packages/react-query-4/CHANGELOG.md
  packages/react-query-4/package.json
  packages/react-query-5/CHANGELOG.md
  packages/react-query-5/package.json
  packages/react-query/CHANGELOG.md
  packages/react-query/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  pnpm-lock.yaml
Labels: dependencies, @suspensive/react, @suspensive/react-query, @suspensive/jotai, @suspensive/react-query-4, @suspensive/react-query-5, @suspensive/react-dom, @suspensive/codemods

#1513 chore(*): update deps
  configs/eslint-config/package.json
  docs/suspensive.org/package.json
  examples/visualization/package.json
  examples/vite-react-18-suspense-prerender-siblings-problem/tsconfig.tsbuildinfo
  package.json
  packages/react-query-4/src/infiniteQueryOptions.test-d.tsx
  packages/react-query-4/src/queryOptions.test-d.tsx
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: dependencies, suspensive.org, @suspensive/react-query-4, examples

#1515 docs(suspensive.org): docs about `with`
  docs/suspensive.org/src/content/en/docs/react/ClientOnly.mdx
  docs/suspensive.org/src/content/en/docs/react/Delay.mdx
  docs/suspensive.org/src/content/en/docs/react/ErrorBoundary.mdx
  docs/suspensive.org/src/content/en/docs/react/ErrorBoundaryGroup.mdx
  docs/suspensive.org/src/content/en/docs/react/Suspense.mdx
  docs/suspensive.org/src/content/ko/docs/react/ClientOnly.mdx
  docs/suspensive.org/src/content/ko/docs/react/Delay.mdx
  docs/suspensive.org/src/content/ko/docs/react/ErrorBoundary.mdx
  docs/suspensive.org/src/content/ko/docs/react/ErrorBoundaryGroup.mdx
  docs/suspensive.org/src/content/ko/docs/react/Suspense.mdx
Labels: suspensive.org

#1517 docs(suspensive.org): docs for migration
  docs/suspensive.org/src/app/[lang]/layout.tsx
  docs/suspensive.org/src/app/_dictionaries/en.tsx
  docs/suspensive.org/src/app/_dictionaries/ko.tsx
  docs/suspensive.org/src/content/en/docs/_meta.tsx
  docs/suspensive.org/src/content/en/docs/migrate-to-v3.mdx
  docs/suspensive.org/src/content/en/docs/migration/_meta.tsx
  docs/suspensive.org/src/content/en/docs/migration/migrate-to-v2.mdx
  docs/suspensive.org/src/content/en/docs/migration/migrate-to-v3.mdx
  docs/suspensive.org/src/content/en/docs/react-query/SuspenseInfiniteQuery.mdx
  docs/suspensive.org/src/content/en/docs/react-query/SuspenseQueries.mdx
  docs/suspensive.org/src/content/en/docs/react-query/SuspenseQuery.mdx
  docs/suspensive.org/src/content/en/docs/react-query/_meta.tsx
  docs/suspensive.org/src/content/en/docs/react-query/infiniteQueryOptions.mdx
  docs/suspensive.org/src/content/en/docs/react-query/migration/_meta.tsx
  docs/suspensive.org/src/content/en/docs/react-query/migration/migrate-to-v2.mdx
  docs/suspensive.org/src/content/en/docs/react-query/migration/migrate-to-v3.mdx
  docs/suspensive.org/src/content/en/docs/react-query/queryOptions.mdx
  docs/suspensive.org/src/content/en/docs/react-query/useSuspenseInfiniteQuery.mdx
  docs/suspensive.org/src/content/en/docs/react-query/useSuspenseQueries.mdx
  docs/suspensive.org/src/content/en/docs/react-query/useSuspenseQuery.mdx
  docs/suspensive.org/src/content/en/docs/react/_meta.tsx
  docs/suspensive.org/src/content/en/docs/react/migration/_meta.tsx
  docs/suspensive.org/src/content/en/docs/react/migration/migrate-to-v2.mdx
  docs/suspensive.org/src/content/en/docs/react/migration/migrate-to-v3.mdx
  docs/suspensive.org/src/content/ko/docs/_meta.tsx
  docs/suspensive.org/src/content/ko/docs/migrate-to-v3.mdx
  docs/suspensive.org/src/content/ko/docs/migration/_meta.tsx
  docs/suspensive.org/src/content/ko/docs/migration/migrate-to-v2.mdx
  docs/suspensive.org/src/content/ko/docs/migration/migrate-to-v3.mdx
  docs/suspensive.org/src/content/ko/docs/react-query/SuspenseInfiniteQuery.mdx
  docs/suspensive.org/src/content/ko/docs/react-query/SuspenseQueries.mdx
  docs/suspensive.org/src/content/ko/docs/react-query/SuspenseQuery.mdx
  docs/suspensive.org/src/content/ko/docs/react-query/_meta.tsx
  docs/suspensive.org/src/content/ko/docs/react-query/infiniteQueryOptions.mdx
  docs/suspensive.org/src/content/ko/docs/react-query/migration/_meta.tsx
  docs/suspensive.org/src/content/ko/docs/react-query/migration/migrate-to-v2.mdx
  docs/suspensive.org/src/content/ko/docs/react-query/migration/migrate-to-v3.mdx
  docs/suspensive.org/src/content/ko/docs/react-query/queryOptions.mdx
  docs/suspensive.org/src/content/ko/docs/react-query/useSuspenseInfiniteQuery.mdx
  docs/suspensive.org/src/content/ko/docs/react-query/useSuspenseQueries.mdx
  docs/suspensive.org/src/content/ko/docs/react-query/useSuspenseQuery.mdx
  docs/suspensive.org/src/content/ko/docs/react/_meta.tsx
  docs/suspensive.org/src/content/ko/docs/react/migration/_meta.tsx
  docs/suspensive.org/src/content/ko/docs/react/migration/migrate-to-v2.mdx
  docs/suspensive.org/src/content/ko/docs/react/migration/migrate-to-v3.mdx
Labels: suspensive.org

#1520 docs(suspensive.org): update migration guide for`mutationOptions`
  docs/suspensive.org/src/content/en/docs/react-query/migration/migrate-to-v3.mdx
  docs/suspensive.org/src/content/ko/docs/react-query/migration/migrate-to-v3.mdx
Labels: suspensive.org

#1521 refactor(suspensive.org): use direct type import for ReactNode
  docs/suspensive.org/src/components/HomePage.tsx
Labels: suspensive.org

#1523 test(react): use fake timers strictly for Delay.spec.tsx
  packages/react/src/Delay.spec.tsx
Labels: @suspensive/react

#1524 feat(react): Delay children render prop
  .changeset/wet-birds-repeat.md
  docs/suspensive.org/src/content/en/docs/react/migration/migrate-to-v3.mdx
  docs/suspensive.org/src/content/ko/docs/react/migration/migrate-to-v3.mdx
  packages/react/src/Delay.tsx
Labels: @suspensive/react, suspensive.org

#1526 chore: version packages (next)
  .changeset/pre.json
  packages/codemods/CHANGELOG.md
  packages/codemods/package.json
  packages/jotai/CHANGELOG.md
  packages/jotai/package.json
  packages/react-dom/CHANGELOG.md
  packages/react-dom/package.json
  packages/react-query-4/CHANGELOG.md
  packages/react-query-4/package.json
  packages/react-query-5/CHANGELOG.md
  packages/react-query-5/package.json
  packages/react-query/CHANGELOG.md
  packages/react-query/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  pnpm-lock.yaml
Labels: dependencies, @suspensive/react, @suspensive/react-query, @suspensive/jotai, @suspensive/react-query-4, @suspensive/react-query-5, @suspensive/react-dom, @suspensive/codemods

#1525 docs(suspensive.org): attractive get started button
  docs/suspensive.org/package.json
  docs/suspensive.org/src/components/BorderTrail.tsx
  docs/suspensive.org/src/components/GlowEffect.tsx
  docs/suspensive.org/src/components/HomePage.tsx
  docs/suspensive.org/src/components/Magnetic.tsx
  docs/suspensive.org/src/components/Spotlight.tsx
  docs/suspensive.org/src/components/TextShimmer.tsx
  docs/suspensive.org/src/components/Tilt.tsx
  examples/next-streaming-react-query/package.json
  pnpm-lock.yaml
Labels: dependencies, suspensive.org, examples

#1518 feat(react-dom): onInView, onInViewEnd
  .changeset/slimy-jeans-shout.md
  docs/suspensive.org/src/content/en/docs/react-dom/InView.mdx
  docs/suspensive.org/src/content/en/docs/react-query/PrefetchInfiniteQuery.mdx
  docs/suspensive.org/src/content/ko/docs/react-dom/InView.mdx
  docs/suspensive.org/src/content/ko/docs/react-query/PrefetchInfiniteQuery.mdx
  docs/suspensive.org/src/content/ko/docs/react-query/PrefetchQuery.mdx
  examples/visualization/src/app/react-dom/InView/page.tsx
  packages/react-dom/src/FadeIn.test-d.tsx
  packages/react-dom/src/useInView.tsx
Labels: suspensive.org, @suspensive/react-dom, examples

#1527 chore: version packages (next)
  .changeset/pre.json
  packages/codemods/CHANGELOG.md
  packages/codemods/package.json
  packages/jotai/CHANGELOG.md
  packages/jotai/package.json
  packages/react-dom/CHANGELOG.md
  packages/react-dom/package.json
  packages/react-query-4/CHANGELOG.md
  packages/react-query-4/package.json
  packages/react-query-5/CHANGELOG.md
  packages/react-query-5/package.json
  packages/react-query/CHANGELOG.md
  packages/react-query/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  pnpm-lock.yaml
Labels: dependencies, @suspensive/react, @suspensive/react-query, @suspensive/jotai, @suspensive/react-query-4, @suspensive/react-query-5, @suspensive/react-dom, @suspensive/codemods

#1528 feat(react-dom): is prefix for InView
  .changeset/six-impalas-remain.md
  docs/suspensive.org/src/content/en/docs/react-dom/InView.mdx
  docs/suspensive.org/src/content/ko/docs/react-dom/InView.mdx
  docs/suspensive.org/src/content/ko/docs/react-query/PrefetchInfiniteQuery.mdx
  docs/suspensive.org/src/content/ko/docs/react-query/PrefetchQuery.mdx
  examples/visualization/src/app/react-dom/InView/page.tsx
  packages/react-dom/src/FadeIn.test-d.tsx
  packages/react-dom/src/InView.spec.tsx
  packages/react-dom/src/browser/browser.spec.tsx
  packages/react-dom/src/useFadeIn.ts
  packages/react-dom/src/useInView.spec.tsx
  packages/react-dom/src/useInView.tsx
Labels: suspensive.org, @suspensive/react-dom, examples

#1529 chore: version packages (next)
  .changeset/pre.json
  packages/codemods/CHANGELOG.md
  packages/codemods/package.json
  packages/jotai/CHANGELOG.md
  packages/jotai/package.json
  packages/react-dom/CHANGELOG.md
  packages/react-dom/package.json
  packages/react-query-4/CHANGELOG.md
  packages/react-query-4/package.json
  packages/react-query-5/CHANGELOG.md
  packages/react-query-5/package.json
  packages/react-query/CHANGELOG.md
  packages/react-query/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  pnpm-lock.yaml
Labels: dependencies, @suspensive/react, @suspensive/react-query, @suspensive/jotai, @suspensive/react-query-4, @suspensive/react-query-5, @suspensive/react-dom, @suspensive/codemods

#1530 docs(suspensive.org): add changelogs link for react-dom, codemods
  docs/suspensive.org/src/content/en/docs/changelogs.mdx
  docs/suspensive.org/src/content/ko/docs/changelogs.mdx
Labels: suspensive.org

#1531 test(react): useIsClient test on server
  packages/react/package.json
  packages/react/src/hooks/useIsClient.spec.tsx
  pnpm-lock.yaml
Labels: dependencies, @suspensive/react

#1532 test(react): coverage for CustomError case
  packages/react/src/ErrorBoundary.spec.tsx
Labels: @suspensive/react

#1522 refactor(react-query): update version check logic to use switch statement
  packages/react-query/src/bin/postinstall.ts
Labels: @suspensive/react-query

#1535 docs(suspensive.org): add driven by the community
  docs/suspensive.org/src/content/en/index.mdx
  docs/suspensive.org/src/content/ko/index.mdx
Labels: suspensive.org

#1537 ci: update concurrency
  .github/workflows/ci.yml
Labels: workflows

#1538 docs(suspensive.org): add QueryErrorBoundary is removed
  docs/suspensive.org/src/content/en/docs/react-query/migration/migrate-to-v3.mdx
  docs/suspensive.org/src/content/ko/docs/react-query/migration/migrate-to-v3.mdx
Labels: suspensive.org

#1540 v3 release
  .changeset/angry-cameras-wonder.md
  .changeset/busy-deer-attack.md
  .changeset/busy-peas-raise.md
  .changeset/chilly-mugs-press.md
  .changeset/cold-waves-kick.md
  .changeset/empty-clouds-ask.md
  .changeset/empty-colts-yell.md
  .changeset/forty-clocks-perform.md
  .changeset/fresh-comics-whisper.md
  .changeset/full-moments-run.md
  .changeset/hot-dragons-matter.md
  .changeset/kind-waves-build.md
  .changeset/moody-keys-sit.md
  .changeset/orange-countries-kick.md
  .changeset/polite-knives-smell.md
  .changeset/poor-zoos-develop.md
  .changeset/pre.json
  .changeset/pretty-brooms-float.md
  .changeset/purple-turkeys-notice.md
  .changeset/selfish-maps-reflect.md
  .changeset/six-impalas-remain.md
  .changeset/slimy-jeans-shout.md
  .changeset/sweet-tips-happen.md
  .changeset/unlucky-trees-kick.md
  .changeset/wet-birds-repeat.md
  configs/eslint-config/CHANGELOG.md
  configs/eslint-config/package.json
  packages/codemods/CHANGELOG.md
  packages/codemods/package.json
  packages/jotai/CHANGELOG.md
  packages/jotai/package.json
  packages/react-dom/CHANGELOG.md
  packages/react-dom/package.json
  packages/react-native/CHANGELOG.md
  packages/react-native/package.json
  packages/react-query-4/CHANGELOG.md
  packages/react-query-4/package.json
  packages/react-query-5/CHANGELOG.md
  packages/react-query-5/package.json
  packages/react-query/CHANGELOG.md
  packages/react-query/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  pnpm-lock.yaml
Labels: dependencies, @suspensive/react, @suspensive/react-query, @suspensive/jotai, @suspensive/react-query-4, @suspensive/react-query-5, @suspensive/react-native, @suspensive/react-dom, @suspensive/codemods

#1541 chore(*): update deps
  configs/eslint-config/index.js
  configs/eslint-config/package.json
  docs/suspensive.org/package.json
  examples/visualization/package.json
  knip.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: dependencies, suspensive.org, examples

#1544 fix(docs): update `metadataBase` to suspensive.org to fix relative metadata URL issues
  docs/suspensive.org/src/app/[lang]/layout.tsx
Labels: suspensive.org

#1545 fix(suspensive.org): prevent horizontal scroll on mobile by adjusting margins
  docs/suspensive.org/src/components/HomePage.tsx
  docs/suspensive.org/src/components/Scrollycoding.tsx
Labels: suspensive.org
