Repository toss/suspensive, pull requests merged in 2025-08, with the labels that each got.

#1680 docs(suspensive.org): add Marshall Ku to maintainers list
  docs/suspensive.org/src/content/en/docs/contributors.mdx
  docs/suspensive.org/src/content/ko/docs/contributors.mdx
Labels: suspensive.org

#1679 chore: version packages
  .changeset/shy-planets-cheat.md
  packages/codemods/CHANGELOG.md
  packages/codemods/package.json
  packages/jotai/CHANGELOG.md
  packages/jotai/package.json
  packages/react-dom/CHANGELOG.md
  packages/react-dom/package.json
  packages/react-query-4/CHANGELOG.md
  packages/react-query-4/package.json
  packages/react-query-5/CHANGELOG.md
  packages/react-query-5/package.json
  packages/react-query/CHANGELOG.md
  packages/react-query/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  pnpm-lock.yaml
Labels: dependencies, @suspensive/react, @suspensive/react-query, @suspensive/jotai, @suspensive/react-query-4, @suspensive/react-query-5, @suspensive/react-dom, @suspensive/codemods

#1683 test(react/DefaultProps): fix unused 'clientOnly3' variable and simplify by reusing single variable
  packages/react/src/DefaultProps.spec.tsx
Labels: @suspensive/react

#1689 chore(deps): dump dependency packages
  configs/eslint-config/package.json
  examples/vite-react-18-suspense-prerender-siblings-problem/package.json
  package.json
  packages/react-dom/vitest.config.ts
  packages/react-dom/vitest.workspace.ts
  pnpm-lock.yaml
Labels: dependencies, @suspensive/react-dom, examples

#1678 chore(*): migrate tsdown
  .changeset/hip-trains-end.md
  configs/eslint-config/index.js
  configs/tsdown/eslint.config.mjs
  configs/tsdown/package.json
  configs/tsdown/src/index.ts
  configs/tsdown/tsconfig.json
  configs/tsdown/tsdown.config.ts
  configs/tsup/tsup.config.ts
  package.json
  packages/codemods/package.json
  packages/codemods/tsdown.config.ts
  packages/jotai/package.json
  packages/jotai/tsdown.config.ts
  packages/jotai/tsup.config.ts
  packages/react-dom/package.json
  packages/react-dom/tsdown.config.ts
  packages/react-dom/tsup.config.ts
  packages/react-native/package.json
  packages/react-native/tsdown.config.ts
  packages/react-native/tsup.config.ts
  packages/react-query-4/package.json
  packages/react-query-4/tsdown.config.ts
  packages/react-query-4/tsup.config.ts
  packages/react-query-5/package.json
  packages/react-query-5/tsdown.config.ts
  packages/react-query-5/tsup.config.ts
  packages/react-query/package.json
  packages/react-query/tsdown.config.ts
  packages/react-query/tsup.config.ts
  packages/react/package.json
  packages/react/tsdown.config.ts
  packages/react/tsup.config.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
  turbo.json
Labels: dependencies, @suspensive/react, @suspensive/react-query, @suspensive/jotai, @suspensive/react-query-4, @suspensive/react-query-5, @suspensive/react-native, @suspensive/react-dom, @suspensive/codemods

#1692 chore(react-native/jest.config): enable coverage collection by default
  packages/react-native/jest.config.ts
  packages/react-native/package.json
Labels: @suspensive/react-native

#1698 docs: correct typo `Errorboundary` to `ErrorBoundary` and `hoc` to `HOC` in migration guide
  docs/suspensive.org/src/content/en/docs/react/migration/migrate-to-v2.mdx
  docs/suspensive.org/src/content/ko/docs/react/migration/migrate-to-v2.mdx
Labels: suspensive.org

#1708 docs: simplify sentence by removing duplicated '공식문서' wording
  docs/suspensive.org/src/content/ko/docs/react-query/motivation.mdx
Labels: suspensive.org

#1699 docs: fix duplicated comma in opacity style inside Delay render prop example
  docs/suspensive.org/src/content/ko/docs/react/Delay.mdx
Labels: suspensive.org

#1709 docs: update Atom docs to fix imports and improve readability
  docs/suspensive.org/src/content/en/docs/jotai/Atom.mdx
  docs/suspensive.org/src/content/ko/docs/jotai/Atom.mdx
Labels: suspensive.org

#1701 docs: move key prop from inner div to InView component for correct usage
  docs/suspensive.org/src/content/en/docs/react-dom/InView.mdx
  docs/suspensive.org/src/content/ko/docs/react-dom/InView.mdx
Labels: suspensive.org

#1700 docs: correct typos and fix imports in React Query v2 migration documentation
  docs/suspensive.org/src/content/en/docs/react-query/migration/migrate-to-v2.mdx
  docs/suspensive.org/src/content/ko/docs/react-query/migration/migrate-to-v2.mdx
Labels: suspensive.org

#1707 docs: fix mutation example isPending usage and unify content parameter in API calls
  docs/suspensive.org/src/content/en/docs/react-query/Mutation.mdx
  docs/suspensive.org/src/content/ko/docs/react-query/Mutation.mdx
Labels: suspensive.org

#1702 docs: correct data access in useQueries suspense example to use query1.data, query2.data
  docs/suspensive.org/src/content/en/docs/react-query/useSuspenseQueries.mdx
  docs/suspensive.org/src/content/ko/docs/react-query/useSuspenseQueries.mdx
Labels: suspensive.org

#1705 docs: export Post type for usage in PostListItem component example
  docs/suspensive.org/src/content/en/docs/react-query/SuspenseInfiniteQuery.mdx
  docs/suspensive.org/src/content/ko/docs/react-query/SuspenseInfiniteQuery.mdx
Labels: suspensive.org

#1713 docs(suspensive.org): Modify size of logo
  docs/suspensive.org/src/components/HomePage.tsx
  docs/suspensive.org/src/components/Logo.tsx
Labels: suspensive.org

#1716 ci(.github/workflows): add autofix.yml
  .github/dependabot.yml
  .github/labeler.yml
  .github/workflows/autofix.yml
  .github/workflows/broken-link-checker.yml
  .github/workflows/ci.yml
  .github/workflows/graph.yml
  .github/workflows/knip.yml
  .github/workflows/release.yml
  .prettierignore
  .vscode/settings.json
Labels: workflows

#1722 ci(.github/workflows): add packlint step to autofix workflow
  .github/workflows/autofix.yml
  examples/react-native-playground/package.json
Labels: workflows, examples
