Repository toss/suspensive, pull requests merged in 2025-02, with the labels that each got.

#1424 feat(v3): remove deprecated interfaces
  .changeset/fresh-comics-whisper.md
  knip.json
  packages/react-query-4/package.json
  packages/react-query-4/src/QueryErrorBoundary.tsx
  packages/react-query-4/src/index.ts
  packages/react-query-5/package.json
  packages/react-query-5/src/QueryErrorBoundary.tsx
  packages/react-query-5/src/index.ts
  packages/react-query/package.json
  packages/react-query/src/bin/utils/package.spec.ts
  packages/react/src/DevMode.spec.tsx
  packages/react/src/DevMode.tsx
  packages/react/src/ErrorBoundary.tsx
  packages/react/src/Suspense.tsx
  packages/react/src/Suspensive.spec.tsx
  packages/react/src/Suspensive.tsx
  packages/react/src/index.ts
  pnpm-lock.yaml
Labels: dependencies, @suspensive/react, @suspensive/react-query, @suspensive/react-query-4, @suspensive/react-query-5

#1409 feat(react): prevent recursive exposing fallback when fallback throw error
  .changeset/pretty-brooms-float.md
  examples/visualization/package.json
  examples/visualization/src/app/layout.tsx
  examples/visualization/src/app/react/ErrorBoundary/ErrorInFallback/page.tsx
  packages/react/package.json
  packages/react/src/ErrorBoundary.spec.tsx
  packages/react/src/ErrorBoundary.tsx
  pnpm-lock.yaml
Labels: dependencies, @suspensive/react, examples

#1430 chore: version packages (next)
  .changeset/pre.json
  packages/jotai/CHANGELOG.md
  packages/jotai/package.json
  packages/react-query-4/CHANGELOG.md
  packages/react-query-4/package.json
  packages/react-query-5/CHANGELOG.md
  packages/react-query-5/package.json
  packages/react-query/CHANGELOG.md
  packages/react-query/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  pnpm-lock.yaml
Labels: dependencies, @suspensive/react, @suspensive/react-query, @suspensive/jotai, @suspensive/react-query-4, @suspensive/react-query-5

#1433 chore: version packages (next)
  .changeset/pre.json
  packages/jotai/CHANGELOG.md
  packages/jotai/package.json
  packages/react-query-4/CHANGELOG.md
  packages/react-query-4/package.json
  packages/react-query-5/CHANGELOG.md
  packages/react-query-5/package.json
  packages/react-query/CHANGELOG.md
  packages/react-query/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  pnpm-lock.yaml
Labels: dependencies, @suspensive/react, @suspensive/react-query, @suspensive/jotai, @suspensive/react-query-4, @suspensive/react-query-5

#1434 fix(react-query): remove peerDeps error when installing @suspensive/react-query
  .changeset/chilly-mugs-press.md
  packages/react-query-4/package.json
  packages/react-query-5/package.json
Labels: @suspensive/react-query-4, @suspensive/react-query-5

#1436 chore: version packages (next)
  .changeset/pre.json
  packages/jotai/CHANGELOG.md
  packages/jotai/package.json
  packages/react-query-4/CHANGELOG.md
  packages/react-query-4/package.json
  packages/react-query-5/CHANGELOG.md
  packages/react-query-5/package.json
  packages/react-query/CHANGELOG.md
  packages/react-query/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  pnpm-lock.yaml
Labels: dependencies, @suspensive/react, @suspensive/react-query, @suspensive/jotai, @suspensive/react-query-4, @suspensive/react-query-5

#1435 chore: update graph ci
  .github/workflows/graph.yml
Labels: workflows

#1437 fix(react): resolve error of @suspensive/react@3.0.0-next.1
  .changeset/angry-cameras-wonder.md
  configs/eslint-config/index.js
  packages/react/src/ErrorBoundary.tsx
Labels: @suspensive/react

#1438 chore: version packages (next)
  .changeset/pre.json
  packages/jotai/CHANGELOG.md
  packages/jotai/package.json
  packages/react-query-4/CHANGELOG.md
  packages/react-query-4/package.json
  packages/react-query-5/CHANGELOG.md
  packages/react-query-5/package.json
  packages/react-query/CHANGELOG.md
  packages/react-query/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  pnpm-lock.yaml
Labels: dependencies, @suspensive/react, @suspensive/react-query, @suspensive/jotai, @suspensive/react-query-4, @suspensive/react-query-5

#1445 docs(suspensive.org): banner to notice that we're preparing Suspensive v3
  docs/suspensive.org/src/app/[lang]/layout.tsx
  docs/suspensive.org/src/app/_dictionaries/en.tsx
  docs/suspensive.org/src/app/_dictionaries/ko.tsx
  docs/suspensive.org/src/content/en/_meta.tsx
  docs/suspensive.org/src/content/ko/_meta.tsx
Labels: suspensive.org
