Repository toss/suspensive, pull requests merged in 2025-03, with the labels that each got.

#1449 docs(suspensive.org): canvas style pointer-events none
  docs/suspensive.org/src/components/HomePage.tsx
Labels: suspensive.org

#1450 chore(*): update deps
  configs/eslint-config/package.json
  docs/suspensive.org/package.json
  docs/suspensive.org/src/app/[lang]/[[...mdxPath]]/page.tsx
  docs/suspensive.org/src/content/en/_meta.tsx
  docs/suspensive.org/src/content/ko/_meta.tsx
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: dependencies, suspensive.org

#1452 feat(react): with as method
  .changeset/moody-keys-sit.md
  configs/eslint-config/index.js
  docs/suspensive.org/src/content/en/docs/react/_meta.tsx
  docs/suspensive.org/src/content/en/docs/react/wrap.mdx
  docs/suspensive.org/src/content/ko/docs/react/_meta.tsx
  docs/suspensive.org/src/content/ko/docs/react/wrap.mdx
  examples/visualization/src/app/react-query/page.tsx
  examples/visualization/src/app/react/wrap/page.tsx
  examples/visualization/src/app/react/zodSearchParams/page.tsx
  packages/react/src/ClientOnly.tsx
  packages/react/src/Delay.tsx
  packages/react/src/ErrorBoundary.tsx
  packages/react/src/ErrorBoundaryGroup.tsx
  packages/react/src/Suspense.tsx
  packages/react/src/contexts/DefaultPropsContexts.ts
  packages/react/src/index.ts
  packages/react/src/utility-types/PropsWithoutChildren.ts
  packages/react/src/utility-types/index.ts
  packages/react/src/wrap.spec.tsx
  packages/react/src/wrap.tsx
Labels: @suspensive/react, suspensive.org, examples

#1454 chore: version packages (next)
  .changeset/pre.json
  packages/jotai/CHANGELOG.md
  packages/jotai/package.json
  packages/react-query-4/CHANGELOG.md
  packages/react-query-4/package.json
  packages/react-query-5/CHANGELOG.md
  packages/react-query-5/package.json
  packages/react-query/CHANGELOG.md
  packages/react-query/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  pnpm-lock.yaml
Labels: dependencies, @suspensive/react, @suspensive/react-query, @suspensive/jotai, @suspensive/react-query-4, @suspensive/react-query-5

#1456 chore: version packages (next)
  .changeset/pre.json
  packages/jotai/CHANGELOG.md
  packages/jotai/package.json
  packages/react-query-4/CHANGELOG.md
  packages/react-query-4/package.json
  packages/react-query-5/CHANGELOG.md
  packages/react-query-5/package.json
  packages/react-query/CHANGELOG.md
  packages/react-query/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  pnpm-lock.yaml
Labels: dependencies, @suspensive/react, @suspensive/react-query, @suspensive/jotai, @suspensive/react-query-4, @suspensive/react-query-5

#1457 ci(.github/workflows): link turbo remote caching
  .github/workflows/ci.yml
  .github/workflows/release.yml
Labels: workflows

#1458 feat(react-query-4): set network mode to always for suspense
  .changeset/unlucky-trees-kick.md
  packages/react-query-4/src/SuspenseInfiniteQuery.test-d.tsx
  packages/react-query-4/src/SuspenseQuery.test-d.tsx
  packages/react-query-4/src/infiniteQueryOptions.ts
  packages/react-query-4/src/queryOptions.ts
  packages/react-query-4/src/useSuspenseInfiniteQuery.test-d.ts
  packages/react-query-4/src/useSuspenseInfiniteQuery.ts
  packages/react-query-4/src/useSuspenseQueries.test-d.ts
  packages/react-query-4/src/useSuspenseQuery.test-d.ts
  packages/react-query-4/src/useSuspenseQuery.ts
Labels: @suspensive/react-query-4

#1460 chore: version packages (next)
  .changeset/pre.json
  packages/jotai/CHANGELOG.md
  packages/jotai/package.json
  packages/react-query-4/CHANGELOG.md
  packages/react-query-4/package.json
  packages/react-query-5/CHANGELOG.md
  packages/react-query-5/package.json
  packages/react-query/CHANGELOG.md
  packages/react-query/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  pnpm-lock.yaml
Labels: dependencies, @suspensive/react, @suspensive/react-query, @suspensive/jotai, @suspensive/react-query-4, @suspensive/react-query-5

#1463 ci(.github/workflows): simplify 'pnpm install' command
  .github/workflows/broken-link-checker.yml
  .github/workflows/ci.yml
  .github/workflows/graph.yml
  .github/workflows/knip.yml
  .github/workflows/release.yml
Labels: workflows

#1465 chore(codecov): update action version
  .github/workflows/ci.yml
  README.md
Labels: workflows

#1462 chore: version packages (next)
  .changeset/pre.json
  packages/codemods/CHANGELOG.md
  packages/codemods/package.json
  packages/jotai/CHANGELOG.md
  packages/jotai/package.json
  packages/react-dom/CHANGELOG.md
  packages/react-dom/package.json
  packages/react-query-4/CHANGELOG.md
  packages/react-query-4/package.json
  packages/react-query-5/CHANGELOG.md
  packages/react-query-5/package.json
  packages/react-query/CHANGELOG.md
  packages/react-query/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  pnpm-lock.yaml
Labels: dependencies, @suspensive/react, @suspensive/react-query, @suspensive/jotai, @suspensive/react-query-4, @suspensive/react-query-5, @suspensive/codemods

#1470 chore(*): align 'pnpm' commands with official recommendations
  .github/workflows/broken-link-checker.yml
  .github/workflows/ci.yml
  .github/workflows/graph.yml
  .github/workflows/knip.yml
  .github/workflows/release.yml
  configs/tsup/package.json
  package.json
  packages/codemods/package.json
  packages/jotai/package.json
  packages/react-dom/package.json
  packages/react-native/package.json
  packages/react-query-4/package.json
  packages/react-query-5/package.json
  packages/react-query/package.json
  packages/react/package.json
Labels: workflows, @suspensive/react, @suspensive/react-query, @suspensive/jotai, @suspensive/react-query-4, @suspensive/react-query-5, @suspensive/react-native, @suspensive/react-dom, @suspensive/codemods

#1469 feat(codemods): add migrate-query-client-consumer-props transform
  .changeset/brown-tables-turn.md
  docs/suspensive.org/src/content/en/docs/codemods/migrateQueryClientConsumerProps.mdx
  docs/suspensive.org/src/content/ko/docs/codemods/migrateQueryClientConsumerProps.mdx
  packages/codemods/src/transforms/migrate-query-client-consumer-props.ts
  packages/codemods/src/transforms/testfixtures/migrate-query-client-consumer-props/migrate-query-client-consumer-props.input.jsx
  packages/codemods/src/transforms/testfixtures/migrate-query-client-consumer-props/migrate-query-client-consumer-props.output.jsx
  packages/codemods/src/transforms/tests/migrate-query-client-consumer-props.test.ts
Labels: suspensive.org, @suspensive/codemods

#1471 chore: version packages
  .changeset/brown-tables-turn.md
  packages/codemods/CHANGELOG.md
  packages/codemods/package.json
Labels: @suspensive/codemods

#1474 docs: Fix typos in documentation
  docs/suspensive.org/src/content/en/docs/react/migrate-to-v2.mdx
  docs/suspensive.org/src/content/ko/docs/react/migrate-to-v2.mdx
Labels: suspensive.org

#1475 feat: add JSR support and publishing workflow
  .changeset/polite-knives-smell.md
  .github/workflows/jsr-publish.yml
  package.json
  packages/jotai/jsr.json
  packages/react-dom/jsr.json
  packages/react-native/jsr.json
  packages/react-query-4/jsr.json
  packages/react-query-5/jsr.json
  packages/react-query/jsr.json
  packages/react/jsr.json
  pnpm-lock.yaml
  scripts/jsr-dry-run.ts
  scripts/jsr-publish.ts
  scripts/jsr-sync-versions.ts
  scripts/jsr-utils.ts
Labels: dependencies, workflows, @suspensive/react, @suspensive/react-query, @suspensive/jotai, @suspensive/react-query-4, @suspensive/react-query-5, @suspensive/react-native, @suspensive/react-dom

#1478 chore: version packages (next)
  .changeset/pre.json
  packages/codemods/CHANGELOG.md
  packages/codemods/package.json
  packages/jotai/CHANGELOG.md
  packages/jotai/package.json
  packages/react-dom/CHANGELOG.md
  packages/react-dom/package.json
  packages/react-native/CHANGELOG.md
  packages/react-native/package.json
  packages/react-query-4/CHANGELOG.md
  packages/react-query-4/package.json
  packages/react-query-5/CHANGELOG.md
  packages/react-query-5/package.json
  packages/react-query/CHANGELOG.md
  packages/react-query/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  pnpm-lock.yaml
Labels: dependencies, @suspensive/react, @suspensive/react-query, @suspensive/jotai, @suspensive/react-query-4, @suspensive/react-query-5, @suspensive/react-native, @suspensive/react-dom, @suspensive/codemods

#1479 fix: resolve issues in JSR publish action
  .changeset/empty-colts-yell.md
  .github/workflows/jsr-publish.yml
  packages/react-query/jsr.json
  scripts/jsr-utils.ts
Labels: workflows, @suspensive/react-query

#1480 chore: version packages (next)
  .changeset/pre.json
  packages/codemods/CHANGELOG.md
  packages/codemods/package.json
  packages/jotai/CHANGELOG.md
  packages/jotai/package.json
  packages/react-dom/CHANGELOG.md
  packages/react-dom/package.json
  packages/react-query-4/CHANGELOG.md
  packages/react-query-4/package.json
  packages/react-query-5/CHANGELOG.md
  packages/react-query-5/package.json
  packages/react-query/CHANGELOG.md
  packages/react-query/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  pnpm-lock.yaml
Labels: dependencies, @suspensive/react, @suspensive/react-query, @suspensive/jotai, @suspensive/react-query-4, @suspensive/react-query-5, @suspensive/react-dom, @suspensive/codemods

#1481 fix: ensure JSR version sync during Changeset versioning
  .changeset/forty-clocks-perform.md
  .github/workflows/jsr-publish.yml
  package.json
Labels: workflows

#1482 chore: version packages (next)
  .changeset/pre.json
  packages/codemods/CHANGELOG.md
  packages/codemods/package.json
  packages/jotai/CHANGELOG.md
  packages/jotai/jsr.json
  packages/jotai/package.json
  packages/react-dom/CHANGELOG.md
  packages/react-dom/jsr.json
  packages/react-dom/package.json
  packages/react-native/jsr.json
  packages/react-query-4/CHANGELOG.md
  packages/react-query-4/jsr.json
  packages/react-query-4/package.json
  packages/react-query-5/CHANGELOG.md
  packages/react-query-5/jsr.json
  packages/react-query-5/package.json
  packages/react-query/CHANGELOG.md
  packages/react-query/jsr.json
  packages/react-query/package.json
  packages/react/CHANGELOG.md
  packages/react/jsr.json
  packages/react/package.json
  pnpm-lock.yaml
Labels: dependencies, @suspensive/react, @suspensive/react-query, @suspensive/jotai, @suspensive/react-query-4, @suspensive/react-query-5, @suspensive/react-native, @suspensive/react-dom, @suspensive/codemods

#1483 fix: configure JSR publishing with GitHub Actions OIDC
  .changeset/full-moments-run.md
  .github/workflows/release.yml
Labels: workflows

#1484 fix: add contents write permission to release workflow
  .changeset/busy-deer-attack.md
  .github/workflows/release.yml
Labels: workflows

#1485 chore: version packages (next)
  .changeset/pre.json
  packages/codemods/CHANGELOG.md
  packages/codemods/package.json
  packages/jotai/CHANGELOG.md
  packages/jotai/jsr.json
  packages/jotai/package.json
  packages/react-dom/CHANGELOG.md
  packages/react-dom/jsr.json
  packages/react-dom/package.json
  packages/react-query-4/CHANGELOG.md
  packages/react-query-4/jsr.json
  packages/react-query-4/package.json
  packages/react-query-5/CHANGELOG.md
  packages/react-query-5/jsr.json
  packages/react-query-5/package.json
  packages/react-query/CHANGELOG.md
  packages/react-query/jsr.json
  packages/react-query/package.json
  packages/react/CHANGELOG.md
  packages/react/jsr.json
  packages/react/package.json
  pnpm-lock.yaml
Labels: dependencies, @suspensive/react, @suspensive/react-query, @suspensive/jotai, @suspensive/react-query-4, @suspensive/react-query-5, @suspensive/react-dom, @suspensive/codemods

#1487 chore: version packages (next)
  .changeset/pre.json
  packages/codemods/CHANGELOG.md
  packages/codemods/package.json
  packages/jotai/CHANGELOG.md
  packages/jotai/jsr.json
  packages/jotai/package.json
  packages/react-dom/CHANGELOG.md
  packages/react-dom/jsr.json
  packages/react-dom/package.json
  packages/react-query-4/CHANGELOG.md
  packages/react-query-4/jsr.json
  packages/react-query-4/package.json
  packages/react-query-5/CHANGELOG.md
  packages/react-query-5/jsr.json
  packages/react-query-5/package.json
  packages/react-query/CHANGELOG.md
  packages/react-query/jsr.json
  packages/react-query/package.json
  packages/react/CHANGELOG.md
  packages/react/jsr.json
  packages/react/package.json
  pnpm-lock.yaml
Labels: dependencies, @suspensive/react, @suspensive/react-query, @suspensive/jotai, @suspensive/react-query-4, @suspensive/react-query-5, @suspensive/react-dom, @suspensive/codemods

#1489 chore: version packages (next)
  .changeset/pre.json
  packages/codemods/CHANGELOG.md
  packages/codemods/package.json
  packages/jotai/CHANGELOG.md
  packages/jotai/jsr.json
  packages/jotai/package.json
  packages/react-dom/CHANGELOG.md
  packages/react-dom/jsr.json
  packages/react-dom/package.json
  packages/react-query-4/CHANGELOG.md
  packages/react-query-4/jsr.json
  packages/react-query-4/package.json
  packages/react-query-5/CHANGELOG.md
  packages/react-query-5/jsr.json
  packages/react-query-5/package.json
  packages/react-query/CHANGELOG.md
  packages/react-query/jsr.json
  packages/react-query/package.json
  packages/react/CHANGELOG.md
  packages/react/jsr.json
  packages/react/package.json
  pnpm-lock.yaml
Labels: dependencies, @suspensive/react, @suspensive/react-query, @suspensive/jotai, @suspensive/react-query-4, @suspensive/react-query-5, @suspensive/react-dom, @suspensive/codemods

#1490 feat(react-query): add `mutationOptions`
  .changeset/purple-turkeys-notice.md
  packages/react-query-4/src/index.ts
  packages/react-query-4/src/mutationOptions.test-d.tsx
  packages/react-query-4/src/mutationOptions.tsx
  packages/react-query-5/src/index.ts
  packages/react-query-5/src/mutationOptions.test-d.tsx
  packages/react-query-5/src/mutationOptions.tsx
Labels: @suspensive/react-query-4, @suspensive/react-query-5

#1492 chore: version packages (next)
  .changeset/pre.json
  packages/codemods/CHANGELOG.md
  packages/codemods/package.json
  packages/jotai/CHANGELOG.md
  packages/jotai/jsr.json
  packages/jotai/package.json
  packages/react-dom/CHANGELOG.md
  packages/react-dom/jsr.json
  packages/react-dom/package.json
  packages/react-query-4/CHANGELOG.md
  packages/react-query-4/jsr.json
  packages/react-query-4/package.json
  packages/react-query-5/CHANGELOG.md
  packages/react-query-5/jsr.json
  packages/react-query-5/package.json
  packages/react-query/CHANGELOG.md
  packages/react-query/jsr.json
  packages/react-query/package.json
  packages/react/CHANGELOG.md
  packages/react/jsr.json
  packages/react/package.json
  pnpm-lock.yaml
Labels: dependencies, @suspensive/react, @suspensive/react-query, @suspensive/jotai, @suspensive/react-query-4, @suspensive/react-query-5, @suspensive/react-dom, @suspensive/codemods

#1494 fix: Add React import to jsr.json
  .changeset/busy-peas-raise.md
  packages/react/jsr.json
Labels: @suspensive/react

#1495 chore: version packages (next)
  .changeset/pre.json
  packages/codemods/CHANGELOG.md
  packages/codemods/package.json
  packages/jotai/CHANGELOG.md
  packages/jotai/jsr.json
  packages/jotai/package.json
  packages/react-dom/CHANGELOG.md
  packages/react-dom/jsr.json
  packages/react-dom/package.json
  packages/react-query-4/CHANGELOG.md
  packages/react-query-4/jsr.json
  packages/react-query-4/package.json
  packages/react-query-5/CHANGELOG.md
  packages/react-query-5/jsr.json
  packages/react-query-5/package.json
  packages/react-query/CHANGELOG.md
  packages/react-query/jsr.json
  packages/react-query/package.json
  packages/react/CHANGELOG.md
  packages/react/jsr.json
  packages/react/package.json
  pnpm-lock.yaml
Labels: dependencies, @suspensive/react, @suspensive/react-query, @suspensive/jotai, @suspensive/react-query-4, @suspensive/react-query-5, @suspensive/react-dom, @suspensive/codemods

#1496 chore: bump next.js version for CVE-2025-29927
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: dependencies

#1497 chore: Improve JSR imports sync with consistent dependency formatting
  .changeset/kind-waves-build.md
  packages/jotai/jsr.json
  packages/react-dom/jsr.json
  packages/react-native/jsr.json
  packages/react-query-4/jsr.json
  packages/react-query-5/jsr.json
  packages/react-query/jsr.json
  packages/react/jsr.json
  scripts/jsr-sync-versions.ts
Labels: @suspensive/react, @suspensive/react-query, @suspensive/jotai, @suspensive/react-query-4, @suspensive/react-query-5, @suspensive/react-native, @suspensive/react-dom

#1498 chore: version packages (next)
  .changeset/pre.json
  packages/codemods/CHANGELOG.md
  packages/codemods/package.json
  packages/jotai/CHANGELOG.md
  packages/jotai/jsr.json
  packages/jotai/package.json
  packages/react-dom/CHANGELOG.md
  packages/react-dom/jsr.json
  packages/react-dom/package.json
  packages/react-native/CHANGELOG.md
  packages/react-native/jsr.json
  packages/react-native/package.json
  packages/react-query-4/CHANGELOG.md
  packages/react-query-4/jsr.json
  packages/react-query-4/package.json
  packages/react-query-5/CHANGELOG.md
  packages/react-query-5/jsr.json
  packages/react-query-5/package.json
  packages/react-query/CHANGELOG.md
  packages/react-query/jsr.json
  packages/react-query/package.json
  packages/react/CHANGELOG.md
  packages/react/jsr.json
  packages/react/package.json
  pnpm-lock.yaml
Labels: dependencies, @suspensive/react, @suspensive/react-query, @suspensive/jotai, @suspensive/react-query-4, @suspensive/react-query-5, @suspensive/react-native, @suspensive/react-dom, @suspensive/codemods

#1499 ci(*): sort by dependencies graph (jsr)
  .changeset/poor-zoos-develop.md
  package.json
  packages/react-query-4/jsr.json
  packages/react-query-5/jsr.json
  scripts/jsr-dry-run.ts
  scripts/jsr-publish.ts
  scripts/jsr-utils.ts
Labels: @suspensive/react-query-4, @suspensive/react-query-5
