Repository toss/suspensive, pull requests merged in 2025-01, with the labels that each got.

#1412 docs(suspensive.org): correct queryOptions to infiniteQueryOptions in SuspenseInfiniteQuery example
  docs/suspensive.org/src/pages/en/docs/react-query/SuspenseInfiniteQuery.mdx
  docs/suspensive.org/src/pages/ko/docs/react-query/SuspenseInfiniteQuery.mdx
Labels: suspensive.org

#1411 chore: update deps
  README.md
  configs/eslint-config/package.json
  configs/tsup/package.json
  docs/suspensive.org/package.json
  docs/suspensive.org/src/components/Callout.tsx
  examples/next-streaming-react-query/package.json
  examples/react-native-playground/app.json
  examples/react-native-playground/app/_layout.tsx
  examples/react-native-playground/app/index.tsx
  examples/react-native-playground/package.json
  examples/react-native-playground/scripts/reset-project.js
  examples/react-native-playground/src/providers.tsx
  examples/visualization/package.json
  package.json
  packages/codemods/package.json
  packages/jotai/package.json
  packages/react-dom/package.json
  packages/react-native/package.json
  packages/react-query-4/package.json
  packages/react-query-5/package.json
  packages/react-query/package.json
  packages/react/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: dependencies, @suspensive/react, @suspensive/react-query, suspensive.org, @suspensive/jotai, @suspensive/react-query-4, @suspensive/react-query-5, @suspensive/react-native, @suspensive/react-dom, examples, @suspensive/codemods

#1410 fix(react): prevent rendering fallback if not shouldCatch error
  .changeset/friendly-dolphins-reflect.md
  examples/visualization/src/app/layout.tsx
  examples/visualization/src/app/react/ErrorBoundary/shouldCatch/renderPhase/page.tsx
  examples/visualization/src/components/Throw.tsx
  examples/visualization/src/hooks/index.ts
  examples/visualization/src/hooks/useTimeout.ts
  packages/react/src/ErrorBoundary.spec.tsx
  packages/react/src/ErrorBoundary.tsx
Labels: @suspensive/react, examples

#1413 chore: version packages
  .changeset/friendly-dolphins-reflect.md
  packages/jotai/CHANGELOG.md
  packages/jotai/package.json
  packages/react-query-4/CHANGELOG.md
  packages/react-query-4/package.json
  packages/react-query-5/CHANGELOG.md
  packages/react-query-5/package.json
  packages/react-query/CHANGELOG.md
  packages/react-query/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  pnpm-lock.yaml
Labels: dependencies, @suspensive/react, @suspensive/react-query, @suspensive/jotai, @suspensive/react-query-4, @suspensive/react-query-5

#1414 fix(react): re-throw SuspensiveError before rerender
  .changeset/healthy-cars-decide.md
  packages/react/src/ErrorBoundary.spec.tsx
  packages/react/src/ErrorBoundary.tsx
Labels: @suspensive/react

#1415 chore: version packages
  .changeset/healthy-cars-decide.md
  packages/jotai/CHANGELOG.md
  packages/jotai/package.json
  packages/react-query-4/CHANGELOG.md
  packages/react-query-4/package.json
  packages/react-query-5/CHANGELOG.md
  packages/react-query-5/package.json
  packages/react-query/CHANGELOG.md
  packages/react-query/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  pnpm-lock.yaml
Labels: dependencies, @suspensive/react, @suspensive/react-query, @suspensive/jotai, @suspensive/react-query-4, @suspensive/react-query-5

#1419 chore(*): pnpm v9.12.3 -> v9.15.4
  CONTRIBUTING.md
  package.json
  pnpm-lock.yaml
Labels: dependencies

#1417 docs(suspensive.org): add npm install copy-button on landing page
  docs/suspensive.org/public/img/icons/check.svg
  docs/suspensive.org/public/img/icons/content_copy.svg
  docs/suspensive.org/src/components/HomePage.tsx
  docs/suspensive.org/src/components/NpmInstallCopyButton.tsx
  docs/suspensive.org/src/pages/en/index.mdx
  docs/suspensive.org/src/pages/ko/index.mdx
  docs/suspensive.org/svg.d.ts
  docs/suspensive.org/tsconfig.json
Labels: suspensive.org

#1421 feat: add transforms fixtures for codemod test
  .prettierignore
  knip.json
  packages/codemods/eslint.config.mjs
  packages/codemods/src/transforms/testfixtures/tanstack-query-import/tanstack-query-import.input.jsx
  packages/codemods/src/transforms/testfixtures/tanstack-query-import/tanstack-query-import.output.jsx
  packages/codemods/src/transforms/tests/tanstack-query-import.test.ts
  packages/codemods/src/transforms/utils/getTestfixtures.spec.ts
  packages/codemods/src/transforms/utils/getTestfixtures.ts
Labels: @suspensive/codemods
