Repository toss/suspensive, pull requests merged in 2025-05, with the labels that each got.

#1551 feat(codemods): add migrate with api codemod
  .changeset/lucky-pugs-type.md
  docs/suspensive.org/src/content/en/docs/codemods/_meta.tsx
  docs/suspensive.org/src/content/en/docs/codemods/migrateWithAPI.mdx
  docs/suspensive.org/src/content/ko/docs/codemods/_meta.tsx
  docs/suspensive.org/src/content/ko/docs/codemods/migrateWithAPI.mdx
  examples/react-native-playground/package.json
  packages/codemods/src/bin/transformRunner.ts
  packages/codemods/src/transforms/migrate-with-api.ts
  packages/codemods/src/transforms/testfixtures/migrate-with-api/migrate-with-api.input.jsx
  packages/codemods/src/transforms/testfixtures/migrate-with-api/migrate-with-api.output.jsx
  packages/codemods/src/transforms/tests/migrate-with-api.test.ts
  pnpm-lock.yaml
Labels: dependencies, suspensive.org, examples, @suspensive/codemods

#1552 chore: version packages
  .changeset/lucky-pugs-type.md
  packages/codemods/CHANGELOG.md
  packages/codemods/package.json
  packages/jotai/CHANGELOG.md
  packages/jotai/package.json
  packages/react-dom/CHANGELOG.md
  packages/react-dom/package.json
  packages/react-query-4/CHANGELOG.md
  packages/react-query-4/package.json
  packages/react-query-5/CHANGELOG.md
  packages/react-query-5/package.json
  packages/react-query/CHANGELOG.md
  packages/react-query/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  pnpm-lock.yaml
Labels: dependencies, @suspensive/react, @suspensive/react-query, @suspensive/jotai, @suspensive/react-query-4, @suspensive/react-query-5, @suspensive/react-dom, @suspensive/codemods

#1553 refactor(react): update ErrorBoundary reset type to arrow function to fix unbound-method lint error
  .changeset/new-drinks-sit.md
  packages/react/src/ErrorBoundary.tsx
Labels: @suspensive/react

#1556 fix(docs): remove unreachable code in BubbleChart component
  docs/suspensive.org/src/components/BubbleChart.tsx
Labels: suspensive.org

#1558 docs: fix language inconsistency in Delay.with section
  docs/suspensive.org/src/content/en/docs/react/Delay.mdx
Labels: suspensive.org

#1559 docs: fix code blocks and component props issues
  docs/suspensive.org/src/components/HomePage.tsx
  docs/suspensive.org/src/content/en/docs/contributors.mdx
  docs/suspensive.org/src/content/en/docs/react-query/SuspenseInfiniteQuery.mdx
  docs/suspensive.org/src/content/ko/docs/contributors.mdx
  docs/suspensive.org/src/content/ko/docs/react-query/SuspenseInfiniteQuery.mdx
Labels: suspensive.org

#1562 fix(docs): align sandpack template dependencies with package.json
  docs/suspensive.org/src/components/Sandpack/baseTemplate.ts
Labels: suspensive.org

#1564 feat(codemods, suspensive.org): add remove networkmode codemod for v3 migration
  .changeset/tidy-cherries-judge.md
  docs/suspensive.org/src/content/en/docs/codemods/_meta.tsx
  docs/suspensive.org/src/content/en/docs/codemods/removeNetworkmode.mdx
  docs/suspensive.org/src/content/ko/docs/codemods/_meta.tsx
  docs/suspensive.org/src/content/ko/docs/codemods/removeNetworkmode.mdx
  packages/codemods/src/bin/transformRunner.ts
  packages/codemods/src/transforms/remove-networkmode.ts
  packages/codemods/src/transforms/testfixtures/remove-networkmode/remove-networkmode.input.jsx
  packages/codemods/src/transforms/testfixtures/remove-networkmode/remove-networkmode.output.jsx
  packages/codemods/src/transforms/tests/remove-networkmode.test.ts
Labels: suspensive.org, @suspensive/codemods

#1557 fix(docs): improve Next.js page component types and structure
  docs/suspensive.org/src/app/[lang]/[[...mdxPath]]/MDXContent.tsx
  docs/suspensive.org/src/app/[lang]/[[...mdxPath]]/page.tsx
Labels: suspensive.org

#1567 chore: version packages
  .changeset/tidy-cherries-judge.md
  packages/codemods/CHANGELOG.md
  packages/codemods/package.json
  packages/jotai/CHANGELOG.md
  packages/jotai/package.json
  packages/react-dom/CHANGELOG.md
  packages/react-dom/package.json
  packages/react-query-4/CHANGELOG.md
  packages/react-query-4/package.json
  packages/react-query-5/CHANGELOG.md
  packages/react-query-5/package.json
  packages/react-query/CHANGELOG.md
  packages/react-query/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  pnpm-lock.yaml
Labels: dependencies, @suspensive/react, @suspensive/react-query, @suspensive/jotai, @suspensive/react-query-4, @suspensive/react-query-5, @suspensive/react-dom, @suspensive/codemods

#1566 docs(suspensive.org): update codemod docs for consistency
  docs/suspensive.org/src/content/en/docs/codemods/migrateQueryClientConsumerProps.mdx
  docs/suspensive.org/src/content/en/docs/codemods/migrateWithAPI.mdx
  docs/suspensive.org/src/content/en/docs/codemods/motivation.mdx
  docs/suspensive.org/src/content/en/docs/codemods/tanstackQueryImport.mdx
  docs/suspensive.org/src/content/en/docs/codemods/usage.mdx
  docs/suspensive.org/src/content/ko/docs/codemods/migrateQueryClientConsumerProps.mdx
  docs/suspensive.org/src/content/ko/docs/codemods/migrateWithAPI.mdx
  docs/suspensive.org/src/content/ko/docs/codemods/motivation.mdx
  docs/suspensive.org/src/content/ko/docs/codemods/tanstackQueryImport.mdx
  docs/suspensive.org/src/content/ko/docs/codemods/usage.mdx
Labels: suspensive.org

#1573 test(react/ErrorBoundaryGroup): use default props in 'ErrorBoundaryGroup.with' when passed 'undefined'
  packages/react/src/ErrorBoundaryGroup.spec.tsx
Labels: @suspensive/react

#1572 test(react/ErrorBoundary): use default props in 'ErrorBoundary.with' when passed 'undefined'
  packages/react/src/ErrorBoundary.spec.tsx
Labels: @suspensive/react

#1571 test(react): add "type='button'" in button element
  packages/react/src/ErrorBoundary.spec.tsx
  packages/react/src/ErrorBoundaryGroup.spec.tsx
Labels: @suspensive/react

#1569 test(react/Suspense): use default props in 'Suspense.with' when passed 'undefined'
  packages/react/src/Suspense.spec.tsx
Labels: @suspensive/react

#1575 chore(package.json): simplify the clean script by removing ‘&&’
  configs/eslint-config/package.json
  configs/tsup/package.json
  docs/suspensive.org/package.json
  examples/next-streaming-react-query/package.json
  examples/react-native-playground/package.json
  examples/visualization/package.json
  packages/codemods/package.json
  packages/jotai/package.json
  packages/react-dom/package.json
  packages/react-native/package.json
  packages/react-query-4/package.json
  packages/react-query-5/package.json
  packages/react-query/package.json
  packages/react/package.json
Labels: @suspensive/react, @suspensive/react-query, suspensive.org, @suspensive/jotai, @suspensive/react-query-4, @suspensive/react-query-5, @suspensive/react-native, @suspensive/react-dom, examples, @suspensive/codemods

#1576 test(react-dom/FadeIn): add test for default styles without 'duration' and 'timingFunction'
  packages/react-dom/src/FadeIn.spec.tsx
Labels: @suspensive/react-dom

#1577 test(react-dom): add 'useFadeIn'
  packages/react-dom/src/useFadeIn.spec.tsx
Labels: @suspensive/react-dom

#1578 test(react-dom/observe): add test to ensure root ID is reused
  packages/react-dom/src/utils/observe.spec.ts
Labels: @suspensive/react-dom

#1579 test(react-dom/observe): add test for fallback when 'IntersectionObserver' is 'undefined'
  packages/react-dom/src/utils/observe.spec.ts
Labels: @suspensive/react-dom

#1581 test(react-dom/observe): add 'describe'
  packages/react-dom/src/utils/observe.spec.ts
Labels: @suspensive/react-dom

#1574 fix(react-query): replace wildcard exports with named exports
  .changeset/late-cobras-camp.md
  packages/react-query/src/index.ts
  packages/react-query/src/v4.ts
  packages/react-query/src/v5.ts
Labels: @suspensive/react-query

#1584 chore: version packages
  .changeset/late-cobras-camp.md
  packages/codemods/CHANGELOG.md
  packages/codemods/package.json
  packages/jotai/CHANGELOG.md
  packages/jotai/package.json
  packages/react-dom/CHANGELOG.md
  packages/react-dom/package.json
  packages/react-query-4/CHANGELOG.md
  packages/react-query-4/package.json
  packages/react-query-5/CHANGELOG.md
  packages/react-query-5/package.json
  packages/react-query/CHANGELOG.md
  packages/react-query/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  pnpm-lock.yaml
Labels: dependencies, @suspensive/react, @suspensive/react-query, @suspensive/jotai, @suspensive/react-query-4, @suspensive/react-query-5, @suspensive/react-dom, @suspensive/codemods

#1583 chore: update eslint-plugin-react-hooks to version 6.0.0-rc.1 and remove react-compiler plugin
  configs/eslint-config/index.js
  configs/eslint-config/package.json
  pnpm-lock.yaml
Labels: dependencies

#1588 refactor(react): remove experimental comment from DelayProps type
  .changeset/fair-dolls-tan.md
  packages/react/src/Delay.tsx
Labels: @suspensive/react

#1589 chore: version packages
  .changeset/fair-dolls-tan.md
  packages/jotai/CHANGELOG.md
  packages/jotai/package.json
  packages/react-query-4/CHANGELOG.md
  packages/react-query-4/package.json
  packages/react-query-5/CHANGELOG.md
  packages/react-query-5/package.json
  packages/react-query/CHANGELOG.md
  packages/react-query/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  pnpm-lock.yaml
Labels: dependencies, @suspensive/react, @suspensive/react-query, @suspensive/jotai, @suspensive/react-query-4, @suspensive/react-query-5

#1591 chore: version packages
  .changeset/open-poets-remain.md
  packages/codemods/CHANGELOG.md
  packages/codemods/package.json
  packages/jotai/CHANGELOG.md
  packages/jotai/package.json
  packages/react-dom/CHANGELOG.md
  packages/react-dom/package.json
  packages/react-native/CHANGELOG.md
  packages/react-native/package.json
  packages/react-query-4/CHANGELOG.md
  packages/react-query-4/package.json
  packages/react-query-5/CHANGELOG.md
  packages/react-query-5/package.json
  packages/react-query/CHANGELOG.md
  packages/react-query/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  pnpm-lock.yaml
Labels: dependencies, @suspensive/react, @suspensive/react-query, @suspensive/jotai, @suspensive/react-query-4, @suspensive/react-query-5, @suspensive/react-native, @suspensive/react-dom, @suspensive/codemods
