Repository toss/suspensive, pull requests merged in 2025-07, with the labels that each got.

#1639 fix(react-query): update peerDependency, @tanstack/react-query to version 4.40.0 and deprecate old options
  .changeset/healthy-apricots-chew.md
  docs/suspensive.org/src/components/BubbleChart.tsx
  packages/react-query-4/src/PrefetchQuery.test-d.tsx
  packages/react-query-4/src/SuspenseQueries.test-d.tsx
  packages/react-query-4/src/SuspenseQueries.tsx
  packages/react-query-4/src/SuspenseQuery.test-d.tsx
  packages/react-query-4/src/SuspenseQuery.tsx
  packages/react-query-4/src/infiniteQueryOptions.ts
  packages/react-query-4/src/queryOptions.test-d.tsx
  packages/react-query-4/src/queryOptions.ts
  packages/react-query-4/src/usePrefetchQuery.test-d.tsx
  packages/react-query-4/src/useSuspenseQueries.test-d.ts
  packages/react-query-4/src/useSuspenseQueries.ts
  packages/react-query-4/src/useSuspenseQuery.test-d.ts
  packages/react-query-4/src/useSuspenseQuery.ts
  packages/react-query/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: dependencies, @suspensive/react-query, suspensive.org, @suspensive/react-query-4

#1640 chore: version packages
  .changeset/healthy-apricots-chew.md
  packages/codemods/CHANGELOG.md
  packages/codemods/package.json
  packages/jotai/CHANGELOG.md
  packages/jotai/package.json
  packages/react-dom/CHANGELOG.md
  packages/react-dom/package.json
  packages/react-query-4/CHANGELOG.md
  packages/react-query-4/package.json
  packages/react-query-5/CHANGELOG.md
  packages/react-query-5/package.json
  packages/react-query/CHANGELOG.md
  packages/react-query/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  pnpm-lock.yaml
Labels: dependencies, @suspensive/react, @suspensive/react-query, @suspensive/jotai, @suspensive/react-query-4, @suspensive/react-query-5, @suspensive/react-dom, @suspensive/codemods

#1647 chore: hoist prettier plugin deps to root
  docs/suspensive.org/package.json
  examples/next-streaming-react-query/package.json
  examples/visualization/package.json
  package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: dependencies, suspensive.org, examples

#1652 fix(react): re-struct lazy interface
  docs/suspensive.org/src/content/en/docs/react/lazy.mdx
  docs/suspensive.org/src/content/en/docs/react/safeLazy.mdx
  docs/suspensive.org/src/content/ko/docs/react/lazy.mdx
  docs/suspensive.org/src/content/ko/docs/react/safeLazy.mdx
  examples/visualization/src/app/react/lazy/Comp.tsx
  examples/visualization/src/app/react/lazy/page.tsx
  packages/react/src/index.ts
  packages/react/src/lazy.spec.tsx
  packages/react/src/lazy.ts
  packages/react/src/test-utils/Component.tsx
  packages/react/src/utils/safeLazy.test.tsx
  packages/react/src/utils/safeLazy.ts
Labels: @suspensive/react, suspensive.org, examples

#1656 feat(react): Add options for reloading component infinitely
  docs/suspensive.org/src/content/en/docs/react/lazy.mdx
  docs/suspensive.org/src/content/ko/docs/react/lazy.mdx
  packages/react/src/lazy.spec.tsx
  packages/react/src/lazy.ts
Labels: @suspensive/react, suspensive.org

#1662 chore: version packages
  .changeset/chatty-clouds-walk.md
  packages/codemods/CHANGELOG.md
  packages/codemods/package.json
  packages/jotai/CHANGELOG.md
  packages/jotai/package.json
  packages/react-dom/CHANGELOG.md
  packages/react-dom/package.json
  packages/react-query-4/CHANGELOG.md
  packages/react-query-4/package.json
  packages/react-query-5/CHANGELOG.md
  packages/react-query-5/package.json
  packages/react-query/CHANGELOG.md
  packages/react-query/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  pnpm-lock.yaml
Labels: dependencies, @suspensive/react, @suspensive/react-query, @suspensive/jotai, @suspensive/react-query-4, @suspensive/react-query-5, @suspensive/react-dom, @suspensive/codemods

#1664 chore: version packages
  .changeset/cold-worlds-sniff.md
  packages/codemods/CHANGELOG.md
  packages/codemods/package.json
  packages/jotai/CHANGELOG.md
  packages/jotai/package.json
  packages/react-dom/CHANGELOG.md
  packages/react-dom/package.json
  packages/react-query-4/CHANGELOG.md
  packages/react-query-4/package.json
  packages/react-query-5/CHANGELOG.md
  packages/react-query-5/package.json
  packages/react-query/CHANGELOG.md
  packages/react-query/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  pnpm-lock.yaml
Labels: dependencies, @suspensive/react, @suspensive/react-query, @suspensive/jotai, @suspensive/react-query-4, @suspensive/react-query-5, @suspensive/react-dom, @suspensive/codemods

#1659 feat(react): Add option for reloading on error
  docs/suspensive.org/src/content/en/docs/react/lazy.mdx
  docs/suspensive.org/src/content/ko/docs/react/lazy.mdx
  packages/react/src/index.ts
  packages/react/src/lazy.spec.tsx
  packages/react/src/lazy.ts
Labels: @suspensive/react, suspensive.org

#1667 fix(react): Fix ordering of onError handlers
  packages/react/src/lazy.spec.tsx
  packages/react/src/lazy.ts
Labels: @suspensive/react

#1670 refactor(react): enhance reloadOnErrorOptions by clarifying default storage and reload function documentation
  packages/react/src/lazy.ts
Labels: @suspensive/react
