Repository toss/suspensive, pull requests merged in 2025-09, with the labels that each got.

#1727 ci(.github): update 'actions/setup-node' to v5, 'actions/configure-pages' to v5, 'actions/upload-pages-artifact' to v4
  .github/actions/pnpm-setup-node/action.yml
  .github/workflows/graph.yml
Labels: workflows

#1726 feat(react-query): mark `@suspensive/react-query-5`'s `mutationOptions` as deprecated, `@suspensive/react-query-4`'s `mutationOptions` as stable
  .changeset/slow-wolves-sparkle.md
  docs/suspensive.org/src/content/en/docs/react-query/mutationOptions.mdx
  docs/suspensive.org/src/content/ko/docs/react-query/mutationOptions.mdx
  packages/react-query-4/src/mutationOptions.tsx
  packages/react-query-5/src/PrefetchQuery.tsx
  packages/react-query-5/src/SuspenseInfiniteQuery.tsx
  packages/react-query-5/src/mutationOptions.test-d.tsx
  packages/react-query-5/src/mutationOptions.tsx
  packages/react-query/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: dependencies, @suspensive/react-query, suspensive.org, @suspensive/react-query-4, @suspensive/react-query-5

#1728 chore: version packages
  .changeset/slow-wolves-sparkle.md
  packages/codemods/CHANGELOG.md
  packages/codemods/package.json
  packages/jotai/CHANGELOG.md
  packages/jotai/package.json
  packages/react-dom/CHANGELOG.md
  packages/react-dom/package.json
  packages/react-query-4/CHANGELOG.md
  packages/react-query-4/package.json
  packages/react-query-5/CHANGELOG.md
  packages/react-query-5/package.json
  packages/react-query/CHANGELOG.md
  packages/react-query/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  pnpm-lock.yaml
Labels: dependencies, @suspensive/react, @suspensive/react-query, @suspensive/jotai, @suspensive/react-query-4, @suspensive/react-query-5, @suspensive/react-dom, @suspensive/codemods

#1732 chore: version packages
  .changeset/eager-gifts-stand.md
  packages/codemods/CHANGELOG.md
  packages/codemods/package.json
  packages/jotai/CHANGELOG.md
  packages/jotai/package.json
  packages/react-dom/CHANGELOG.md
  packages/react-dom/package.json
  packages/react-query-4/CHANGELOG.md
  packages/react-query-4/package.json
  packages/react-query-5/CHANGELOG.md
  packages/react-query-5/package.json
  packages/react-query/CHANGELOG.md
  packages/react-query/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  pnpm-lock.yaml
Labels: dependencies, @suspensive/react, @suspensive/react-query, @suspensive/jotai, @suspensive/react-query-4, @suspensive/react-query-5, @suspensive/react-dom, @suspensive/codemods

#1741 chore(ci): add strip-hash option to compressed-size-action
  .github/workflows/ci.yml
Labels: workflows

#1753 chore: version packages
  .changeset/npm-oidc-support.md
  packages/codemods/CHANGELOG.md
  packages/codemods/package.json
  packages/jotai/CHANGELOG.md
  packages/jotai/package.json
  packages/react-dom/CHANGELOG.md
  packages/react-dom/package.json
  packages/react-native/CHANGELOG.md
  packages/react-native/package.json
  packages/react-query-4/CHANGELOG.md
  packages/react-query-4/package.json
  packages/react-query-5/CHANGELOG.md
  packages/react-query-5/package.json
  packages/react-query/CHANGELOG.md
  packages/react-query/package.json
  packages/react/CHANGELOG.md
  packages/react/package.json
  pnpm-lock.yaml
Labels: dependencies, @suspensive/react, @suspensive/react-query, @suspensive/jotai, @suspensive/react-query-4, @suspensive/react-query-5, @suspensive/react-native, @suspensive/react-dom, @suspensive/codemods

#1734 feat(react): `useIsClient` as public api
  .changeset/seven-years-live.md
  .prettierignore
  docs/suspensive.org/src/content/en/docs/react/ClientOnly.mdx
  docs/suspensive.org/src/content/en/docs/react/_meta.tsx
  docs/suspensive.org/src/content/en/docs/react/useIsClient.mdx
  docs/suspensive.org/src/content/ko/docs/react/ClientOnly.mdx
  docs/suspensive.org/src/content/ko/docs/react/_meta.tsx
  docs/suspensive.org/src/content/ko/docs/react/useIsClient.mdx
  packages/react/src/ClientOnly.spec.tsx
  packages/react/src/ClientOnly.tsx
  packages/react/src/index.ts
  packages/react/src/useIsClient.spec.tsx
  packages/react/src/useIsClient.ts
Labels: @suspensive/react, suspensive.org

#1756 chore: update build scripts and dependencies
  .changeset/moody-roses-protect.md
  .github/workflows/ci.yml
  configs/eslint-config/index.js
  configs/tsdown/package.json
  configs/tsdown/src/index.ts
  examples/visualization/src/app/react/lazy/Comp.tsx
  examples/vite-react-18-suspense-prerender-siblings-problem/tsconfig.tsbuildinfo
  package.json
  packages/codemods/package.json
  packages/jotai/package.json
  packages/react-dom/package.json
  packages/react-native/package.json
  packages/react-query-4/package.json
  packages/react-query-5/package.json
  packages/react-query/package.json
  packages/react/package.json
  pnpm-lock.yaml
  turbo.json
Labels: dependencies, workflows, @suspensive/react, @suspensive/react-query, @suspensive/jotai, @suspensive/react-query-4, @suspensive/react-query-5, @suspensive/react-native, @suspensive/react-dom, examples, @suspensive/codemods
