Repository toss/suspensive, pull requests merged in 2025-06, with the labels that each got.

#1592 test(jotai): add tests for 'Atom'
  packages/jotai/src/Atom.spec.tsx
Labels: @suspensive/jotai

#1593 test(jotai): add tests for 'AtomValue'
  packages/jotai/src/AtomValue.spec.tsx
Labels: @suspensive/jotai

#1600 chore: update dependencies and remove commitlint configuration
  .husky/commit-msg
  CONTRIBUTING.md
  commitlint.config.mjs
  docs/suspensive.org/package.json
  examples/visualization/package.json
  examples/vite-react-18-suspense-prerender-siblings-problem/package.json
  package.json
  packages/react/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Labels: dependencies, @suspensive/react, suspensive.org, examples

#1601 test(jotai/AtomValue): add test for readable derived atom
  packages/jotai/src/AtomValue.spec.tsx
Labels: @suspensive/jotai

#1602 test(jotai/Atom): add test for writable derived atom
  packages/jotai/src/Atom.spec.tsx
Labels: @suspensive/jotai

#1604 test(jotai/Atom): add test for reading and updating async atom with Suspense
  packages/jotai/src/Atom.spec.tsx
Labels: @suspensive/jotai

#1603 test(jotai): use 'screen.getByText' instead of destructuring 'getByText'
  packages/jotai/src/Atom.spec.tsx
Labels: @suspensive/jotai

#1606 test(jotai/{Atom,SetAtom}): add case for updater function in writable atom
  packages/jotai/src/Atom.spec.tsx
  packages/jotai/src/SetAtom.spec.tsx
Labels: @suspensive/jotai

#1607 docs(suspensive.org/content): use nextra's 'Table' component instead of native 'table'
  docs/suspensive.org/src/content/en/docs/jotai/installation.mdx
  docs/suspensive.org/src/content/en/docs/react-dom/installation.mdx
  docs/suspensive.org/src/content/en/docs/react-query/installation.mdx
  docs/suspensive.org/src/content/en/docs/react-query/motivation.mdx
  docs/suspensive.org/src/content/en/docs/react/installation.mdx
  docs/suspensive.org/src/content/ko/docs/jotai/installation.mdx
  docs/suspensive.org/src/content/ko/docs/react-dom/installation.mdx
  docs/suspensive.org/src/content/ko/docs/react-query/installation.mdx
  docs/suspensive.org/src/content/ko/docs/react-query/motivation.mdx
  docs/suspensive.org/src/content/ko/docs/react/installation.mdx
Labels: suspensive.org

#1611 test(jotai/Atom): remove test for error when calling setAtom on read-only atom
  packages/jotai/src/Atom.spec.tsx
Labels: @suspensive/jotai

#1614 test(codemods/getTestfixtures): add test for reading fixture files with default 'js' extension
  packages/codemods/src/transforms/utils/getTestfixtures.spec.ts
Labels: @suspensive/codemods

#1616 test(jotai): add 'useFakeTimers' and 'useRealTimers'
  packages/jotai/src/Atom.spec.tsx
  packages/jotai/src/AtomValue.spec.tsx
  packages/jotai/src/SetAtom.spec.tsx
Labels: @suspensive/jotai

#1618 refactor(examples): add 'type="button"' to button elements
  examples/next-streaming-react-query/src/app/page.tsx
  examples/visualization/src/app/react/useErrorBoundary/page.tsx
  examples/visualization/src/app/react/useSyncExternalStore/page.tsx
  examples/visualization/src/app/react/wrap/page.tsx
  examples/vite-react-18-suspense-prerender-siblings-problem/src/App.tsx
Labels: examples

#1626 test(react/useTimeout): reduce overall test time with 'useFakeTimers' and 'useRealTimers'
  packages/react/src/hooks/useTimeout.spec.tsx
Labels: @suspensive/react

#1620 chore(react-native/jest.config): remove unused eslint-disable-next-line
  packages/react-native/jest.config.ts
Labels: @suspensive/react-native

#1624 test(react/Suspense): reduce overall test time with 'useFakeTimers' and 'useRealTimers'
  packages/react/src/Suspense.spec.tsx
Labels: @suspensive/react

#1625 test(react/Delay): add 'act' to remove state update warning
  packages/react/src/Delay.spec.tsx
Labels: @suspensive/react

#1622 test(react/DefaultProps): reduce overall test time with 'useFakeTimers' and 'useRealTimers'
  packages/react/src/DefaultProps.spec.tsx
Labels: @suspensive/react

#1621 test(react/ErrorBoundary): reduce overall test time with 'useFakeTimers' and 'useRealTimers'
  packages/react/src/ErrorBoundary.spec.tsx
Labels: @suspensive/react

#1623 test(react/ErrorBoundaryGroup): reduce overall test time with 'useFakeTimers' and 'useRealTimers'
  packages/react/src/ErrorBoundaryGroup.spec.tsx
Labels: @suspensive/react

#1630 test(react-dom/InView): complete tests by adding missing 'expect'
  packages/react-dom/src/InView.spec.tsx
Labels: @suspensive/react-dom

#1635 test(cli): update compatibility message in fix command test
  packages/react-query/src/bin/cli.spec.ts
Labels: @suspensive/react-query

#1637 test(react-dom/useInView): complete tests by adding missing 'expect'
  packages/react-dom/src/useInView.spec.tsx
Labels: @suspensive/react-dom
